@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.toggle-button {
  display: flex;
  align-items: center;
  gap: 1rem;

  border: 0;
  outline: 0;
  padding: 0.8rem 1rem;
  background-color: rgba(vars.$clr-black, 0.25);
  color: vars.$clr-white;
  border-radius: 10rem;
  cursor: pointer;

  @media screen and (max-width: 31.25em) {
    background-color: rgba(vars.$clr-tertiary-blue, 0.5);
  }

  &.nav {
    display: none;

    @media screen and (max-width: 34.375em) {
      display: flex;
      padding: 0;
      background-color: transparent;
      border-radius: unset;
    }

    span {
      font-size: 1.7rem;
    }

    svg {
      stroke-width: 3px;
    }
  }

  span {
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    font-weight: 700;
    font-size: 1.5rem;
    color: currentColor;
  }

  svg {
    width: 2.5rem;
    fill: currentColor;
    stroke-width: 2px;
  }
}
