@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.updatePassword {
  &__container {
    background-color: vars.$clr-secondary-blue;
    padding: 3rem;
    border-radius: 0.5rem;

    @media screen and (max-width: 76.25em) {
      padding: 2.5rem;
    }

    @include bp.lg {
      padding: 3rem;
    }

    @include bp.sm {
      padding: 0;
      background-color: transparent;
      border-radius: 0;
    }
  }

  &__wrapper {
    margin-top: 4rem;
  }

  &__form {
    &--inputs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2rem;

      input {
        width: 39rem;
        background-color: vars.$clr-primary-blue;

        &:focus {
          background-color: vars.$clr-tertiary-blue;
        }
      }
    }

    button {
      width: fit-content;
      margin-top: 2rem;
    }
  }
}
