@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.update-password {
  &__container {
    background-color: vars.$clr-secondary-blue;
    padding: 3rem;
    border-radius: 0.5rem;

    @media screen and (max-width: 76.25em) {
      padding: 2.5rem;
    }

    @include bp.lg {
      padding: 3rem;
    }

    @media screen and (max-width: 34.375em) {
      padding: 3rem 2rem;
    }

    @media screen and (max-width: 31.5em) {
      padding: 2rem;
    }

    @media screen and (max-width: 31.25em) {
      padding: 0;
      padding-bottom: 1.5rem;
      background-color: transparent;
      border-radius: 0;
    }
  }

  &__wrapper {
    margin-top: 4rem;
  }

  &__form {
    &--inputs,
    &--confirm {
      .input {
        input {
          background-color: vars.$clr-primary-blue;
          border-color: vars.$clr-primary-blue;

          @media screen and (max-width: 31.25em) {
            border-color: vars.$clr-secondary-blue;
          }

          &:focus {
            background-color: vars.$clr-tertiary-blue;
            border-color: vars.$clr-tertiary-blue;

            @media screen and (max-width: 31.25em) {
              background-color: vars.$clr-secondary-blue;
            }
          }
        }
      }
    }

    &--inputs {
      display: flex;
      justify-content: space-between;
      gap: 2rem;

      @media screen and (max-width: 37.5em) {
        flex-wrap: wrap;
        gap: 0rem;

        margin-bottom: 2rem;
      }
    }

    &--confirm {
      width: 100%;
    }

    button {
      width: fit-content;
      margin-top: 2rem;

      @media screen and (max-width: 34.375em) {
        width: 100%;
      }
    }
  }
}
