@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.scroll-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  backface-visibility: hidden;
  overflow: hidden;
  z-index: 4500;
  transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease;

  &.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  &.hide {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-0.5rem);
  }

  &__indicator {
    width: 0%;
    height: 100%;
    border-radius: 1rem;
    transition: width 0.15s ease-out, background-color 0.3s linear;
  }
}
