@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 700;
  font-size: 1.4rem;
  height: 5.25rem;
  background-color: vars.$clr-tertiary-blue;
  color: inherit;
  border-radius: 0.5rem;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &.active {
    &::after {
      content: '';
      display: inline-block;
      width: 0.5rem;
      height: 100%;
      background-color: vars.$clr-pink-dark-1;

      @media screen and (max-width: 18.75em) {
        width: 3px;
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      display: block;
      width: 100%;
      height: 100%;
      text-transform: uppercase;
      font-weight: inherit;
      font-size: inherit;
      padding: 1.5rem 1rem;
    }

    &:disabled {
      opacity: 0.75;
      cursor: default;
    }
  }
}
