@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.coment-user-skeleton {
  &__img {
    width: 3.25rem !important;
    height: 3.25rem !important;

    @media screen and (max-width: 21.5em) {
      width: 3rem !important;
      height: 3rem !important;
    }

    @media screen and (max-width: 20em) {
      width: 2.75rem !important;
      height: 2.75rem !important;
    }

    @media screen and (max-width: 18.75em) {
      width: 2.5rem !important;
      height: 2.5rem !important;
    }

    @media screen and (max-width: 17.5em) {
      width: 2.25rem !important;
      height: 2.25rem !important;
    }

    &::after {
      border-radius: 50%;
    }

    &:not(:last-child) {
      margin-left: -1rem;

      @media screen and (max-width: 22.5em) {
        margin-left: -0.75rem;
      }

      @media screen and (max-width: 17.5em) {
        margin-left: -0.65rem;
      }
    }
  }
}
