@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.team-item {
  width: 30rem;
  box-shadow: vars.$box;
  border-radius: 1rem;
  overflow: hidden;

  @media screen and (max-width: 43.75em) {
    width: 31rem;
  }

  @media screen and (max-width: 41.875em) {
    width: 30rem;
  }

  @media screen and (max-width: 38.75em) {
    width: 29rem;
  }

  @media screen and (max-width: 37.5em) {
    width: 26rem;
  }

  @media screen and (max-width: 34.375em) {
    width: 24rem;
  }

  @include bp.sm {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 2rem;
  }

  @media screen and (min-width: 106.25em) {
    width: 32rem;
  }

  @media screen and (min-width: 112.5em) {
    width: 34rem;
  }

  @media screen and (min-width: 125em) {
    width: 37rem;
  }

  &__container {
    width: 100%;
    height: 25rem;
    background-color: rgba(vars.$clr-black, 0.2);

    @media screen and (max-width: 51.25em) {
      height: 21rem;
    }

    @media screen and (max-width: 43.75em) {
      height: 27rem;
    }

    @media screen and (max-width: 41.875em) {
      height: 25rem;
    }

    @media screen and (max-width: 38.75em) {
      height: 24rem;
    }

    @media screen and (max-width: 37.5em) {
      height: 22rem;
    }

    @include bp.sm {
      width: 20rem;
      height: 20rem;
    }

    @media screen and (max-width: 28.125em) {
      width: 18rem;
      height: 18rem;
    }

    @media screen and (max-width: 26.875em) {
      width: 17rem;
      height: 17rem;
    }

    @media screen and (max-width: 26.25em) {
      width: 16rem;
      height: 16rem;
    }

    @media screen and (max-width: 25em) {
      width: 15rem;
      height: 15rem;
    }

    @media screen and (max-width: 24.375em) {
      width: 14rem;
      height: 14rem;
    }

    @media screen and (max-width: 23.75em) {
      width: 13rem;
      height: 13rem;
    }

    @media screen and (max-width: 23.4375em) {
      width: 12rem;
      height: 12rem;
    }

    @media screen and (max-width: 22.5em) {
      width: 11rem;
      height: 11rem;
    }

    @media screen and (max-width: 18.75em) {
      width: 10rem;
      height: 10rem;
    }

    @media screen and (min-width: 106.25em) {
      height: 27rem;
    }

    @media screen and (min-width: 112.5em) {
      height: 30rem;
    }

    @media screen and (min-width: 125em) {
      height: 35rem;
    }

    &--img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-fit: contain;
      background-color: rgba(vars.$clr-black, 0.2);
    }
  }

  &__wrapper {
    min-height: 12rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    @include bp.md {
      min-height: 11rem;
    }

    @media screen and (max-width: 43.75em) {
      min-height: 13rem;
    }

    @media screen and (max-width: 41.875em) {
      min-height: 12rem;
    }

    @media screen and (max-width: 37.5em) {
      min-height: 11rem;
    }

    @media screen and (max-width: 34.375em) {
      min-height: 10.5rem;
    }

    @include bp.sm {
      min-height: 0;
      align-items: flex-start;
    }

    @media screen and (min-width: 106.25em) {
      min-height: 12.5rem;
    }

    @media screen and (min-width: 112.5em) {
      min-height: 13rem;
    }

    @media screen and (min-width: 125em) {
      min-height: 15rem;
    }

    &--name {
      display: inline-block;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: 1.5rem;
      color: inherit;
      line-height: 1;

      @media screen and (max-width: 56.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.7rem;
      }

      @include bp.sm {
        font-size: 2rem;
      }

      @media screen and (max-width: 26.875em) {
        font-size: 1.85rem;
      }

      @media screen and (max-width: 25em) {
        font-size: 1.75rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.7rem;
      }

      @media screen and (max-width: 17.5em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 106.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.7rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2rem;
      }
    }

    &--role {
      text-transform: capitalize;
      font-weight: 400;
      font-size: 1.4rem;
      color: vars.$clr-gray-light-3;

      @media screen and (max-width: 56.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: var(--default-font-size);
      }

      @include bp.sm {
        font-size: 1.9rem;
      }

      @media screen and (max-width: 26.875em) {
        font-size: 1.75rem;
      }

      @media screen and (max-width: 25em) {
        font-size: 1.65rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 17.5em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 125em) {
        font-size: 1.9rem;
      }
    }

    &--socials {
      display: flex;
      align-items: center;
      gap: 1rem;

      a {
        &:link,
        &:visited {
          color: vars.$clr-gray-light-1;

          svg {
            font-size: 1.5rem;
            fill: currentColor;

            @media screen and (max-width: 56.25em) {
              font-size: var(--default-font-size);
            }

            @media screen and (max-width: 51.25em) {
              font-size: 1.7rem;
            }

            @include bp.sm {
              font-size: 2rem;
            }

            @media screen and (max-width: 26.875em) {
              font-size: 1.85rem;
            }

            @media screen and (max-width: 25em) {
              font-size: 1.75rem;
            }

            @media screen and (max-width: 22.5em) {
              font-size: 1.7rem;
            }

            @media screen and (max-width: 17.5em) {
              font-size: var(--default-font-size);
            }

            @media screen and (min-width: 106.25em) {
              font-size: var(--default-font-size);
            }

            @media screen and (min-width: 112.5em) {
              font-size: 1.7rem;
            }

            @media screen and (min-width: 125em) {
              font-size: 2rem;
            }
          }
        }

        &:disabled {
          opacity: 0.75;
          cursor: default;
        }
      }
    }
  }
}
