@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.team-item {
  box-shadow: vars.$box;
  border-radius: 1rem;
  overflow: hidden;

  &__container {
    width: 30rem;
    height: 25rem;
    background-color: rgba(vars.$clr-black, 0.2);

    &--img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-fit: contain;
      background-color: rgba(vars.$clr-black, 0.2);
    }
  }

  &__wrapper {
    min-height: 12rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &--name {
      display: inline-block;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: 1.5rem;
      color: inherit;
      line-height: 1;

      @media screen and (max-width: 56.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.7rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.55rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.7rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.8rem;
      }
    }

    &--role {
      text-transform: capitalize;
      font-weight: 400;
      font-size: 1.4rem;
      color: vars.$clr-gray-light-3;

      @media screen and (max-width: 56.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.45rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 125em) {
        font-size: 1.7rem;
      }
    }

    &--social {
      display: flex;
      align-items: center;
      gap: 1rem;

      a {
        &:link,
        &:visited {
          color: vars.$clr-gray-light-1;

          svg {
            font-size: 1.5rem;
            fill: currentColor;

            @media screen and (max-width: 56.25em) {
              font-size: var(--default-font-size);
            }

            @media screen and (max-width: 51.25em) {
              font-size: 1.7rem;
            }

            @media screen and (max-width: 22.5em) {
              font-size: 1.55rem;
            }

            @media screen and (min-width: 106.25em) {
              font-size: var(--default-font-size);
            }

            @media screen and (min-width: 112.5em) {
              font-size: 1.7rem;
            }

            @media screen and (min-width: 125em) {
              font-size: 1.8rem;
            }
          }
        }

        &:disabled {
          opacity: 0.75;
          cursor: default;
        }
      }
    }
  }
}
