@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.authLink {
  margin-top: 3rem;

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    font-size: 1.2rem;
    color: vars.$clr-gray-light-1;

    @media screen and (max-width: 56.25em) {
      font-size: 1.3rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: 1.4rem;
    }

    @media screen and (max-width: 17.5em) {
      font-size: 1.3rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 1.4rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: var(--default-font-size);
    }

    @media screen and (min-width: 125em) {
      font-size: 1.85rem;
    }

    &--link {
      &:link,
      &:visited {
        font-weight: 700;
        color: vars.$clr-white;
        transition: all 300ms ease-in-out;
      }

      &:hover {
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        text-decoration-color: vars.$clr-pink-dark-1;
      }
    }
  }
}
