@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.post-detail-action {
  background-color: vars.$clr-secondary-blue;
  padding: 3rem;
  border-radius: 3px;

  @media screen and (max-width: 81.25em) {
    padding: 2rem;
  }

  @media screen and (max-width: 37.5em) {
    padding: 2rem 1.5rem;
  }

  @include bp.sm {
    padding: 0;
    padding-bottom: 3rem;
    background-color: transparent;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 34.375em) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1rem;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media screen and (max-width: 34.375em) {
      justify-content: space-between;
      width: 100%;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media screen and (max-width: 34.375em) {
      justify-content: space-between;

      width: 100%;
      padding-top: 1.5rem;
      border-top: 1px solid vars.$clr-tertiary-blue;
    }

    &--actions {
      display: flex;
      align-items: center;
      gap: 2rem;

      @media screen and (max-width: 57.5em) {
        gap: 1.25rem;
      }

      @media screen and (max-width: 31.25em) {
        gap: 2rem;
      }

      @media screen and (max-width: 23.75em) {
        gap: 1rem;
      }
    }
  }
}
