@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.delete-account {
  &__container {
    &--text {
      font-size: 1.5rem;
      color: vars.$clr-gray-light-1;
      line-height: 1.3;

      @media screen and (max-width: 56.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.7rem;
      }

      @media screen and (max-width: 17.5em) {
        font-size: 1.65rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.7rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.9rem;
      }
    }
  }
}
