@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.profile-replies {
  width: 100%;

  &__message {
    font-weight: 600;
    font-size: 1.35rem;
    color: vars.$clr-gray-light-3;
    line-height: 1.4;

    @media screen and (max-width: 56.25em) {
      font-size: 1.45rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: 1.55rem;
    }

    @media screen and (max-width: 22.5em) {
      font-size: 1.4rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 1.45rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: 1.55rem;
    }

    @media screen and (min-width: 125em) {
      font-size: 1.85rem;
    }
  }
}
