@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.badge {
  width: 1.6rem;
  height: 1.6rem;
  color: vars.$clr-twitter-blue;

  @media screen and (max-width: 56.25em) {
    width: 1.8rem;
    height: 1.8rem;
  }

  @media screen and (max-width: 51.25em) {
    width: 2rem;
    height: 2rem;
  }

  @media screen and (max-width: 21.5em) {
    width: 1.8rem;
    height: 1.8rem;
  }

  @media screen and (max-width: 17.5em) {
    width: 1.65rem;
    height: 1.65rem;
  }

  @media screen and (min-width: 106.25em) {
    width: 1.8rem;
    height: 1.8rem;
  }

  @media screen and (min-width: 112.5em) {
    width: 2rem;
    height: 2rem;
  }

  @media screen and (min-width: 125em) {
    width: 2.5rem;
    height: 2.5rem;
  }

  &.show {
    display: inline-block;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
  }

  &.hide {
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
}
