@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.nav-item {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;

  @media screen and (min-width: 106.25em) {
    font-size: 1.4rem;
  }

  @media screen and (min-width: 125em) {
    font-size: 1.85rem;
  }

  &__link {
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      justify-content: center;

      text-transform: uppercase;
      font-size: inherit;
      border-radius: 10rem;
    }

    &:hover {
      background-image: linear-gradient(
        to right,
        vars.$clr-pink-dark-1,
        vars.$clr-pink-dark-2,
        vars.$clr-pink-light,
        vars.$clr-orange-dark,
        vars.$clr-orange-light
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }

    &:disabled {
      opacity: 0.75;
      cursor: default;
    }
  }
}
