@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.share {
  display: flex;
  align-items: center;
  gap: 2rem;

  @media screen and (max-width: 57.5em) {
    gap: 1.25rem;
  }

  @media screen and (max-width: 31.25em) {
    gap: 2rem;
  }

  @media screen and (max-width: 23.75em) {
    gap: 1rem;
  }
}
