@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.favorite-button {
  display: flex;
  align-items: center;
  gap: 2rem;

  @media screen and (max-width: 57.5em) {
    gap: 1.25rem;
  }

  @media screen and (max-width: 31.25em) {
    gap: 1rem;

    padding: 0.8rem 1.25rem;
    background-color: vars.$clr-secondary-blue;
    border-radius: 10rem;
  }

  @media screen and (max-width: 23.75em) {
    gap: 1rem;
  }

  div {
    @media screen and (max-width: 31.25em) {
      &:first-child {
        &::after {
          content: '';
          display: inline-block;
          width: 2px;
          height: 2rem;
          background-color: vars.$clr-gray-light-1;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
