@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.password-toggle {
  display: flex;
  align-items: center;

  &.active {
    display: flex;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    transition: all 300ms ease-in;
  }

  &.hide {
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all 300ms ease-out;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    border: 0;
    outline: 0;
    background-color: transparent;
    color: vars.$clr-gray-light-1;
    cursor: pointer;

    &:disabled {
      opacity: 0.75;
      cursor: not-allowed;
    }

    &--icon,
    svg {
      width: 1.75rem;
      height: 1.75rem;
      color: currentColor;

      @media screen and (max-width: 56.25em) {
        width: 1.85rem;
        height: 1.85rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 1.95rem;
        height: 1.95rem;
      }

      @media screen and (max-width: 34.375em) {
        width: 2.05rem;
        height: 2.05rem;
      }

      @include bp.sm {
        width: 2.15rem;
        height: 2.15rem;
      }

      @media screen and (max-width: 22.5em) {
        width: 2rem;
        height: 2rem;
      }

      @media screen and (max-width: 18.75em) {
        width: 1.9rem;
        height: 1.9rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 1.85rem;
        height: 1.85rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 2rem;
        height: 2rem;
      }

      @media screen and (min-width: 125em) {
        width: 2.25rem;
        height: 2.25rem;
      }
    }

    &--text {
      font-weight: 700;
      font-size: 1.3rem;
      color: currentColor;

      @media screen and (max-width: 56.25em) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 34.375em) {
        font-size: var(--default-font-size);
      }

      @include bp.sm {
        font-size: 1.7rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.55rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.45rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.7rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2rem;
      }
    }
  }
}
