@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  outline: 0;
  font-family: inherit;
  width: 100%;
  height: 5.6rem;
  padding: 1.6rem;
  font-weight: 700;
  font-size: 1.4rem;
  color: vars.$clr-white;
  border-radius: 0.5rem;
  cursor: pointer;

  @media screen and (max-width: 56.25em) {
    height: 5.7rem;
    font-size: 1.5rem;
  }

  @media screen and (max-width: 51.25em) {
    height: 5.8rem;
    font-size: var(--default-font-size);
  }

  @media screen and (max-width: 17.5em) {
    height: 5.7rem;
    font-size: 1.5rem;
  }

  @media screen and (min-width: 106.25em) {
    height: 5.8rem;
    font-size: var(--default-font-size);
  }

  @media screen and (min-width: 112.5em) {
    height: 6rem;
    font-size: 1.8rem;
  }

  @media screen and (min-width: 125em) {
    font-size: 2.15rem;
    height: 7rem;
  }

  &.primary {
    background-color: vars.$clr-pink-dark-1;
    border: 2px solid transparent;
  }

  &.outline {
    background-color: transparent;
    border: 2px solid vars.$clr-secondary-blue;

    img {
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;

      @media screen and (max-width: 56.25em) {
        width: 2.6rem;
        height: 2.6rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 2.7rem;
        height: 2.7rem;
      }

      @media screen and (max-width: 17.5em) {
        width: 2.6rem;
        height: 2.6rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 2.7rem;
        height: 2.7rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 3rem;
        height: 3rem;
      }

      @media screen and (min-width: 125em) {
        width: 3.5rem;
        height: 3.5rem;
      }
    }
  }

  &:disabled {
    opacity: 0.75;
    cursor: default;
  }

  span {
    @media screen and (max-width: 56.25em) {
      width: 3rem !important;
      height: 3rem !important;
    }

    @media screen and (max-width: 51.25em) {
      width: 3.25rem !important;
      height: 3.25rem !important;
    }

    @media screen and (max-width: 17.5em) {
      width: 3rem !important;
      height: 3rem !important;
    }

    @media screen and (min-width: 106.25em) {
      width: 3rem !important;
      height: 3rem !important;
    }

    @media screen and (min-width: 112.5em) {
      width: 3.5rem !important;
      height: 3.5rem !important;
    }

    @media screen and (min-width: 125em) {
      width: 4rem !important;
      height: 4rem !important;
    }
  }
}
