@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  outline: 0;
  width: 100%;
  height: 5.6rem;
  padding: 1.6rem;
  font-weight: 700;
  font-size: 1.4rem;
  color: $clr-white;
  border-radius: 0.5rem;
  cursor: pointer;

  @media screen and (min-width: 106.25em) {
    height: 5.8rem;
    font-size: var(--default-font-size);
  }

  @media screen and (min-width: 112.5em) {
    height: 6rem;
    font-size: 1.8rem;
  }

  &.primary {
    background-color: $clr-pink-dark-1;
    border: 2px solid transparent;
  }

  &.outline {
    background-color: transparent;
    border: 2px solid $clr-secondary-blue;

    img {
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;

      @media screen and (min-width: 106.25em) {
        width: 2.7rem;
        height: 2.7rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  &:disabled {
    opacity: 0.75;
    cursor: default;
  }
}
