@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.context-menu {
  position: absolute;
  top: 2.25rem;
  right: 0;
  width: 20rem;
  max-width: 20rem;
  padding: 0.5rem 3px;
  padding-bottom: 0;
  background-color: transparent;
  backdrop-filter: blur(3px);
  border: 1px solid vars.$clr-tertiary-blue;
  border-radius: 1rem;

  @media screen and (max-width: 56.25em) {
    top: 2.575rem;
    width: 21rem;
    max-width: 21rem;
  }

  @media screen and (max-width: 51.25em) {
    width: 22rem;
    max-width: 22rem;
  }

  @media screen and (max-width: 34.375em) {
    width: 23rem;
    max-width: 23rem;
  }

  @include bp.sm {
    width: 24rem;
    max-width: 24rem;
  }

  @media screen and (max-width: 22.5em) {
    width: 22.5rem;
    max-width: 22.5rem;
  }

  @media screen and (max-width: 18.75em) {
    top: 2.3rem;
    width: 21rem;
    max-width: 21rem;
  }

  @media screen and (min-width: 106.25em) {
    top: 2.5rem;
    width: 22rem;
    max-width: 22rem;
  }

  @media screen and (min-width: 112.5em) {
    top: 2.65rem;
    width: 23rem;
    max-width: 23rem;
  }

  @media screen and (min-width: 125em) {
    top: 3.65rem;
    width: 26rem;
    max-width: 26rem;
  }

  &.article {
    top: -8.25rem;

    @media screen and (max-width: 56.25em) {
      top: -9rem;
    }

    @media screen and (max-width: 51.25em) {
      top: -9.5rem;
    }

    @media screen and (max-width: 34.375em) {
      top: -10rem;
    }

    @media screen and (min-width: 106.25em) {
      top: -9rem;
    }

    @media screen and (min-width: 112.5em) {
      top: -9.75rem;
    }

    @media screen and (min-width: 125em) {
      top: -11.25rem;
    }
  }

  &.show {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    z-index: 2000;
    transition: all 0.3s ease-in;
  }

  &.hide {
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-out;
  }
}
