@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.postClient {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include lg {
    flex: 2.25;
  }

  @include md {
    position: absolute;
    top: 5rem;
    left: -100%;
    padding: 3rem;
    width: 40rem;
    background-color: $clr-black;
    border-radius: 0.5rem;
    z-index: 2000;
    transition: all 300ms ease-in-out;
  }

  &.show {
    @include md {
      left: -4.5rem;
    }
  }

  &.hide {
    @include md {
      left: -100%;
    }
  }
}
