@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.postClient {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include lg {
    flex: 2.25;
  }
}
