@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.post-client {
  flex: 1.5;

  @include bp.lg {
    flex: 2.25;
  }

  @include bp.md {
    position: absolute;
    top: 9.5rem;

    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    z-index: 2000;
    transition: all 300ms ease-in-out;
  }

  &.show {
    @include bp.md {
      display: flex;
      visibility: visible;
      opacity: 1;
      z-index: 1000;

      left: 0;
      bottom: 0;
      right: 0;
      background-color: vars.$overlay;
    }
  }

  &.hide {
    @include bp.md {
      display: none;
      visibility: hidden;
      opacity: 0;
      z-index: -1;

      left: -100rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include bp.md {
      width: 40rem;
      padding: 3rem;
      background-color: vars.$clr-black;
    }

    @media screen and (max-width: 26.875em) {
      width: 100%;
    }

    @media screen and (max-width: 22.5em) {
      gap: 2rem;
      padding: 2rem;
    }

    @media screen and (max-width: 18.75em) {
      padding: 1.5rem;
    }
  }
}
