@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.about-item {
  width: 53rem;

  @include bp.xxl {
    width: 50rem;
  }

  @media screen and (max-width: 68.75em) {
    width: 47rem;
  }

  @include bp.lg {
    width: 42rem;
  }

  @media screen and (max-width: 59.375em) {
    width: 39rem;
  }

  @media screen and (max-width: 57.5em) {
    width: 38rem;
  }

  @media screen and (max-width: 56.25em) {
    width: 41rem;
  }

  @media screen and (max-width: 53.75em) {
    width: 39rem;
  }

  @media screen and (max-width: 51.25em) {
    width: 100%;
  }

  @media screen and (min-width: 106.25em) {
    width: 55rem;
  }

  @media screen and (min-width: 112.5em) {
    width: 60rem;
  }

  @media screen and (min-width: 125em) {
    width: 61rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

    &--heading {
      display: inline-block;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: 2.5rem;
      color: inherit;
      line-height: 1.3;

      @media screen and (max-width: 56.25em) {
        font-size: 2.6rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 2.7rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 2.55rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 2.6rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 2.7rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 3rem;
      }
    }

    &--paragraph {
      display: inline-block;
      font-size: 1.45rem;
      color: vars.$clr-gray-light-1;
      word-break: break-all;
      hyphens: auto;

      @media screen and (max-width: 56.25em) {
        font-size: 1.55rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.65rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.55rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.65rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.95rem;
      }
    }
  }
}
