@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.reset-password {
  display: flex;
  justify-content: center;

  &__container {
    width: 144rem;
    min-height: 80vh;
    padding: 10rem 0;

    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 26.875em) {
      width: 47rem;
    }

    @media screen and (max-width: 26.25em) {
      width: 45rem;
    }

    @media screen and (max-width: 25em) {
      width: 43rem;
    }

    @media screen and (max-width: 24.375em) {
      width: 42rem;
    }

    @media screen and (max-width: 23.75em) {
      width: 40rem;
    }

    @media screen and (max-width: 22.5em) {
      width: 38rem;
    }

    @media screen and (max-width: 21.5em) {
      width: 36rem;
    }

    @media screen and (max-width: 20em) {
      width: 34rem;
    }

    @media screen and (max-width: 18.75em) {
      width: 32rem;
    }

    @media screen and (max-width: 17.5em) {
      width: 30rem;
    }
  }

  &__wrapper {
    width: 45rem;
    padding: 3rem;
    border: 2px solid vars.$clr-secondary-blue;
    border-radius: 0.5rem;

    @media screen and (max-width: 56.25em) {
      width: 46rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 47rem;
    }

    @media screen and (max-width: 25em) {
      padding: 2rem;
    }

    @media screen and (max-width: 23.75em) {
      padding: 1.65rem;
    }

    @media screen and (max-width: 22.5em) {
      padding: 1.45rem;
    }

    @media screen and (max-width: 21.5em) {
      padding: 1.3rem;
    }

    @media screen and (max-width: 20em) {
      padding: 1.2rem;
    }

    @media screen and (max-width: 18.75em) {
      padding: 1rem;
    }

    @media screen and (min-width: 106.25em) {
      width: 47rem;
    }

    @media screen and (min-width: 112.5em) {
      width: 50rem;
    }

    @media screen and (min-width: 125em) {
      width: 55rem;
    }
  }

  &__heading {
    text-rendering: optimizeLegibility;
    font-weight: 500;
    font-size: 3rem;
    line-height: 2.5em;

    @media screen and (max-width: 56.25em) {
      font-size: 3.1rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: 3.2rem;
    }

    @media screen and (max-width: 18.75em) {
      line-height: 1.8em;
    }

    @media screen and (max-width: 17.5em) {
      font-size: 3.1rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 3.2rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: 3.4rem;
    }

    @media screen and (min-width: 125em) {
      font-size: 4rem;
    }
  }

  &__text {
    font-size: 1.35rem;

    @media screen and (max-width: 56.25em) {
      font-size: 1.45rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: 1.55rem;
    }

    @media screen and (max-width: 17.5em) {
      font-size: 1.45rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 1.55rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: 1.75rem;
    }

    @media screen and (min-width: 125em) {
      font-size: 2rem;
    }
  }

  &__form {
    margin-top: 3rem;

    &--button {
      margin-top: 2rem;
    }
  }
}
