@import '../../styles/variables.scss';

.resetPassword {
  display: flex;
  justify-content: center;

  &__container {
    width: 144rem;
    min-height: 80vh;
    padding: 10rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrapper {
    width: 45rem;
    padding: 3rem;
    border: 2px solid $clr-secondary-blue;
    border-radius: 0.5rem;
  }

  &__heading {
    text-rendering: optimizeLegibility;
    font-weight: 500;
    font-size: 3rem;
    line-height: 2.5em;
  }

  &__text {
    font-size: 1.35rem;
  }

  &__form {
    margin-top: 3rem;

    &--button {
      margin-top: 2rem;
    }
  }
}
