@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.postbar {
  display: flex;
  justify-content: center;
  background-color: vars.$clr-secondary-blue;

  &__container {
    width: 144rem;
    height: 5rem;
    padding: 4rem 0;

    @media screen and (max-width: 93.75em) {
      width: 134rem;
    }

    @include bp.xxl {
      width: 124rem;
    }

    @media screen and (max-width: 81.25em) {
      width: 118rem;
    }

    @media screen and (max-width: 76.25em) {
      width: 110rem;
    }

    @include bp.xl {
      width: 118rem;
    }

    @media screen and (max-width: 68.75em) {
      width: 110rem;
    }

    @include bp.lg {
      width: 100rem;
    }

    @media screen and (max-width: 59.375em) {
      width: 95rem;
    }

    @media screen and (max-width: 57.5em) {
      width: 93rem;
    }

    @media screen and (max-width: 56.25em) {
      width: 98rem;
    }

    @media screen and (max-width: 59.375em) {
      width: 95rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 90rem;
    }

    @include bp.md {
      width: 87rem;
    }

    @media screen and (max-width: 43.75em) {
      width: 80rem;
    }

    @media screen and (max-width: 41.875em) {
      width: 75rem;
    }

    @media screen and (max-width: 38.75em) {
      width: 72rem;
    }

    @media screen and (max-width: 37.5em) {
      width: 67rem;
    }

    @media screen and (max-width: 34.375em) {
      width: 62rem;
    }

    @media screen and (max-width: 31.5em) {
      width: 55rem;
    }

    @include bp.sm {
      width: 53rem;
    }

    @media screen and (max-width: 28.125em) {
      width: 50rem;
    }

    @media screen and (max-width: 26.875em) {
      width: 47rem;
    }

    @media screen and (max-width: 26.25em) {
      width: 45rem;
    }

    @media screen and (max-width: 25em) {
      width: 43rem;
    }

    @media screen and (max-width: 24.375em) {
      width: 42rem;
    }

    @media screen and (max-width: 23.75em) {
      width: 40rem;
    }

    @media screen and (max-width: 23.4375em) {
      width: 38rem;
    }

    @media screen and (max-width: 22.5em) {
      width: 36rem;
    }

    @media screen and (max-width: 21.5em) {
      width: 34rem;
    }

    @media screen and (max-width: 20em) {
      width: 32rem;
    }

    @media screen and (max-width: 18.75em) {
      width: 30rem;
    }

    @media screen and (max-width: 17.5em) {
      width: 28rem;
    }

    @media screen and (min-width: 106.25em) {
      padding: 4.5rem 0;
    }

    @media screen and (min-width: 112.5em) {
      width: 134rem;
    }

    @media screen and (min-width: 125em) {
      width: 150rem;
      padding: 5rem 0;
    }
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &--heading {
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 700;
      font-size: 2rem;
      color: inherit;

      @media screen and (max-width: 56.25em) {
        font-size: 2.1rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 2.2rem;
      }

      @media screen and (max-width: 34.375em) {
        font-size: 2.15rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 2rem;
      }

      @media screen and (max-width: 21.5em) {
        font-size: 1.85rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.65rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 2.1rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 2.2rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.5rem;
      }
    }

    &--breadcrumbs {
      display: flex;
      align-items: center;
    }
  }

  &__lists {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    &--item {
      font-weight: 600;
      font-size: 1.4rem;

      @media screen and (max-width: 56.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 34.375em) {
        font-size: 1.55rem;
      }

      @include bp.sm {
        &:nth-child(5) {
          display: none;
        }
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.45rem;
      }

      @media screen and (max-width: 21.5em) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.3rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 125em) {
        font-size: 1.95rem;
      }

      a {
        &:link,
        &:visited {
          text-transform: capitalize;
          font-weight: inherit;
          font-size: inherit;
          transition: all 300ms ease-in-out;
        }

        &:hover {
          color: vars.$clr-pink-light;
        }
      }
    }

    span {
      @include bp.sm {
        &:nth-child(4) {
          display: none;
        }
      }
    }
  }
}
