@import '../../styles/variables.scss';

.postbar {
  display: flex;
  justify-content: center;
  background-color: $clr-secondary-blue;

  &__container {
    width: 144rem;
    height: 5rem;
    padding: 4rem 0;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &--heading {
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 700;
      font-size: 2rem;
      color: inherit;
    }

    &--breadcrumbs {
      display: flex;
      align-items: center;
    }
  }

  &__lists {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    &--item {
      &-link {
        &:link,
        &:visited {
        }
      }
    }
  }
}
