@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.account-menu-item {
  display: flex;
  align-items: center;

  height: 5rem;
  background-color: vars.$clr-tertiary-blue;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 300ms ease-in-out;

  @media screen and (max-width: 56.25em) {
    height: 5.25rem;
  }

  @media screen and (max-width: 51.25em) {
    height: 5.45rem;
  }

  @media screen and (max-width: 34.375em) {
    height: 5.55rem;
  }

  @include bp.sm {
    height: 5.65rem;
  }

  @media screen and (max-width: 22.5em) {
    height: 5.5rem;
  }

  @media screen and (max-width: 18.75em) {
    height: 5.4rem;
  }

  @media screen and (min-width: 106.25em) {
    height: 5.25rem;
  }

  @media screen and (min-width: 112.5em) {
    height: 5.45rem;
  }

  @media screen and (min-width: 125em) {
    height: 7rem;
  }

  &:not(:last-of-type) {
    margin-bottom: 5px;

    @media screen and (min-width: 125em) {
      margin-bottom: 0.7rem;
    }
  }

  &.active {
    position: relative;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 0.5rem;
      height: 75%;
      background-color: vars.$clr-pink-dark-1;
      backface-visibility: hidden;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      transition: all 1s ease-in-out;

      @include bp.lg {
        left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }

      @media screen and (max-width: 18.75em) {
        width: 3px;
      }

      @media screen and (min-width: 125em) {
        width: 0.725rem;
      }
    }
  }

  &.show {
    background-color: vars.$clr-tertiary-blue;

    @include bp.lg {
      background-color: vars.$clr-primary-blue;
    }
  }

  &:hover {
    background-color: rgba(vars.$clr-pink-light, 0.75);

    &.active {
      &::after {
        background-color: vars.$clr-orange-dark;
      }
    }
  }

  a {
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      gap: 1rem;

      width: 100%;
      padding: 0.8rem 1.25rem;
      vertical-align: middle;
      text-transform: capitalize;
      transition: all 300ms ease-in-out;

      @media screen and (min-width: 112.5em) {
        gap: 1.25rem;
      }

      @media screen and (min-width: 125em) {
        gap: 1.5rem;
      }
    }

    svg {
      width: 1.75rem;
      height: 1.75rem;
      stroke-width: 2px;

      @media screen and (max-width: 56.25em) {
        width: 2rem;
        height: 2rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 2.25rem;
        height: 2.25rem;
      }

      @media screen and (max-width: 18.75em) {
        width: 1.65rem;
        height: 1.65rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 2rem;
        height: 2rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 2.25rem;
        height: 2.25rem;
      }

      @media screen and (min-width: 125em) {
        width: 3rem;
        height: 3rem;
      }
    }

    span {
      font-weight: 500;
      font-size: 1.4rem;
      color: inherit;

      @media screen and (max-width: 56.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 34.375em) {
        font-size: 1.7rem;
      }

      @include bp.sm {
        font-size: 1.8rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.65rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.55rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 125em) {
        font-size: 2rem;
      }
    }

    &:disabled {
      opacity: 0.75;
      cursor: not-allowed;
    }
  }
}
