@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.postDetails {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    width: 115rem;
    padding: 8rem 0 5rem;

    display: flex;
    align-items: flex-start;
    gap: 2rem;

    @include bp.xxl {
      width: 110rem;
    }

    @media screen and (max-width: 81.25em) {
      width: 108rem;
    }

    @media screen and (max-width: 76.25em) {
      width: 100rem;
    }

    @media screen and (max-width: 59.375em) {
      width: 95rem;
    }

    @media screen and (max-width: 57.5em) {
      width: 93rem;
    }

    @media screen and (max-width: 56.25em) {
      width: 98rem;
    }

    @media screen and (max-width: 53.75em) {
      width: 95rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 80rem;
      position: relative;
    }

    @include bp.md {
      width: 77rem;
    }

    @media screen and (max-width: 43.75em) {
      width: 70rem;
    }

    @media screen and (max-width: 41.875em) {
      width: 65rem;
    }

    @media screen and (max-width: 34.375em) {
      width: 62rem;
    }

    @media screen and (max-width: 31.5em) {
      width: 55rem;
    }

    @include bp.sm {
      width: 53rem;
    }

    @media screen and (max-width: 28.125em) {
      width: 50rem;
    }

    @media screen and (max-width: 26.875em) {
      width: 47rem;
    }

    @media screen and (max-width: 26.25em) {
      width: 45rem;
    }

    @media screen and (max-width: 25em) {
      width: 43rem;
    }

    @media screen and (max-width: 24.375em) {
      width: 42rem;
    }

    @media screen and (max-width: 23.75em) {
      width: 40rem;
    }

    @media screen and (max-width: 22.5em) {
      width: 38rem;
    }

    @media screen and (max-width: 21.5em) {
      width: 36rem;
    }

    @media screen and (max-width: 20em) {
      width: 34rem;
    }

    @media screen and (max-width: 18.75em) {
      width: 32rem;
    }

    @media screen and (max-width: 17.5em) {
      width: 30rem;
    }

    @media screen and (min-width: 112.5em) {
      width: 120rem;
    }

    @media screen and (min-width: 125em) {
      width: 137rem;
    }

    &--btn {
      position: absolute;
      top: 3rem;
      right: 0;

      @media screen and (min-width: 51.3125em) {
        display: none;
      }
    }
  }

  &__wrapper {
    width: 115rem;
    padding: 5rem 0 8rem;

    @media screen and (max-width: 81.25em) {
      width: 108rem;
    }

    @media screen and (max-width: 76.25em) {
      width: 100rem;
    }

    @media screen and (max-width: 59.375em) {
      width: 95rem;
    }

    @media screen and (max-width: 57.5em) {
      width: 93rem;
    }

    @media screen and (max-width: 56.25em) {
      width: 98rem;
    }

    @media screen and (max-width: 53.75em) {
      width: 95rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 80rem;
    }

    @include bp.md {
      width: 77rem;
    }

    @media screen and (max-width: 43.75em) {
      width: 70rem;
    }

    @media screen and (max-width: 41.875em) {
      width: 65rem;
    }

    @media screen and (max-width: 34.375em) {
      width: 62rem;
    }

    @media screen and (max-width: 31.5em) {
      width: 55rem;
    }

    @include bp.sm {
      width: 53rem;
      padding-top: 1rem;
    }

    @media screen and (max-width: 28.125em) {
      width: 50rem;
    }

    @media screen and (max-width: 26.875em) {
      width: 47rem;
    }

    @media screen and (max-width: 26.25em) {
      width: 45rem;
    }

    @media screen and (max-width: 25em) {
      width: 43rem;
    }

    @media screen and (max-width: 24.375em) {
      width: 42rem;
    }

    @media screen and (max-width: 23.75em) {
      width: 40rem;
    }

    @media screen and (max-width: 22.5em) {
      width: 38rem;
    }

    @media screen and (max-width: 21.5em) {
      width: 36rem;
    }

    @media screen and (max-width: 20em) {
      width: 34rem;
    }

    @media screen and (max-width: 18.75em) {
      width: 32rem;
    }

    @media screen and (max-width: 17.5em) {
      width: 30rem;
    }

    @media screen and (min-width: 112.5em) {
      width: 120rem;
    }

    @media screen and (min-width: 125em) {
      width: 137rem;
    }
  }
}
