@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.about-hero {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 30vw;
  background-color: rgba(vars.$clr-black, 0.2);
  background-image: linear-gradient(
      to right bottom,
      vars.$clr-gray-dark-1,
      vars.$clr-gray-dark-2
    ),
    url('/hero-2.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__container {
    width: 144rem;
    height: 100%;
    position: relative;
  }

  &__wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    &--heading {
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      text-decoration: underline wavy;
      text-underline-offset: 1rem;
      text-decoration-thickness: 0.25rem;
      text-decoration-color: vars.$clr-pink-dark-1;
      font-weight: 700;
      font-size: 4rem;
      color: inherit;
    }

    &--paragraph {
      width: 75%;
      text-align: center;
      font-size: 1.8rem;
      color: inherit;
      line-height: 1.4;
    }
  }
}
