@use '../../styles/animation.scss' as anim;
@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.textarea {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  &__control {
    display: inline-block;
    outline: 0;
    width: 100%;
    height: 11.2rem;
    padding: 1.6rem;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.45rem;
    background-color: transparent;
    color: vars.$clr-white;
    border: 2px solid vars.$clr-tertiary-blue;
    border-radius: 0.5rem;
    resize: none;
    transition: all 300ms ease-in-out;

    @media screen and (max-width: 56.25em) {
      height: 11.4rem;
      font-size: 1.55rem;
    }

    @media screen and (max-width: 51.25em) {
      height: 11.6rem;
      font-size: 1.65rem;
    }

    @media screen and (max-width: 34.375em) {
      height: 12rem;
      font-size: 1.85rem;
    }

    @include bp.sm {
      height: 13rem;
      font-size: 1.95rem;
    }

    @media screen and (max-width: 22.5em) {
      height: 12.7rem;
      font-size: 1.8rem;
    }

    @media screen and (max-width: 18.75em) {
      height: 12.5rem;
      font-size: 1.7rem;
    }

    @media screen and (min-width: 106.25em) {
      height: 11.6rem;
      font-size: 1.65rem;
    }

    @media screen and (min-width: 112.5em) {
      height: 12rem;
      font-size: 1.85rem;
    }

    @media screen and (min-width: 125em) {
      height: 15rem;
      font-size: 2.2rem;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:focus {
      background-color: rgba(vars.$clr-secondary-blue, 0.5);
    }

    &::placeholder {
      font-weight: 600;
      font-size: 1.45rem;
      color: vars.$clr-white;

      @media screen and (max-width: 56.25em) {
        font-size: 1.55rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.65rem;
      }

      @media screen and (max-width: 34.375em) {
        font-size: 1.85rem;
      }

      @include bp.sm {
        font-size: 1.95rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.8rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.7rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.65rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.85rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.2rem;
      }
    }

    &.error {
      animation: inputErrorShake 0.14s ease-in-out;
    }
  }
}
