.textarea {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  &__label {
    display: inline-block;
    width: 12rem;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    font-weight: 700;
    font-size: 1.4rem;
  }

  &__control {
  }
}
