@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.categories-items {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;

    list-style: none;

    @include bp.xxl {
      gap: 3.5rem;
    }

    @media screen and (max-width: 59.375em) {
      gap: 3rem;
    }

    @media screen and (max-width: 56.25em) {
      gap: 3.5rem;
    }

    @media screen and (max-width: 53.75em) {
      gap: 3rem;
    }

    @media screen and (min-width: 112.5em) {
      gap: 3.5rem;
    }

    @media screen and (min-width: 125em) {
      gap: 4.5rem;
    }

    &--empty,
    &--error,
    &--spinner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 20rem;
    }
  }
}
