@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.postMenuButton {
  display: flex;
  align-items: center;
  gap: 1rem;

  span {
  }

  svg {
    width: 2.5rem;
  }
}
