@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.postMenuButton {
  display: flex;
  align-items: center;
  gap: 1rem;

  border: 0;
  outline: 0;
  background-color: transparent;
  color: $clr-white;

  span {
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    font-weight: 700;
    font-size: 1.4rem;
    color: currentColor;
  }

  svg {
    width: 2.5rem;
  }
}
