@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.postMenuButton {
  display: flex;
  align-items: center;
  gap: 1rem;

  border: 0;
  outline: 0;
  background-color: transparent;
  color: $clr-gray-light-3;

  span {
  }

  svg {
    width: 2.5rem;
  }
}
