@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.profile {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__container {
    padding: 3rem;
    background-color: vars.$clr-secondary-blue;
    border-radius: 0.5rem;

    @media screen and (max-width: 76.25em) {
      padding: 2.5rem;
    }

    @include bp.lg {
      padding: 3rem;
    }

    @media screen and (max-width: 34.375em) {
      padding: 3rem 2rem;
    }

    @media screen and (max-width: 31.5em) {
      padding: 2rem;
    }

    @include bp.sm {
      padding: 0;
      background-color: transparent;
      border-radius: 0;
    }
  }

  &__wrapper {
    min-height: 50rem;
    background-color: vars.$clr-secondary-blue;
    border-radius: 0.5rem;
    overflow: hidden;

    @include bp.sm {
      background-color: transparent;
    }
  }
}
