@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.reply-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;

  padding-top: 1.5rem;
  position: relative;

  &.show {
    display: flex;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
  }

  &.hide {
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }

  &__textarea {
    display: inline-block;
    outline: 0;
    width: 50%;
    height: 6rem;
    padding: 1rem;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.4rem;
    background-color: vars.$clr-primary-blue;
    color: vars.$clr-white;
    border: 2px solid vars.$clr-secondary-blue;
    border-radius: 0.5rem;
    resize: none;
    transition: all 300ms ease-in-out;

    @media screen and (max-width: 56.25em) {
      width: 55%;
      height: 6.2rem;
      font-size: 1.5rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 57%;
      height: 6.4rem;
      font-size: var(--default-font-size);
    }

    @media screen and (max-width: 37.5em) {
      width: 65%;
    }

    @media screen and (max-width: 34.375em) {
      width: 70%;
      height: 6.8rem;
      font-size: 1.7rem;
    }

    @media screen and (max-width: 31.25em) {
      width: 75%;
    }

    @include bp.sm {
      width: 82%;
      background-color: transparent;
    }

    @media screen and (max-width: 26.875em) {
      width: 100%;
    }

    @media screen and (max-width: 17.5em) {
      height: 6.2rem;
      font-size: 1.5rem;
    }

    @media screen and (min-width: 106.25em) {
      width: 55%;
      height: 6.4rem;
      font-size: var(--default-font-size);
    }

    @media screen and (min-width: 112.5em) {
      width: 57%;
      height: 6.8rem;
      font-size: 1.8rem;
    }

    @media screen and (min-width: 125em) {
      width: 60%;
      height: 9rem;
      font-size: 2.15rem;
    }

    &:focus {
      background-color: vars.$clr-tertiary-blue;

      @include bp.sm {
        background-color: vars.$clr-secondary-blue;
      }
    }

    &::placeholder {
      font-weight: 600;
      font-size: 1.4rem;
      color: vars.$clr-white;

      @media screen and (max-width: 56.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 34.375em) {
        font-size: 1.7rem;
      }

      @media screen and (max-width: 17.5em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.8rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.15rem;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    &--submit,
    &--cancel {
      display: flex;
      align-items: center;
      justify-content: center;

      border: 0;
      outline: 0;
      font-weight: 600;
      font-size: 1.35rem;
      width: fit-content;
      height: 2.5rem;
      padding: 1rem;
      color: vars.$clr-white;
      border-radius: 0.5rem;
      cursor: pointer;

      @media screen and (max-width: 56.25em) {
        height: 2.6rem;
        padding: 1.35rem;
        font-size: 1.45rem;
      }

      @media screen and (max-width: 51.25em) {
        height: 2.7rem;
        padding: 1.45rem;
        font-size: 1.55rem;
      }

      @media screen and (max-width: 17.5em) {
        height: 2.6rem;
        padding: 1rem;
        font-size: 1.45rem;
      }

      @media screen and (min-width: 106.25em) {
        height: 2.75rem;
        padding: 1.35rem;
        font-size: 1.45rem;
      }

      @media screen and (min-width: 112.5em) {
        height: 3rem;
        padding: 1.5rem;
        font-size: 1.55rem;
      }

      @media screen and (min-width: 125em) {
        height: 4rem;
        padding: 1.75rem;
        font-size: 1.95rem;
      }

      &:disabled {
        opacity: 0.75;
        cursor: default;
      }
    }

    &--submit {
      background-color: rgba(vars.$clr-success, 0.5);
    }

    &--cancel {
      background-color: rgba(vars.$clr-danger, 0.5);
    }
  }
}
