@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.errorMessage {
  display: flex;
  align-items: center;
  gap: 4px;
  color: $error;

  svg {
    width: 1.6rem;
    fill: currentColor;

    @media screen and (min-width: 106.25em) {
      width: 1.8rem;
    }

    @media screen and (min-width: 112.5em) {
      width: 2rem;
    }

    @media screen and (min-width: 125em) {
      width: 2.3rem;
    }
  }

  span {
    text-rendering: optimizeLegibility;
    font-weight: 700;
    font-size: 1rem;
    color: inherit;

    @media screen and (min-width: 106.25em) {
      font-size: 1.1rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: 1.2rem;
    }

    @media screen and (min-width: 125em) {
      font-size: 1.5rem;
    }
  }
}
