@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.error-message {
  display: flex;
  align-items: center;
  gap: 4px;
  color: vars.$error;

  svg {
    width: 1.6rem;
    fill: currentColor;

    @media screen and (max-width: 56.25em) {
      width: 1.8rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 2rem;
    }

    @media screen and (max-width: 34.375em) {
      width: 2.25rem;
    }

    @include bp.sm {
      width: 2.3rem;
    }

    @media screen and (max-width: 22.5em) {
      width: 2.15rem;
    }

    @media screen and (max-width: 18.75em) {
      width: 2.05rem;
    }

    @media screen and (min-width: 106.25em) {
      width: 1.8rem;
    }

    @media screen and (min-width: 112.5em) {
      width: 2rem;
    }

    @media screen and (min-width: 125em) {
      width: 2.3rem;
    }
  }

  span {
    text-rendering: optimizeLegibility;
    font-weight: 700;
    font-size: 1rem;
    color: inherit;

    @media screen and (max-width: 56.25em) {
      font-size: 1.1rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: 1.2rem;
    }

    @media screen and (max-width: 34.375em) {
      font-size: 1.4rem;
    }

    @include bp.sm {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 22.5em) {
      font-size: 1.25rem;
    }

    @media screen and (max-width: 18.75em) {
      font-size: 1.15rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 1.1rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: 1.2rem;
    }

    @media screen and (min-width: 125em) {
      font-size: 1.5rem;
    }
  }
}
