@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.feature-skeleton {
  width: 45rem;
  border-radius: 1rem;
  overflow: hidden;

  @media screen and (max-width: 81.25em) {
    width: 44rem;
  }

  @media screen and (max-width: 68.75em) {
    width: 42rem;
  }

  @include bp.md {
    width: 100%;
  }

  @media screen and (max-width: 21.5em) {
    width: 35rem;
  }

  @media screen and (max-width: 18.75em) {
    width: 32rem;
  }

  @media screen and (max-width: 17.5em) {
    width: 30rem;
  }

  @media screen and (min-width: 112.5em) {
    width: 46rem;
  }

  @media screen and (min-width: 125em) {
    width: 48.5rem;
  }

  &__container {
    width: 40rem;
    width: 100%;
    height: 30rem;
    position: relative;

    @media screen and (max-width: 56.25em) {
      height: 31rem;
    }

    @media screen and (max-width: 51.25em) {
      height: 33rem;
    }

    @include bp.md {
      height: 34rem;
    }

    @media screen and (max-width: 26.875em) {
      height: 30rem;
    }

    @media screen and (max-width: 18.75em) {
      height: 25rem;
    }

    @media screen and (min-width: 112.5em) {
      height: 31rem;
    }

    @media screen and (min-width: 125em) {
      height: 35rem;
    }

    &--img {
      width: 100% !important;
      height: 100% !important;
    }
  }

  &__wrap {
    position: absolute;
    bottom: -1rem;
    right: 1rem;
    z-index: 1000;

    .react-loading-skeleton {
      --base-color: #021124 !important;
    }

    &--calendar {
      width: 5rem !important;
      height: 5rem !important;
      border-radius: 0.5rem;

      @media screen and (max-width: 56.25em) {
        width: 5.5rem !important;
        height: 5.5rem !important;
      }

      @media screen and (max-width: 51.25em) {
        width: 6rem !important;
        height: 6rem !important;
      }

      @media screen and (max-width: 26.25em) {
        width: 5rem !important;
        height: 5rem !important;
      }

      @media screen and (min-width: 106.25em) {
        width: 5.5rem !important;
        height: 5.5rem !important;
      }

      @media screen and (min-width: 112.5em) {
        width: 6rem !important;
        height: 6rem !important;
      }

      @media screen and (min-width: 125em) {
        width: 8rem !important;
        height: 8rem !important;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    padding: 2rem;

    @media screen and (max-width: 26.25em) {
      padding: 1.25rem 1rem;
    }

    @media screen and (max-width: 18.75em) {
      gap: 1rem;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &--icon {
      width: 2rem !important;
      height: 2rem !important;

      @media screen and (max-width: 56.25em) {
        width: 2.1rem !important;
        height: 2.1rem !important;
      }

      @media screen and (max-width: 51.25em) {
        width: 2.2rem !important;
        height: 2.2rem !important;
      }

      @media screen and (max-width: 26.25em) {
        width: 1.95rem !important;
        height: 1.95rem !important;
      }

      @media screen and (min-width: 106.25em) {
        width: 2.1rem !important;
        height: 2.1rem !important;
      }

      @media screen and (min-width: 112.5em) {
        width: 2.2rem !important;
        height: 2.2rem !important;
      }

      @media screen and (min-width: 125em) {
        width: 2.65rem !important;
        height: 2.65rem !important;
      }
    }

    &--time {
      width: 10rem !important;
      height: 2.1rem !important;
      border-radius: 0.5rem;

      @media screen and (max-width: 56.25em) {
        width: 11rem !important;
        height: 2.2rem !important;
      }

      @media screen and (max-width: 51.25em) {
        width: 12rem !important;
        height: 2.35rem !important;
      }

      @include bp.sm {
        height: 2.15rem !important;
      }

      @media screen and (min-width: 106.25em) {
        height: 2.25rem !important;
      }

      @media screen and (min-width: 112.5em) {
        width: 11rem !important;
        height: 2.5rem !important;
      }

      @media screen and (min-width: 125em) {
        width: 13.5rem !important;
        height: 3rem !important;
      }
    }
  }

  &__comments {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &--icon {
      width: 2rem !important;
      height: 2rem !important;

      @media screen and (max-width: 56.25em) {
        width: 2.1rem !important;
        height: 2.1rem !important;
      }

      @media screen and (max-width: 51.25em) {
        width: 2.2rem !important;
        height: 2.2rem !important;
      }

      @media screen and (max-width: 26.25em) {
        width: 1.95rem !important;
        height: 1.95rem !important;
      }

      @media screen and (min-width: 106.25em) {
        width: 2.1rem !important;
        height: 2.1rem !important;
      }

      @media screen and (min-width: 112.5em) {
        width: 2.2rem !important;
        height: 2.2rem !important;
      }

      @media screen and (min-width: 125em) {
        width: 2.65rem !important;
        height: 2.65rem !important;
      }
    }

    &--count {
      width: 1.6rem !important;
      height: 2.1rem !important;
      border-radius: 0.5rem;

      @media screen and (max-width: 56.25em) {
        width: 2rem !important;
        height: 2.2rem !important;
      }

      @media screen and (max-width: 51.25em) {
        width: 2.2rem !important;
        height: 2.35rem !important;
      }

      @include bp.sm {
        height: 2.15rem !important;
      }

      @media screen and (min-width: 106.25em) {
        width: 2rem !important;
        height: 2.5rem !important;
      }

      @media screen and (min-width: 112.5em) {
        width: 3rem !important;
        height: 2.5rem !important;
      }

      @media screen and (min-width: 125em) {
        width: 3.25rem !important;
        height: 3rem !important;
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    &--heading {
      width: 41rem !important;
      height: 2rem !important;
      border-radius: 0.5rem;

      @media screen and (max-width: 81.25em) {
        width: 40rem !important;
      }

      @media screen and (max-width: 68.75em) {
        width: 38rem !important;
      }

      @media screen and (max-width: 56.25em) {
        height: 2.25rem !important;
      }

      @media screen and (max-width: 51.25em) {
        height: 2.5rem !important;
      }

      @include bp.sm {
        height: 2.3rem !important;
      }

      @media screen and (max-width: 21.5em) {
        width: 34rem !important;
        height: 2.1rem !important;
      }

      @media screen and (max-width: 18.75em) {
        width: 31rem !important;
      }

      @media screen and (max-width: 17.5em) {
        width: 29rem !important;
      }

      @media screen and (min-width: 106.25em) {
        height: 2.15rem !important;
      }

      @media screen and (min-width: 112.5em) {
        width: 42rem !important;
        height: 2.25rem !important;
      }

      @media screen and (min-width: 125em) {
        width: 44.5rem !important;
        height: 3rem !important;
      }
    }

    &--desc {
      width: 41rem !important;
      height: 1.5rem !important;
      border-radius: 0.5rem;

      @media screen and (max-width: 81.25em) {
        width: 40rem !important;
      }

      @media screen and (max-width: 68.75em) {
        width: 38rem !important;
      }

      @media screen and (max-width: 56.25em) {
        height: 1.85rem !important;
      }

      @media screen and (max-width: 51.25em) {
        height: 2rem !important;
      }

      @include bp.sm {
        height: 1.65rem !important;
      }

      @media screen and (max-width: 21.5em) {
        width: 34rem !important;
        height: 1.5rem !important;
      }

      @media screen and (max-width: 18.75em) {
        width: 31rem !important;
      }

      @media screen and (max-width: 17.5em) {
        width: 29rem !important;
      }

      @media screen and (min-width: 106.25em) {
        height: 1.75rem !important;
      }

      @media screen and (min-width: 112.5em) {
        width: 42rem !important;
        height: 2rem !important;
      }

      @media screen and (min-width: 125em) {
        width: 44.5rem !important;
        height: 2.25rem !important;
      }

      &.sm {
        width: 25rem !important;

        @media screen and (max-width: 68.75em) {
          width: 23rem !important;
        }

        @media screen and (max-width: 51.25em) {
          width: 20rem !important;
        }

        @media screen and (max-width: 21.5em) {
          width: 18rem !important;
        }
      }
    }

    &--link {
      width: 10rem !important;
      height: 4rem !important;
      border-radius: 10rem;

      @media screen and (max-width: 56.25em) {
        width: 11rem !important;
        height: 4.1rem !important;
      }

      @media screen and (max-width: 51.25em) {
        width: 12rem !important;
        height: 4.2rem !important;
      }

      @include bp.sm {
        height: 4rem !important;
      }

      @media screen and (max-width: 21.5em) {
        height: 3.75rem !important;
      }

      @media screen and (max-width: 17.5em) {
        height: 1.5rem !important;
        border-radius: 0.5rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 11rem !important;
        height: 4.1rem !important;
      }

      @media screen and (min-width: 112.5em) {
        width: 13rem;
        height: 4.2rem !important;
      }

      @media screen and (min-width: 125em) {
        width: 15rem !important;
        height: 5.5rem !important;
      }
    }
  }
}
