@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.social-menu {
  flex: 1;
  width: 100%;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;

    list-style: none;

    @media screen and (max-width: 34.375em) {
      justify-content: space-between;
    }

    @media screen and (max-width: 21.5em) {
      column-gap: 1.5rem;
    }

    @media screen and (max-width: 20em) {
      column-gap: 1.25rem;
    }

    @media screen and (max-width: 18.75em) {
      column-gap: 0.8rem;
    }

    @media screen and (max-width: 17.5em) {
      justify-content: flex-start;
      column-gap: 2.25rem;
    }
  }
}
