@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.social-menu {
  flex: 1;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;

    list-style: none;
  }
}
