@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.article {
  &:not(:last-child) {
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid vars.$clr-tertiary-blue;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;

    @media screen and (max-width: 21.5em) {
      gap: 1rem;
    }
  }

  &__cover {
    &--img {
      width: 6rem;
      height: 6rem;
      display: inline-block;
      object-fit: cover;
      border-radius: 50%;

      &.blurred {
        filter: blur(3px);
        pointer-events: none;
        user-select: none;
      }

      @media screen and (max-width: 28.125em) {
        width: 5rem;
        height: 5rem;
      }

      @media screen and (max-width: 26.875em) {
        width: 4rem;
        height: 4rem;
      }

      @media screen and (max-width: 25em) {
        width: 3.75rem;
        height: 3.75rem;
      }

      @media screen and (max-width: 21.5em) {
        width: 3.5rem;
        height: 3.5rem;
      }

      @media screen and (max-width: 18.75em) {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  &__wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    min-width: 0;

    &--username {
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        gap: 1px;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
        stroke-width: 2px;
        color: vars.$clr-gray-light-1;

        @media screen and (max-width: 56.25em) {
          width: 1.65rem;
          height: 1.65rem;
        }

        @media screen and (max-width: 51.25em) {
          width: 1.75rem;
          height: 1.75rem;
        }

        @include bp.sm {
          width: 1.7rem;
          height: 1.7rem;
        }

        @media screen and (max-width: 21.5em) {
          width: 1.5rem;
          height: 1.5rem;
        }

        @media screen and (max-width: 17.5em) {
          width: 1.45rem;
          height: 1.45rem;
        }

        @media screen and (min-width: 106.25em) {
          width: 1.65rem;
          height: 1.65rem;
        }

        @media screen and (min-width: 112.5em) {
          width: 1.85rem;
          height: 1.85rem;
        }

        @media screen and (min-width: 125em) {
          width: 2.25rem;
          height: 2.25rem;
        }
      }

      span {
        font-weight: 600;
        font-size: 1.4rem;
        color: vars.$clr-gray-light-1;

        @media screen and (max-width: 56.25em) {
          font-size: 1.5rem;
        }

        @media screen and (max-width: 51.25em) {
          font-size: var(--default-font-size);
        }

        @media screen and (max-width: 34.375em) {
          font-size: 1.7rem;
        }

        @include bp.sm {
          font-size: 1.8rem;
        }

        @media screen and (max-width: 22.5em) {
          font-size: 1.65rem;
        }

        @media screen and (max-width: 18.75em) {
          font-size: 1.55rem;
        }

        @media screen and (max-width: 17.5em) {
          font-size: 1.5rem;
        }

        @media screen and (min-width: 106.25em) {
          font-size: 1.5rem;
        }

        @media screen and (min-width: 112.5em) {
          font-size: var(--default-font-size);
        }

        @media screen and (min-width: 125em) {
          font-size: 2rem;
        }
      }
    }

    &--name {
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      color: vars.$clr-white;
      font-weight: 600;
      font-size: 1.5rem;

      @media screen and (max-width: 56.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.7rem;
      }

      @media screen and (max-width: 34.375em) {
        font-size: 1.8rem;
      }

      @include bp.sm {
        display: block;
        text-overflow: ellipsis;
        max-width: 24rem;
        font-size: 1.9rem;
        white-space: nowrap;
        overflow: hidden;
      }

      @media screen and (max-width: 28.125em) {
        max-width: 20rem;
      }

      @media screen and (max-width: 25em) {
        max-width: 18rem;
      }

      @media screen and (max-width: 24.375em) {
        max-width: 17rem;
      }

      @media screen and (max-width: 23.75em) {
        max-width: 16rem;
      }

      @media screen and (max-width: 22.5em) {
        max-width: 15rem;
        font-size: 1.75rem;
      }

      @media screen and (max-width: 21.5em) {
        max-width: 14rem;
      }

      @media screen and (max-width: 20em) {
        max-width: 12rem;
      }

      @media screen and (max-width: 18.75em) {
        max-width: 11rem;
        font-size: 1.65rem;
      }

      @media screen and (max-width: 17.5em) {
        max-width: 10rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.7rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.1rem;
      }
    }

    &--dot,
    &--time {
      color: vars.$clr-gray-light-1;
    }

    &--dot {
      font-size: 0.65rem;

      @media screen and (max-width: 56.25em) {
        font-size: 0.75rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 0.85rem;
      }

      @media screen and (max-width: 21.5em) {
        font-size: 0.7rem;
      }

      @media screen and (max-width: 17.5em) {
        font-size: 0.6rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 0.75rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 0.85rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1rem;
      }
    }

    &--time {
      flex-shrink: 0;
      max-width: 100%;
      font-size: 1.4rem;

      @media screen and (max-width: 56.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 34.375em) {
        font-size: 1.7rem;
      }

      @include bp.sm {
        flex-shrink: 1;

        text-align: right;
        word-break: keep-all;
        font-size: 1.8rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.65rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.55rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 125em) {
        font-size: 2rem;
      }
    }
  }

  &__image {
    display: none;

    @media screen and (max-width: 34.375em) {
      display: block;
      width: 100%;
      height: 25rem;
      border-top-left-radius: 1.25rem;
      border-top-right-radius: 1.25rem;
      overflow: hidden;
      margin: 1rem 0;
    }

    @media screen and (max-width: 22.5em) {
      height: 23rem;
    }

    @media screen and (max-width: 18.75em) {
      height: 20rem;
    }

    &--img {
      width: 100%;
      height: 100%;
      display: inline-block;
      object-fit: cover;
    }
  }

  &__desc {
    font-size: 1.4rem;
    color: vars.$clr-gray-light-3;
    line-height: 1.3;

    @media screen and (max-width: 56.25em) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: var(--default-font-size);
    }

    @media screen and (max-width: 34.375em) {
      font-size: 1.7rem;
    }

    @include bp.sm {
      font-size: 1.8rem;
    }

    @media screen and (max-width: 22.5em) {
      font-size: 1.65rem;
    }

    @media screen and (max-width: 18.75em) {
      font-size: 1.55rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 1.5rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: var(--default-font-size);
    }

    @media screen and (min-width: 125em) {
      font-size: 2rem;
    }

    button {
      display: inline-block;
      border: 0;
      outline: 0;
      text-transform: lowercase;
      font-weight: 500;
      font-size: 1.3rem;
      background-color: transparent;
      color: vars.$clr-gray-light-1;
      cursor: pointer;
      position: relative;

      @media screen and (max-width: 56.25em) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 34.375em) {
        font-size: var(--default-font-size);
      }

      @include bp.sm {
        font-size: 1.7rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.55rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.45rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.9rem;
      }

      &.show {
        display: inline-block;
        visibility: visible;
        opacity: 1;
        z-index: 1000;
        transition: all 300ms ease-out;
      }

      &.hide {
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transition: all 300ms ease-in;
      }

      &:disabled {
        opacity: 0.75;
        cursor: default;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 0.5rem;
  }
}
