@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.hero {
  width: 100%;
  height: 30vw;
  // background-image: linear-gradient(
  //     to right bottom,
  //     rgba(vars.$clr-black, 0.85),
  //     rgba(vars.$clr-gray-dark-1, 0.15)
  //   ),
  //   url('https://ik.imagekit.io/devayo/default-post.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(vars.$clr-tertiary-blue, 0.5);
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include bp.xxl {
    height: 33vw;
  }

  @media screen and (max-width: 76.25em) {
    height: 35vw;
  }

  @media screen and (max-width: 68.75em) {
    height: 37vw;
  }

  @include bp.lg {
    height: 40vw;
  }

  @media screen and (max-width: 59.375em) {
    height: 43vw;
  }

  @media screen and (max-width: 56.25em) {
    height: 47vw;
  }

  @media screen and (max-width: 51.25em) {
    height: 50vw;
  }

  @include bp.md {
    height: 53vw;
  }

  @media screen and (max-width: 43.75em) {
    height: 55vw;
  }

  @media screen and (max-width: 40.625em) {
    height: 57vw;
  }

  @media screen and (max-width: 37.5em) {
    height: 60vw;
  }

  @media screen and (max-width: 34.375em) {
    height: 63vw;
  }

  @media screen and (max-width: 31.25em) {
    height: 65vw;
  }

  @include bp.sm {
    height: 73vw;
  }

  @media screen and (max-width: 26.875em) {
    height: 75vw;
  }

  @media screen and (max-width: 25em) {
    height: 77vw;
  }

  @media screen and (max-width: 24.375em) {
    height: 80vw;
  }

  @media screen and (max-width: 23.75em) {
    height: 82vw;
  }

  @media screen and (max-width: 23.4375em) {
    height: 85vw;
  }

  @media screen and (max-width: 22.5em) {
    height: 87vw;
  }

  @media screen and (max-width: 21.5em) {
    height: 90vw;
  }

  @media screen and (max-width: 18.75em) {
    height: 93vw;
  }

  @media screen and (min-width: 106.25em) {
    height: 32vw;
  }

  @media screen and (min-width: 112.5em) {
    height: 35vw;
  }

  @media screen and (min-width: 125em) {
    height: 37vw;
  }

  &__breadCrumbs {
    display: flex;
    align-items: center;

    line-height: 2.5;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 34.375em) {
      margin-bottom: 1rem;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 1rem;

    list-style: none;

    &--item {
      display: flex;
      align-items: center;

      &:first-child {
        &::after {
          content: '';
          display: inline-block;
          width: 2px;
          height: 1.25rem;
          background-color: vars.$clr-white;
          margin-left: 1rem;
        }
      }

      a {
        &:link,
        &:visited {
          display: flex;
          align-items: baseline;

          text-transform: uppercase;
          text-rendering: optimizeLegibility;
          font-weight: 700;
          font-size: 1.3rem;
          transition: all 300ms ease-in-out;

          @media screen and (max-width: 56.25em) {
            font-size: 1.4rem;
          }

          @media screen and (max-width: 51.25em) {
            font-size: 1.5rem;
          }

          @media screen and (max-width: 25em) {
            font-size: 1.45rem;
          }

          @media screen and (max-width: 21.5em) {
            font-size: 1.4rem;
          }

          @media screen and (max-width: 18.75em) {
            font-size: 1.35rem;
          }

          @media screen and (min-width: 106.25em) {
            font-size: 1.4rem;
          }

          @media screen and (min-width: 112.5em) {
            font-size: 1.5rem;
          }

          @media screen and (min-width: 125em) {
            font-size: 2rem;
          }

          &:hover {
            text-decoration: underline;
            text-underline-offset: 0.5rem;
            text-decoration-color: vars.$clr-pink-dark-1;
            text-decoration-thickness: 2px;
          }
        }
      }
    }
  }

  &__heading {
    display: inline-block;
    width: 65%;
    text-align: center;
    text-rendering: optimizeLegibility;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 1.3;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 56.25em) {
      font-size: 3.3rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 70%;
      font-size: 3.4rem;
    }

    @media screen and (max-width: 43.75em) {
      width: 80%;
      font-size: 3rem;
    }

    @media screen and (max-width: 37.5em) {
      font-size: 2.8rem;
    }

    @include bp.sm {
      width: 85%;
    }

    @media screen and (max-width: 26.875em) {
      width: 87%;
    }

    @media screen and (max-width: 25em) {
      font-size: 2.6rem;
    }

    @media screen and (max-width: 24.375em) {
      width: 90%;
    }

    @media screen and (max-width: 23.4375em) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: 21.5em) {
      font-size: 2.35rem;
    }

    @media screen and (max-width: 18.75em) {
      width: 100%;
      font-size: 2.2rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 3.3rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: 3.4rem;
    }

    @media screen and (min-width: 125em) {
      width: 70%;
      font-size: 3.7rem;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    margin-top: 1rem;
    position: relative;
    z-index: 1;

    @include bp.sm {
      flex-direction: column-reverse;
      gap: 0.5rem;
    }

    &--time,
    &--author {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      color: vars.$clr-white;

      svg {
        width: 2.25rem;
        height: 2.25rem;
        color: currentColor;
        stroke-width: 2px;

        @media screen and (max-width: 56.25em) {
          width: 2.35rem;
          height: 2.35rem;
        }

        @media screen and (max-width: 51.25em) {
          width: 2.45rem;
          height: 2.45rem;
        }

        @media screen and (max-width: 43.75em) {
          width: 2.4rem;
          height: 2.4rem;
        }

        @media screen and (max-width: 37.5em) {
          width: 2.35rem;
          height: 2.35rem;
        }

        @media screen and (max-width: 34.375em) {
          width: 2.25rem;
          height: 2.25rem;
        }

        @media screen and (max-width: 18.75em) {
          width: 2.05rem;
          height: 2.05rem;
        }

        @media screen and (min-width: 106.25em) {
          width: 2.35rem;
          height: 2.35rem;
        }

        @media screen and (min-width: 112.5em) {
          width: 2.55rem;
          height: 2.55rem;
        }

        @media screen and (min-width: 125em) {
          width: 3.25rem;
          height: 3.25rem;
        }
      }

      time,
      span {
        font-weight: 600;
        font-size: 1.5rem;
        color: inherit;

        @media screen and (max-width: 56.25em) {
          font-size: 1.7rem;
        }

        @media screen and (max-width: 51.25em) {
          font-size: 1.9rem;
        }

        @media screen and (max-width: 37.5em) {
          font-size: 2rem;
        }

        @include bp.sm {
          font-size: 1.8rem;
        }

        @media screen and (max-width: 25em) {
          font-size: 1.7rem;
        }

        @media screen and (max-width: 22.5em) {
          font-size: 1.65rem;
        }

        @media screen and (max-width: 21.5em) {
          font-size: var(--default-font-size);
        }

        @media screen and (max-width: 18.75em) {
          font-size: 1.5rem;
        }

        @media screen and (min-width: 106.25em) {
          font-size: 1.7rem;
        }

        @media screen and (min-width: 112.5em) {
          font-size: 1.9rem;
        }

        @media screen and (min-width: 125em) {
          font-size: 2.25rem;
        }
      }
    }

    &--time {
      time {
        font-variant: tabular-nums;
      }
    }

    &--author {
      span {
        text-transform: capitalize;
      }
    }
  }
}
