@import '../../styles/variables.scss';

.hero {
  width: 100%;
  height: 40vw;
  background-image: url('/hero-1.jpg');
  background-size: cover;
  background-position: center;
  background-color: $clr-secondary-blue;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__breadCrumbs {
    display: flex;
    align-items: center;
    gap: 1rem;

    &--link {
      &:link,
      &:visited {
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
        font-weight: 500;
        font-size: 1.3rem;
        transition: all 300ms ease-in-out;
      }

      &:hover {
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        text-decoration-color: $clr-pink-dark-1;
      }
    }
  }

  &__heading {
    display: inline-block;
    text-rendering: optimizeLegibility;
    font-weight: 600;
    line-height: 1.4;
  }
}
