@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.hero {
  width: 100%;
  height: 40vw;
  background-image: linear-gradient(
      to right bottom,
      $clr-gray-dark-1,
      $clr-gray-dark-2
    ),
    url('/hero-1.jpg');
  background-size: cover;
  background-position: center;
  background-color: $clr-secondary-blue;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include xxl {
    height: 43vw;
  }

  @media screen and (max-width: 68.75em) {
    height: 45vw;
  }

  @include lg {
    height: 47vw;
  }

  @media screen and (max-width: 59.375em) {
    height: 50vw;
  }

  @media screen and (max-width: 56.25em) {
    height: 52vw;
  }

  @media screen and (max-width: 51.25em) {
    height: 55vw;
  }

  @include md {
    height: 57vw;
  }

  @media screen and (max-width: 43.75em) {
    height: 60vw;
  }

  @media screen and (max-width: 40.625em) {
    height: 62vw;
  }

  @media screen and (max-width: 37.5em) {
    height: 65vw;
  }

  @media screen and (min-width: 125em) {
    height: 43vw;
  }

  &__breadCrumbs {
    display: flex;
    align-items: center;
    gap: 1rem;

    &--link {
      &:link,
      &:visited {
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
        font-weight: 700;
        font-size: 1.3rem;
        transition: all 300ms ease-in-out;

        @media screen and (max-width: 56.25em) {
          font-size: 1.4rem;
        }

        @media screen and (max-width: 51.25em) {
          font-size: 1.5rem;
        }

        @media screen and (min-width: 106.25em) {
          font-size: 1.4rem;
        }

        @media screen and (min-width: 112.5em) {
          font-size: 1.5rem;
        }

        @media screen and (min-width: 125em) {
          font-size: 1.8rem;
        }
      }

      &:hover {
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        text-decoration-color: $clr-pink-dark-1;
        text-decoration-thickness: 2px;
      }
    }
  }

  &__heading {
    display: inline-block;
    text-align: center;
    text-rendering: optimizeLegibility;
    font-weight: 600;
    font-size: 3.2rem;
    width: 60%;
    line-height: 1.2;

    @media screen and (max-width: 56.25em) {
      font-size: 3.3rem;
      line-height: 1.1;
    }

    @media screen and (max-width: 51.25em) {
      font-size: 3.4rem;
      width: 70%;
    }

    @media screen and (max-width: 43.75em) {
      font-size: 3rem;
      width: 80%;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 3.3rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: 3.4rem;
    }

    @media screen and (min-width: 125em) {
      font-size: 3.5rem;
    }
  }
}
