@import '../../styles/variables.scss';

.postDetail {
  &__container {
    background-color: $clr-secondary-blue;
    padding: 3rem;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__username,
  &__date {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $clr-gray-light-1;

    svg {
      color: currentColor;
      width: 1.3rem;
      height: 1.3rem;
    }

    span,
    time {
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 500;
      font-size: 1.1rem;
      color: inherit;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    svg {
      width: 1.65rem;
      height: 1.65rem;
    }
  }
}
