@import '../../styles/variables.scss';

.postDetail {
  &__container {
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__username,
  &__date {
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
      width: 1.65rem;
      height: 1.65rem;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__likes,
  &__bookmark {
    display: flex;
    align-items: center;

    svg {
      width: 1.65rem;
      height: 1.65rem;
    }
  }
}
