@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.postDetail {
  &__container {
    background-color: vars.$clr-secondary-blue;
    padding: 3rem;
    border-radius: 3px;

    @media screen and (max-width: 81.25em) {
      padding: 2rem;
    }

    @include bp.sm {
      padding: 0;
      padding-bottom: 3rem;
      background-color: transparent;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 34.375em) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1rem;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media screen and (max-width: 34.375em) {
      justify-content: space-between;
      width: 100%;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media screen and (max-width: 57.5em) {
      gap: 1.25rem;
    }

    @media screen and (max-width: 31.25em) {
      gap: 2rem;
    }

    @media screen and (max-width: 23.75em) {
      gap: 1rem;
    }

    @media screen and (max-width: 17.5em) {
      gap: 0.7rem;
    }

    &--username,
    &--date {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: vars.$clr-gray-light-1;

      svg {
        width: 1.5rem;
        height: 1.5rem;
        color: vars.$clr-gray-light-3;
        stroke-width: 3px;

        @media screen and (max-width: 56.25em) {
          width: 1.6rem;
          height: 1.6rem;
        }

        @media screen and (max-width: 51.25em) {
          width: 1.7rem;
          height: 1.7rem;
        }

        @media screen and (max-width: 23.75em) {
          width: 1.5rem;
          height: 1.5rem;
        }

        @media screen and (max-width: 20em) {
          width: 1.4rem;
          height: 1.4rem;
        }

        @media screen and (max-width: 17.5em) {
          width: 1.35rem;
          height: 1.35rem;
        }

        @media screen and (min-width: 106.25em) {
          width: 1.6rem;
          height: 1.6rem;
        }

        @media screen and (min-width: 112.5em) {
          width: 1.8rem;
          height: 1.8rem;
        }

        @media screen and (min-width: 125em) {
          width: 2rem;
          height: 2rem;
        }
      }

      span,
      time {
        text-transform: capitalize;
        text-rendering: optimizeLegibility;
        font-weight: 500;
        font-size: 1.3rem;
        color: inherit;

        @media screen and (max-width: 56.25em) {
          font-size: 1.4rem;
        }

        @media screen and (max-width: 51.25em) {
          font-size: 1.5rem;
        }

        @media screen and (max-width: 23.75em) {
          font-size: 1.35rem;
        }

        @media screen and (max-width: 20em) {
          font-size: 1.25rem;
        }

        @media screen and (max-width: 18.75em) {
          font-size: 1.2rem;
        }

        @media screen and (max-width: 17.5em) {
          font-size: 1rem;
        }

        @media screen and (min-width: 106.25em) {
          font-size: 1.4rem;
        }

        @media screen and (min-width: 112.5em) {
          font-size: 1.5rem;
        }

        @media screen and (min-width: 125em) {
          font-size: 1.7rem;
        }
      }
    }
  }

  &__view {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: vars.$clr-gray-light-1;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: vars.$clr-gray-light-3;
      stroke-width: 3px;

      @media screen and (max-width: 56.25em) {
        width: 1.6rem;
        height: 1.6rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 1.7rem;
        height: 1.7rem;
      }

      @media screen and (max-width: 23.75em) {
        width: 1.5rem;
        height: 1.5rem;
      }

      @media screen and (max-width: 20em) {
        width: 1.4rem;
        height: 1.4rem;
      }

      @media screen and (max-width: 17.5em) {
        width: 1.35rem;
        height: 1.35rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 1.6rem;
        height: 1.6rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 1.8rem;
        height: 1.8rem;
      }

      @media screen and (min-width: 125em) {
        width: 2rem;
        height: 2rem;
      }
    }

    span,
    time {
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 500;
      font-size: 1.3rem;
      color: inherit;

      @media screen and (max-width: 56.25em) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 23.75em) {
        font-size: 1.35rem;
      }

      @media screen and (max-width: 20em) {
        font-size: 1.25rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.2rem;
      }

      @media screen and (max-width: 17.5em) {
        font-size: 1rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.7rem;
      }
    }
  }

  &__view {
    font-variant: tabular-nums;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media screen and (max-width: 34.375em) {
      justify-content: space-between;

      width: 100%;
      padding-top: 1.5rem;
      border-top: 1px solid vars.$clr-tertiary-blue;
    }

    &--likes,
    &--buttons,
    &--bookmarks {
      display: flex;
      align-items: center;
      gap: 2rem;

      @media screen and (max-width: 57.5em) {
        gap: 1.25rem;
      }

      @media screen and (max-width: 31.25em) {
        gap: 2rem;
      }

      @media screen and (max-width: 23.75em) {
        gap: 1rem;
      }

      button {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        border: 0;
        outline: 0;
        background-color: transparent;
        color: vars.$clr-gray-light-1;
        cursor: pointer;

        svg {
          width: 1.85rem;
          height: 1.85rem;
          color: vars.$clr-gray-light-3;
          stroke-width: 2px;

          @media screen and (max-width: 56.25em) {
            width: 1.95rem;
            height: 1.95rem;
          }

          @media screen and (max-width: 51.25em) {
            width: 2.35rem;
            height: 2.35rem;
          }

          @media screen and (max-width: 34.375em) {
            width: 2.3rem;
            height: 2.3rem;
          }

          @include bp.sm {
            width: 2.25rem;
            height: 2.25rem;
          }

          @media screen and (max-width: 23.75em) {
            width: 2.1rem;
            height: 2.1rem;
          }

          @media screen and (max-width: 21.5em) {
            width: 2rem;
            height: 2rem;
          }

          @media screen and (max-width: 20em) {
            width: 1.85rem;
            height: 1.85rem;
          }

          @media screen and (max-width: 17.5em) {
            width: 1.75rem;
            height: 1.75rem;
          }

          @media screen and (min-width: 106.25em) {
            width: 2.25rem;
            height: 2.25rem;
          }

          @media screen and (min-width: 112.5em) {
            width: 2.4rem;
            height: 2.4rem;
          }

          @media screen and (min-width: 125em) {
            width: 2.7rem;
            height: 2.7rem;
          }
        }

        span {
          font-weight: 600;
          font-size: 1.3rem;
          font-variant: tabular-nums;
          color: currentColor;

          @media screen and (max-width: 56.25em) {
            font-size: 1.4rem;
          }

          @media screen and (max-width: 51.25em) {
            font-size: 1.5rem;
          }

          @media screen and (max-width: 23.75em) {
            font-size: 1.35rem;
          }

          @media screen and (max-width: 20em) {
            font-size: 1.25rem;
          }

          @media screen and (max-width: 18.75em) {
            font-size: 1.2rem;
          }

          @media screen and (max-width: 17.5em) {
            font-size: 1rem;
          }

          @media screen and (min-width: 106.25em) {
            font-size: 1.4rem;
          }

          @media screen and (min-width: 112.5em) {
            font-size: 1.5rem;
          }

          @media screen and (min-width: 125em) {
            font-size: 1.7rem;
          }
        }
      }
    }

    &--bookmarks {
      button {
        @include bp.sm {
          padding: 0.8rem 1.25rem;
          background-color: vars.$clr-secondary-blue !important;
          border-radius: 10rem;
        }
      }
    }

    &--btnComment {
      @include bp.sm {
        padding: 0.8rem 1.25rem;
        background-color: vars.$clr-secondary-blue !important;
        border-radius: 10rem;
      }
    }

    &--buttons {
      @include bp.sm {
        gap: 1rem;

        padding: 0.8rem 1.25rem;
        background-color: vars.$clr-secondary-blue;
        border-radius: 10rem;

        button {
          &:first-child {
            &::after {
              content: '|';
              display: inline-block;
              margin-left: 0.5rem;
            }
          }
        }
      }
    }
  }

  &__box {
    background-color: vars.$clr-secondary-blue;
    padding: 3rem;
    border-radius: 3px;
    margin-top: 1rem;

    @media screen and (max-width: 81.25em) {
      padding: 2rem;
    }

    @include bp.sm {
      padding: 0;
      padding-bottom: 3rem;
      background-color: transparent;
      border-radius: 0;
    }

    @media screen and (min-width: 112.5em) {
      margin-top: 1.5rem;
    }

    @media screen and (min-width: 125em) {
      margin-top: 2rem;
    }
  }

  &__heading {
    font-weight: 600;
    font-size: 2.15rem;
    color: inherit;
    line-height: 1.2;
    margin-bottom: 2rem;

    @media screen and (max-width: 56.25em) {
      font-size: 2.25rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: 2.35rem;
    }

    @media screen and (max-width: 37.5em) {
      font-size: 2.3rem;
    }

    @media screen and (max-width: 34.375em) {
      font-size: 2.2rem;
    }

    @media screen and (max-width: 31.25em) {
      font-size: 2.1rem;
    }

    @media screen and (max-width: 26.875em) {
      font-size: 2rem;
    }

    @media screen and (max-width: 18.75em) {
      font-size: 1.65rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 2.25rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: 2.35rem;
    }

    @media screen and (min-width: 125em) {
      font-size: 2.5rem;
    }
  }

  &__desc {
    font-size: 1.65rem;
    color: vars.$clr-gray-light-1;
    word-break: break-all;

    @media screen and (max-width: 56.25em) {
      font-size: 1.75rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: 1.85rem;
    }

    @media screen and (max-width: 18.75em) {
      font-size: 1.65rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 1.75rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: 1.85rem;
    }

    @media screen and (min-width: 125em) {
      font-size: 2rem;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
