@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.newsletter {
  flex: 1;

  background-image: linear-gradient(
      to right bottom,
      rgba(vars.$clr-black, 0.15),
      rgba(vars.$clr-black, 0.75)
    ),
    url(/contact-bg-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: vars.$box;
  border-radius: 2rem;
  overflow: hidden;

  &__container {
    padding: 2.5rem 2rem;
    background-color: rgba(vars.$clr-primary-blue, 0.85);

    @include bp.lg {
      padding: 4.2rem 2rem;
    }
  }

  &__wrapper {
    margin-top: 1.75rem;

    .input {
      &__control {
        border-color: vars.$clr-tertiary-blue;

        &:focus {
          background-color: rgba(vars.$clr-secondary-blue, 0.5);
          backdrop-filter: blur(3px);
        }
      }
    }
  }
}
