@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.comment-action-menu-list {
  list-style: none;

  &__actions,
  &__reports {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &.show {
      display: flex;
      visibility: visible;
      opacity: 1;
      z-index: 1000;
    }

    &.hide {
      display: none;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
    }
  }
}
