@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.recent-posts {
  display: flex;
  justify-content: center;

  &__container {
    width: 130rem;
    padding: 8rem 0;

    @media screen and (max-width: 93.75em) {
      width: 120rem;
    }

    @include bp.xxl {
      width: 110rem;
    }

    @media screen and (max-width: 81.25em) {
      width: 104rem;
    }

    @media screen and (max-width: 76.25em) {
      width: 96rem;
    }

    @include bp.xl {
      width: 104rem;
    }

    @media screen and (max-width: 68.75em) {
      width: 96rem;
    }

    @include bp.lg {
      width: 100rem;
    }

    @media screen and (max-width: 59.375em) {
      width: 95rem;
    }

    @media screen and (max-width: 57.5em) {
      width: 93rem;
    }

    @media screen and (max-width: 56.25em) {
      width: 98rem;
    }

    @media screen and (max-width: 53.75em) {
      width: 95rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 90rem;
    }

    @include bp.md {
      width: 87rem;
    }

    @media screen and (max-width: 43.75em) {
      width: 80rem;
    }

    @media screen and (max-width: 41.875em) {
      width: 75rem;
    }

    @media screen and (max-width: 38.75em) {
      width: 72rem;
    }

    @media screen and (max-width: 37.5em) {
      width: 67rem;
    }

    @media screen and (max-width: 34.375em) {
      width: 62rem;
    }

    @media screen and (max-width: 31.5em) {
      width: 55rem;
    }

    @include bp.sm {
      width: 53rem;
    }

    @media screen and (max-width: 28.125em) {
      width: 50rem;
    }

    @media screen and (max-width: 26.875em) {
      width: 47rem;
    }

    @media screen and (max-width: 26.25em) {
      width: 45rem;
    }

    @media screen and (max-width: 25em) {
      width: 43rem;
    }

    @media screen and (max-width: 24.375em) {
      width: 42rem;
    }

    @media screen and (max-width: 23.75em) {
      width: 40rem;
    }

    @media screen and (max-width: 22.5em) {
      width: 38rem;
    }

    @media screen and (max-width: 21.5em) {
      width: 36rem;
    }

    @media screen and (max-width: 20em) {
      width: 34rem;
    }

    @media screen and (max-width: 18.75em) {
      width: 32rem;
    }

    @media screen and (max-width: 17.5em) {
      width: 30rem;
    }

    @media screen and (min-width: 112.5em) {
      width: 120rem;
    }

    @media screen and (min-width: 125em) {
      width: 136rem;
    }

    &--heading {
      display: flex;
      align-items: center;
      justify-content: center;

      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 700;
      font-size: 2.2rem;
      color: inherit;
      line-height: 1.3;
      margin-bottom: 5rem;

      @media screen and (max-width: 56.25em) {
        font-size: 2.3rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 2.4rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 2.3rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 2.4rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.65rem;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3.25rem;

    @include bp.xxl {
      gap: 7rem;
    }

    @media screen and (max-width: 76.25em) {
      gap: 6rem;
    }

    @include bp.xl {
      gap: 7rem;
    }

    @media screen and (max-width: 57.5em) {
      gap: 6rem;
    }

    @media screen and (max-width: 53.75em) {
      gap: 4.5rem;
    }

    @media screen and (max-width: 51.25em) {
      gap: 3rem;
    }

    @media screen and (max-width: 38.75em) {
      gap: 2.5rem;
    }

    @media screen and (max-width: 37.5em) {
      gap: 7rem;
    }

    @media screen and (max-width: 34.375em) {
      gap: 2rem;
    }

    @media screen and (max-width: 31.25em) {
      gap: 3rem;
    }

    @media screen and (min-width: 106.25em) {
      gap: 7.5rem;
    }

    @media screen and (min-width: 125em) {
      gap: 12.5rem;
    }

    .card {
      @media screen and (max-width: 93.75em) {
        width: 27.56rem;
      }

      @include bp.xxl {
        width: 32rem;
      }

      @media screen and (max-width: 81.25em) {
        width: 30rem;
      }

      @media screen and (max-width: 76.25em) {
        width: 28rem;
      }

      @include bp.xl {
        width: 30rem;
      }

      @media screen and (max-width: 68.75em) {
        width: 27.3rem;
      }

      @include bp.lg {
        width: 28.65rem;
      }

      @media screen and (max-width: 59.375em) {
        width: 27rem;
      }

      @media screen and (max-width: 56.25em) {
        width: 28.65rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 28rem;
      }

      @include bp.md {
        width: 27rem;
      }

      @media screen and (max-width: 43.75em) {
        width: 24rem;
      }

      @media screen and (max-width: 41.875em) {
        width: 23rem;
      }

      @media screen and (max-width: 38.75em) {
        width: 22rem;
      }

      @media screen and (max-width: 37.5em) {
        width: 30rem;
      }

      @media screen and (max-width: 31.25em) {
        width: 26rem;
      }

      @include bp.sm {
        display: flex;
        gap: 1rem;

        width: 100%;
        padding: 1rem;
        background-color: transparent;
        box-shadow: vars.$box;
      }

      @media screen and (min-width: 106.25em) {
        width: 38.3rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 35rem;
      }

      @media screen and (min-width: 125em) {
        width: 37rem;
      }

      &__overlay {
        @media screen and (max-width: 41.875em) {
          height: 20rem;
        }

        @media screen and (max-width: 37.5em) {
          height: 25rem;
        }

        @media screen and (max-width: 31.25em) {
          height: 23rem;
        }

        @include bp.sm {
          display: none;
        }

        @media screen and (min-width: 106.25em) {
          height: 29rem;
        }

        @media screen and (min-width: 125em) {
          height: 30rem;
        }
      }

      &__img {
        @media screen and (max-width: 41.875em) {
          height: 20rem;
        }

        @media screen and (max-width: 37.5em) {
          height: 25rem;
        }

        @media screen and (max-width: 31.25em) {
          height: 23rem;
        }

        @include bp.sm {
          width: 15rem;
          height: 15rem;
          border-radius: 0.5rem;
        }

        @media screen and (min-width: 106.25em) {
          height: 29rem;
        }

        @media screen and (min-width: 125em) {
          height: 30rem;
        }
      }

      &__footer {
        @media screen and (max-width: 41.875em) {
          padding: 2rem 1.15rem;
        }

        @include bp.sm {
          min-height: 0;
          padding: 0;
        }

        @media screen and (min-width: 106.25em) {
          min-height: 17rem;
          padding-top: 3rem;
        }

        &--container {
          &-title {
            @media screen and (max-width: 38.75em) {
              font-size: 1.65rem;
            }

            @media screen and (max-width: 37.5em) {
              font-size: 1.8rem;
            }

            @include bp.sm {
              font-size: 2rem;
              white-space: unset;
            }
          }

          &-desc {
            @media screen and (max-width: 38.75em) {
              font-size: 1.55rem;
            }

            @media screen and (max-width: 37.5em) {
              font-size: var(--default-font-size);
            }

            @include bp.sm {
              font-size: 1.8rem;
            }
          }
        }

        &--wrapper {
          &-category {
            @media screen and (max-width: 38.75em) {
              font-size: 1.55rem;
            }

            @media screen and (max-width: 37.5em) {
              font-size: var(--default-font-size);
            }

            @include bp.sm {
              font-size: 1.8rem;
            }
          }

          &-time {
            @media screen and (max-width: 38.75em) {
              font-size: 1.55rem;
            }

            @media screen and (max-width: 37.5em) {
              font-size: var(--default-font-size);
            }

            @include bp.sm {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;

    &--link {
      &:link,
      &:visited {
        display: flex;
        align-items: center;
        justify-content: center;

        text-transform: capitalize;
        font-weight: 500;
        font-size: 1.4rem;
        width: max-content;
        height: 3.5rem;
        padding: 2rem;
        background-color: vars.$clr-black;
        color: inherit;
        border-radius: 0.5rem;

        @media screen and (min-width: 106.25em) {
          height: 3.75rem;
          padding: 2.25rem 2rem;
          font-size: 1.5rem;
        }

        @media screen and (min-width: 112.5em) {
          height: 4rem;
          padding: 2.35rem 2.15rem;
          font-size: var(--default-font-size);
        }

        @media screen and (min-width: 125em) {
          height: 4.5rem;
          padding: 2.5rem 2.25rem;
          font-size: 1.8rem;
        }
      }

      &:disabled {
        opacity: 0.75;
        cursor: default;
      }
    }
  }
}
