@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.profile-comment {
  &:not(:last-child) {
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid vars.$clr-tertiary-blue;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;

    @media screen and (max-width: 20em) {
      gap: 1rem;
    }
  }

  &__cover {
    &--img {
      width: 6rem;
      height: 6rem;
      display: inline-block;
      object-fit: cover;
      border-radius: 50%;

      &.blurred {
        filter: blur(3px);
        pointer-events: none;
        user-select: none;
      }

      @media screen and (max-width: 28.125em) {
        width: 5rem;
        height: 5rem;
      }

      @media screen and (max-width: 26.875em) {
        width: 4rem;
        height: 4rem;
      }

      @media screen and (max-width: 25em) {
        width: 3.75rem;
        height: 3.75rem;
      }

      @media screen and (max-width: 21.5em) {
        width: 3.5rem;
        height: 3.5rem;
      }

      @media screen and (max-width: 18.75em) {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  &__wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--reply-btn {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      border: 0;
      outline: 0;
      text-transform: initial;
      background-color: transparent;
      color: vars.$clr-gray-light-1;
      cursor: pointer;
      position: relative;

      &.show {
        display: flex;
        visibility: visible;
        opacity: 1;
        z-index: 1000;
      }

      &.hide {
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
      }

      svg {
        width: 1.45rem;
        height: 1.45rem;
        color: currentColor;
        stroke: currentColor;

        @media screen and (max-width: 56.25em) {
          width: 1.55rem;
          height: 1.55rem;
        }

        @media screen and (max-width: 51.25em) {
          width: 1.65rem;
          height: 1.65rem;
        }

        @media screen and (max-width: 23.75em) {
          width: 1.45rem;
          height: 1.45rem;
        }

        @media screen and (max-width: 20em) {
          width: 1.35rem;
          height: 1.35rem;
        }

        @media screen and (max-width: 17.5em) {
          width: 1.3rem;
          height: 1.3rem;
        }

        @media screen and (min-width: 106.25em) {
          width: 1.55rem;
          height: 1.55rem;
        }

        @media screen and (min-width: 112.5em) {
          width: 1.75rem;
          height: 1.75rem;
        }

        @media screen and (min-width: 125em) {
          width: 2.15rem;
          height: 2.15rem;
        }
      }

      span {
        font-weight: 700;
        font-size: 1.3rem;
        color: currentColor;

        @media screen and (max-width: 56.25em) {
          font-size: 1.4rem;
        }

        @media screen and (max-width: 51.25em) {
          font-size: 1.5rem;
        }

        @media screen and (max-width: 34.375em) {
          font-size: var(--default-font-size);
        }

        @include bp.sm {
          font-size: 1.7rem;
        }

        @media screen and (max-width: 22.5em) {
          font-size: 1.55rem;
        }

        @media screen and (max-width: 18.75em) {
          font-size: 1.45rem;
        }

        @media screen and (min-width: 106.25em) {
          font-size: 1.4rem;
        }

        @media screen and (min-width: 112.5em) {
          font-size: 1.5rem;
        }

        @media screen and (min-width: 125em) {
          font-size: 1.9rem;
        }
      }
    }
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 1rem;

    &-time {
      font-variant: tabular-nums;
      font-weight: 700;
      color: vars.$clr-gray-light-1;
    }

    &--status {
      text-transform: capitalize;
      font-weight: 400;
      font-style: italic;
      color: vars.$clr-gray-light-3;
    }

    &--time,
    &--status {
      text-rendering: optimizeLegibility;
      font-size: 1.3rem;

      @media screen and (max-width: 56.25em) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 34.375em) {
        font-size: var(--default-font-size);
      }

      @include bp.sm {
        font-size: 1.7rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.55rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.45rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.9rem;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    &--name {
      text-transform: capitalize;
      color: vars.$clr-white;
      font-weight: 600;
      font-size: 1.5rem;

      @media screen and (max-width: 56.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.7rem;
      }

      @media screen and (max-width: 34.375em) {
        font-size: 1.8rem;
      }

      @include bp.sm {
        font-size: 1.9rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.75rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.65rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.7rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.1rem;
      }
    }

    &--content {
      font-size: 1.4rem;
      color: vars.$clr-gray-light-3;
      line-height: 1.3;

      @media screen and (max-width: 56.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 34.375em) {
        font-size: 1.7rem;
      }

      @include bp.sm {
        font-size: 1.8rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.65rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.55rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 125em) {
        font-size: 2rem;
      }
    }

    &--btn {
      display: inline-block;
      border: 0;
      outline: 0;
      text-transform: lowercase;
      font-weight: 500;
      font-size: 1.3rem;
      background-color: transparent;
      color: vars.$clr-gray-light-1;
      cursor: pointer;
      position: relative;

      @media screen and (max-width: 56.25em) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 34.375em) {
        font-size: var(--default-font-size);
      }

      @include bp.sm {
        font-size: 1.7rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.55rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.45rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.9rem;
      }

      &.show {
        display: inline-block;
        visibility: visible;
        opacity: 1;
        z-index: 1000;
        transition: all 300ms ease-out;
      }

      &.hide {
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transition: all 300ms ease-in;
      }

      &:disabled {
        opacity: 0.75;
        cursor: default;
      }
    }
  }

  &__wrap {
    width: 100%;
    margin-top: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
