@use '../../../styles/responsive.scss' as bp;
@use '../../../styles/variables.scss' as vars;

.account-layout {
  display: flex;
  justify-content: center;
  padding: 10rem 0;

  &__container {
    width: 120rem;
    min-height: 55vh;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;

    @include bp.xxl {
      width: 110rem;
    }

    @media screen and (max-width: 76.25em) {
      width: 100rem;
      gap: 2.5rem;
    }

    @include bp.xl {
      width: 105rem;
    }

    @media screen and (max-width: 68.75em) {
      width: 100rem;
    }

    @include bp.lg {
      width: 90rem;
      position: relative;
    }

    @media screen and (max-width: 59.375em) {
      width: 85rem;
    }

    @media screen and (max-width: 57.5em) {
      width: 83rem;
    }

    @media screen and (max-width: 56.25em) {
      width: 88rem;
    }

    @media screen and (max-width: 53.75em) {
      width: 85rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 80rem;
    }

    @media screen and (max-width: 41.875em) {
      width: 75rem;
    }

    @media screen and (max-width: 38.75em) {
      width: 72rem;
    }

    @media screen and (max-width: 37.5em) {
      width: 60rem;
    }

    @media screen and (max-width: 34.375em) {
      width: 55rem;
    }

    @media screen and (max-width: 33.75em) {
      width: 54rem;
    }

    @media screen and (max-width: 31.5em) {
      width: 50rem;
    }

    @include bp.sm {
      width: 48rem;
    }

    @media screen and (max-width: 28.125em) {
      width: 45rem;
    }

    @media screen and (max-width: 26.875em) {
      width: 43rem;
    }

    @media screen and (max-width: 26.25em) {
      width: 42rem;
    }

    @media screen and (max-width: 25em) {
      width: 40rem;
    }

    @media screen and (max-width: 24.375em) {
      width: 39rem;
    }

    @media screen and (max-width: 23.75em) {
      width: 38rem;
    }

    @media screen and (max-width: 23.4375em) {
      width: 37.5rem;
    }

    @media screen and (max-width: 22.5em) {
      width: 36rem;
    }

    @media screen and (max-width: 21.5em) {
      width: 34rem;
    }

    @media screen and (max-width: 20em) {
      width: 32rem;
    }

    @media screen and (max-width: 18.75em) {
      width: 30rem;
    }

    @media screen and (max-width: 17.5em) {
      width: 28rem;
    }

    @media screen and (min-width: 112.5em) {
      width: 125rem;
    }

    @media screen and (min-width: 125em) {
      width: 135rem;
    }

    &--outlet {
      flex: 3;
    }

    &--btn {
      display: none;
      visibility: hidden;
      opacity: 0;
      z-index: -1;

      @media screen and (max-width: 64em) {
        display: inline-block;
        visibility: visible;
        opacity: 1;
        z-index: 1000;

        position: absolute;
        top: -5rem;
        left: 0;
      }

      @include bp.sm {
        top: -4rem;
        left: unset;
        right: 0;
      }
    }
  }
}
