@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.passwordSettings {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__container {
    background-color: vars.$clr-secondary-blue;
    padding: 3rem;
    border-radius: 0.5rem;

    @media screen and (max-width: 76.25em) {
      padding: 2.5rem;
    }

    @include bp.lg {
      padding: 3rem;
    }

    @include bp.sm {
      padding: 0;
      background-color: transparent;
      border-radius: 0;
    }
  }
}
