@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.top-post-skeleton {
  width: 100%;

  .react-loading-skeleton {
    --base-color: #021124 !important;

    @include bp.md {
      --base-color: #152233 !important;
    }
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    &--number {
      width: 2rem !important;
      height: 3.5rem !important;
      border-radius: 0.5rem;

      @media screen and (max-width: 56.25em) {
        width: 1.7rem !important;
      }

      @include bp.sm {
        width: 2.25rem !important;
      }

      @media screen and (min-width: 112.5em) {
        height: 4rem !important;
      }

      @media screen and (min-width: 125em) {
        height: 4.5rem !important;
      }

      &::after {
        border-radius: 0.5rem;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    &--title {
      width: 23.5rem !important;
      height: 1.5rem !important;
      border-radius: 0.5rem;

      @media screen and (max-width: 93.75em) {
        width: 21.15rem !important;
      }

      @include bp.xxl {
        width: 19.15rem !important;
      }

      @media screen and (max-width: 81.25em) {
        width: 19.75rem !important;
      }

      @media screen and (max-width: 76.25em) {
        width: 19rem !important;
      }

      @include bp.xl {
        width: 19.75rem !important;
      }

      @media screen and (max-width: 68.75em) {
        width: 18.95rem !important;
      }

      @include bp.lg {
        width: 23.15rem !important;
      }

      @media screen and (max-width: 59.375em) {
        width: 21.5rem !important;
      }

      @media screen and (max-width: 56.25em) {
        width: 21.75rem !important;
        height: 1.7rem !important;
      }

      @media screen and (max-width: 53.3125em) {
        width: 21.85rem !important;
      }

      @media screen and (max-width: 51.25em) {
        width: 21rem !important;
        height: 1.9rem !important;
      }

      @include bp.md {
        width: 25.35rem !important;
      }

      @media screen and (max-width: 34.375em) {
        height: 2rem !important;
      }

      @include bp.sm {
        width: 32.75rem !important;
        height: 2.1rem !important;
      }

      @media screen and (max-width: 28.125em) {
        width: 29.75rem !important;
      }

      @media screen and (max-width: 26.875em) {
        width: 27.75rem !important;
      }

      @media screen and (max-width: 26.25em) {
        width: 26.75rem !important;
      }

      @media screen and (max-width: 25em) {
        width: 24.75rem !important;
      }

      @media screen and (max-width: 24.375em) {
        width: 23.75rem !important;
      }

      @media screen and (max-width: 23.75em) {
        width: 22.7rem !important;
        height: 1.95rem !important;
      }

      @media screen and (max-width: 23.4375em) {
        width: 22.25rem !important;
      }

      @media screen and (max-width: 22.5em) {
        width: 24.75rem !important;
      }

      @media screen and (max-width: 21.5em) {
        width: 22.75rem !important;
      }

      @media screen and (max-width: 20em) {
        width: 20.75rem !important;
      }

      @media screen and (max-width: 17.5em) {
        width: 18.75rem !important;
      }

      @media screen and (min-width: 106.25em) {
        height: 1.7rem !important;
      }

      @media screen and (min-width: 112.5em) {
        height: 2rem !important;
      }

      @media screen and (min-width: 125em) {
        width: 25rem !important;
        height: 2.25rem !important;
      }

      &::after {
        border-radius: 0.5rem;
      }
    }
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-top: 3px;

    &--category,
    &--space,
    &--time {
      height: 1.3rem !important;

      @media screen and (max-width: 56.25em) {
        height: 1.5rem !important;
      }

      @media screen and (max-width: 51.25em) {
        height: 1.7rem !important;
      }

      @media screen and (max-width: 34.375em) {
        height: 1.8rem !important;
      }

      @include bp.sm {
        height: 1.9rem !important;
      }

      @media screen and (min-width: 106.25em) {
        height: 1.5rem !important;
      }

      @media screen and (min-width: 112.5em) {
        height: 1.7rem !important;
      }

      @media screen and (min-width: 125em) {
        height: 1.9rem !important;
      }
    }

    &--category,
    &--time {
      width: 10.25rem !important;
      border-radius: 0.5rem;

      @media screen and (max-width: 93.75em) {
        width: 9.15rem !important;
      }

      @include bp.xxl {
        width: 8.15rem !important;
      }

      @media screen and (max-width: 81.25em) {
        width: 8.45rem !important;
      }

      @media screen and (max-width: 76.25em) {
        width: 8.05rem !important;
      }

      @include bp.xl {
        width: 8.4rem !important;
      }

      @media screen and (max-width: 68.75em) {
        width: 8rem !important;
      }

      @include bp.lg {
        width: 10.1rem !important;
      }

      @media screen and (max-width: 59.375em) {
        width: 9.25rem !important;
      }

      @media screen and (max-width: 56.25em) {
        width: 9.4rem !important;
      }

      @media screen and (max-width: 53.3125em) {
        width: 9.45rem !important;
      }

      @media screen and (max-width: 53.125em) {
        width: 9.4rem !important;
      }

      @media screen and (max-width: 51.25em) {
        width: 9rem !important;
      }

      @include bp.md {
        width: 11.15rem !important;
      }

      @include bp.sm {
        width: 14.6rem !important;
      }

      @media screen and (max-width: 28.125em) {
        width: 13.1rem !important;
      }

      @media screen and (max-width: 26.875em) {
        width: 12.1rem !important;
      }

      @media screen and (max-width: 26.25em) {
        width: 11.65rem !important;
      }

      @media screen and (max-width: 25em) {
        width: 10.65rem !important;
      }

      @media screen and (max-width: 24.375em) {
        width: 10.1rem !important;
      }

      @media screen and (max-width: 23.75em) {
        width: 9.6rem !important;
      }

      @media screen and (max-width: 23.4375em) {
        width: 9.4rem !important;
      }

      @media screen and (max-width: 22.5em) {
        width: 10.6rem !important;
      }

      @media screen and (max-width: 21.5em) {
        width: 9.6rem !important;
      }

      @media screen and (max-width: 20em) {
        width: 8.6rem !important;
      }

      @media screen and (max-width: 17.5em) {
        width: 7.6rem !important;
      }

      @media screen and (min-width: 112.5em) {
        width: 10.35rem !important;
      }

      @media screen and (min-width: 125em) {
        width: 11.05rem !important;
      }

      &::after {
        border-radius: 0.5rem;
      }
    }

    &--space {
      width: 2.5rem !important;
      border-radius: 0.5rem;

      @include bp.sm {
        width: 3rem !important;
      }

      &::after {
        border-radius: 0.5rem;
      }
    }
  }
}
