@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.myPosts {
  &__container {
    padding: 3rem;
    background-color: vars.$clr-secondary-blue;
    border-radius: 0.5rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4rem;

    &--heading {
      display: inline-block;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: 2.5rem;
      color: inherit;
      line-height: 1.3;
    }

    &--text {
      font-size: 1.35rem;
      color: vars.$clr-gray-light-1;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;

    .card {
      width: 25rem;

      &__overlay {
        height: 20rem;
      }

      &__img {
        height: 20rem;
      }

      &__footer {
        min-height: 15rem;
        padding: 1.75rem;
        padding-top: 2.5rem;
        background-color: vars.$clr-primary-blue;

        &--container {
          &-title {
            font-weight: 600;
            font-size: 1.5rem;
          }

          &-desc {
            font-size: 1.35rem;
          }
        }

        &--wrapper {
          &-category {
            font-size: 1.35rem;
          }

          &-time {
            font-size: 1.285rem;
          }
        }
      }
    }
  }
}
