@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.filter-item {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__group {
    display: flex;
    align-items: center;
    gap: 1rem;

    &--label {
      display: inline-block;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: 1.4rem;
      color: vars.$clr-gray-light-3;
      cursor: pointer;

      @media screen and (max-width: 56.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 17.5em) {
        font-size: 1.35rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 125em) {
        font-size: 1.9rem;
      }
    }

    &--control {
      appearance: none;
      width: 1.6rem;
      height: 1.6rem;
      background-color: vars.$clr-tertiary-blue;
      border: 1.5px solid vars.$clr-gray-light-3;
      border-radius: 2px;
      cursor: pointer;

      @include bp.md {
        background-color: vars.$clr-secondary-blue;
        border-color: vars.$clr-gray-light-1;
      }

      @media screen and (max-width: 56.25em) {
        width: 1.7rem;
        height: 1.7rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 1.8rem;
        height: 1.8rem;
      }

      @media screen and (max-width: 18.75em) {
        width: 1.6rem;
        height: 1.6rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 1.7rem;
        height: 1.7rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 1.8rem;
        height: 1.8rem;
      }

      @media screen and (min-width: 125em) {
        width: 2.25rem;
        height: 2.25rem;
      }

      &:checked {
        background-color: vars.$clr-gray-light-3;

        &:focus {
          @include bp.md {
            background-color: vars.$clr-gray-light-1;
          }
        }
      }
    }
  }
}
