@import '../../styles/variables.scss';

.filterItem {
  &__container {
  }

  &__group {
    display: flex;
    align-items: center;
    gap: 1rem;

    &--label {
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: 1.4rem;
      color: $clr-gray-light-3;
    }

    &--control {
      appearance: none;
      width: 1.6rem;
      height: 1.6rem;
      background-color: $clr-tertiary-blue;
      border: 1.5px solid $clr-primary-blue;
      border-radius: 2px;
      cursor: pointer;

      &:checked {
        background-color: $clr-primary-blue;
      }
    }
  }
}
