@import '../../styles/variables.scss';

.filterItem {
  &__container {
  }

  &__group {
    display: flex;
    align-items: center;
    gap: 1rem;

    &--label {
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: 1.4rem;
      color: $clr-gray-light-3;
    }

    &--control {
    }
  }
}
