@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.legal {
  padding: 2rem 0;

  &__text {
    font-size: 1.2rem;
    color: vars.$clr-gray-light-1;
    line-height: 1.4;

    @media screen and (max-width: 56.25em) {
      font-size: 1.3rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: 1.4rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 1.4rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: var(--default-font-size);
    }

    @media screen and (min-width: 125em) {
      font-size: 2.05rem;
    }
  }
}
