$clr-white: #ffffff;
$clr-black: #000000;

$clr-primary-blue: #021124;
$clr-secondary-blue: #152233;
$clr-tertiary-blue: #273547;

$clr-pink-dark-1: #ea004d;
$clr-pink-dark-2: #eb004f;
$clr-pink-light: #e9004f;

$clr-orange-light: #ffb900;
$clr-orange-dark: #ff7730;

$clr-gray-dark-1: rgba(50, 53, 56, 0.64);
$clr-gray-dark-2: rgba(73, 75, 78, 0.16);
$clr-gray-dark-3: #515151;

$clr-gray-light-1: rgb(164, 165, 167);
$clr-gray-light-2: #636363;
$clr-gray-light-3: #dddcdc;

$clr-error: rgb(250, 66, 66);
$clr-success: rgb(29, 226, 29);

$error: #ff6347;
$overlay: rgba($clr-black, 0.3);

$box-shadow: 0px 0px 5px -1px rgba(204, 202, 202, 0.45);
$shadow: 0px 3px 5px -2px rgba(184, 183, 183, 0.2);
$box: 0 0 0 1px rgba(120, 118, 129, 0.2), 0 1px 5px 0 rgba(157, 155, 161, 0.2);
