$clr-white: #ffffff;
$clr-black: #000000;

$clr-primary-blue: #021124;
$clr-secondary-blue: #152233;

$clr-pink-dark-1: #ea004d;
$clr-pink-dark-2: #eb004f;
$clr-pink-light: #e9004f;

$clr-orange-light: #ffb900;
$clr-orange-dark: #ff7730;

$clr-gray-dark-1: rgba(50, 53, 56, 0.64);
$clr-gray-dark-2: rgba(73, 75, 78, 0.16);
$clr-gray-dark-3: #515151;

$clr-gray-light-1: rgb(164, 165, 167);
$clr-gray-light-2: #636363;

$error: #ff6347;
