@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.logo {
  &:link,
  &:visited {
    transition: all 300ms ease-in-out;
  }

  &:disabled {
    opacity: 0.75;
    cursor: default;
  }

  &.show {
    display: flex;
    align-items: center;

    visibility: visible;
    opacity: 1;
    z-index: 1000;
  }

  &.hide {
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }

  &__icon {
    display: inline-block;
    width: 13rem;
    height: 5rem;
    object-fit: contain;
    background-color: transparent;
  }
}
