@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.select {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  &__control {
    display: inline-block;
    outline: 0;
    width: 100%;
    height: 5.6rem;
    padding: 1.6rem;
    text-transform: initial;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.45rem;
    background-color: transparent;
    color: vars.$clr-white;
    border: 2px solid vars.$clr-tertiary-blue;
    border-radius: 0.5rem;
    transition: all 300ms ease-in-out;

    @media screen and (max-width: 56.25em) {
      height: 5.7rem;
      font-size: 1.55rem;
    }

    @media screen and (max-width: 51.25em) {
      height: 5.8rem;
      font-size: 1.65rem;
    }

    @media screen and (max-width: 34.375em) {
      height: 6rem;
      font-size: 1.85rem;
    }

    @include bp.sm {
      height: 6.5rem;
      font-size: 1.95rem;
    }

    @media screen and (max-width: 22.5em) {
      height: 6.35rem;
      font-size: 1.8rem;
    }

    @media screen and (max-width: 18.75em) {
      height: 6.25rem;
      font-size: 1.7rem;
    }

    @media screen and (min-width: 106.25em) {
      height: 5.8rem;
      font-size: 1.65rem;
    }

    @media screen and (min-width: 112.5em) {
      height: 6rem;
      font-size: 1.85rem;
    }

    @media screen and (min-width: 125em) {
      height: 8rem;
      font-size: 2.2rem;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:focus {
      background-color: rgba(vars.$clr-secondary-blue, 0.5);
    }

    &.error {
      border-color: #dc2626;
      background-color: #fef2f2;
      color: #b91c1c;
      box-shadow: 0 0 0 3px rgba(220, 38, 38, 0.25);
      animation: inputErrorShake 0.14s ease-in-out;

      &::placeholder {
        color: #b91c1c;
        opacity: 0.8;
      }

      &:focus {
        border-color: #b91c1c;
        box-shadow: 0 0 0 3px rgba(185, 28, 28, 0.25);
        outline: 0;
      }
    }

    option {
      text-transform: initial;
      font-size: inherit;
      background-color: vars.$clr-primary-blue;
      color: currentColor;
    }
  }
}
