@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.comment {
  background-color: vars.$clr-secondary-blue;
  padding: 3rem;
  border-radius: 3px;

  @media screen and (max-width: 81.25em) {
    padding: 2rem;
  }

  @media screen and (max-width: 37.5em) {
    padding: 2rem 1.5rem;
  }

  @media screen and (max-width: 31.25em) {
    padding: 3rem 0;
    background-color: transparent;
    border-top: 1px solid vars.$clr-secondary-blue;
    border-radius: 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__heading {
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    font-weight: 600;
    font-size: 1.5rem;
    color: inherit;
    line-height: 1.3;
    margin-bottom: 2rem;

    @media screen and (max-width: 56.25em) {
      font-size: var(--default-font-size);
    }

    @media screen and (max-width: 51.25em) {
      font-size: 1.7rem;
    }

    @media screen and (max-width: 34.375em) {
      font-size: 1.8rem;
    }

    @include bp.sm {
      font-size: 1.9rem;
    }

    @media screen and (max-width: 22.5em) {
      font-size: 1.75rem;
    }

    @media screen and (max-width: 18.75em) {
      font-size: 1.65rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: var(--default-font-size);
    }

    @media screen and (min-width: 112.5em) {
      font-size: 1.7rem;
    }

    @media screen and (min-width: 125em) {
      font-size: 2.05rem;
    }
  }

  &__users {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__total {
    display: none;

    @media screen and (min-width: 26.9375em) {
      display: flex;
    }
  }

  &__box {
    margin-bottom: 0;

    &.mb {
      margin-bottom: 2.5rem;
    }
  }

  &__list {
    list-style: none;

    &--item {
      padding: 2.5rem 0;

      &:not(:last-of-type) {
        border-bottom: 1px solid vars.$clr-tertiary-blue;

        @include bp.sm {
          border-color: vars.$clr-secondary-blue;
        }
      }
    }
  }

  &__no-comments,
  &__error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    font-weight: 600;
    font-size: 1.35rem;
    color: vars.$clr-gray-light-3;
    line-height: 1.4;

    @media screen and (max-width: 56.25em) {
      font-size: 1.45rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: 1.55rem;
    }

    @media screen and (max-width: 34.375em) {
      font-size: 1.65rem;
    }

    @include bp.sm {
      font-size: 1.75rem;
    }

    @media screen and (max-width: 22.5em) {
      font-size: var(--default-font-size);
    }

    @media screen and (max-width: 18.75em) {
      font-size: 1.5rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 1.45rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: 1.55rem;
    }

    @media screen and (min-width: 125em) {
      font-size: 1.85rem;
    }

    & > * {
      font-weight: inherit;
      font-size: inherit;
      color: inherit;
      line-height: inherit;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem 0;
    position: relative;

    &.show {
      display: flex;
      visibility: visible;
      opacity: 1;
      z-index: 1000;
    }

    &.hide {
      display: none;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
    }

    &--btn {
      display: flex;
      align-items: center;
      justify-content: center;

      outline: 0;
      border: 0;
      text-transform: capitalize;
      font-weight: 700;
      font-size: 1.4rem;
      width: 18rem;
      height: 3.6rem;
      padding: 2rem 1.25rem;
      background-color: vars.$clr-pink-dark-1;
      color: vars.$clr-gray-light-3;
      border-radius: 0.5rem;
      cursor: pointer;

      @media screen and (max-width: 56.25em) {
        width: 20rem;
        height: 3.7rem;
        padding: 2.25rem 1.5rem;
        font-size: 1.5rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 22rem;
        height: 3.8rem;
        padding: 2.5rem 1.75rem;
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 34.375em) {
        width: 100%;
        height: 3.9rem;
        padding: 2.65rem 1.75rem;
        font-size: 1.7rem;
      }

      @include bp.sm {
        height: 4rem;
        padding: 2.75rem 1.75rem;
        font-size: 1.8rem;
      }

      @media screen and (max-width: 22.5em) {
        height: 3.85rem;
        padding: 2.6rem 1.6rem;
        font-size: 1.65rem;
      }

      @media screen and (max-width: 18.75em) {
        height: 3.75rem;
        padding: 2.5rem 1.5rem;
        font-size: 1.55rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 20rem;
        height: 3.7rem;
        padding: 2.25rem 1.5rem;
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 112.5em) {
        width: 23rem;
        height: 3.8rem;
        padding: 2.5rem 1.75rem;
        font-size: 1.8rem;
      }

      @media screen and (min-width: 125em) {
        width: 30rem;
        height: 4rem;
        padding: 3rem 2rem;
        font-size: 2.15rem;
      }

      &:disabled {
        opacity: 0.75;
        cursor: not-allowed;
      }
    }
  }
}
