@import '../../styles/variables.scss';

.comment {
  background-color: $clr-secondary-blue;
  padding: 3rem;

  &__heading {
    font-weight: 600;
    font-size: 1.5rem;
    color: inherit;
    line-height: 1.3;
    margin-bottom: 2rem;
  }

  &__card {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
  }

  &__user {
    &--img {
      width: 8rem;
      height: 8rem;
      display: inline-block;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }
  }

  &__details {
  }

  &__dateBox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: $clr-gray-light-1;
    margin-bottom: 1rem;

    &--time,
    &--reply {
      font-weight: 500;
      font-size: 1.2rem;
      color: inherit;
    }

    &--time {
      text-rendering: optimizeLegibility;
    }

    &--reply {
      display: flex;
      align-items: center;
      gap: 1rem;

      border: 0;
      outline: 0;
      text-transform: capitalize;
      background-color: transparent;
      color: currentColor;
      cursor: pointer;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }

      span {
        font-weight: inherit;
        font-size: inherit;
        color: inherit;
      }
    }
  }

  &--username {
  }

  &--desc {
  }
}
