@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.card-skeleton {
  width: 30rem;
  border-radius: 0.5rem;
  overflow: hidden;

  @media screen and (max-width: 81.25em) {
    width: 27rem;
  }

  @media screen and (max-width: 76.25em) {
    width: 26rem;
  }

  @include bp.xl {
    width: 28rem;
  }

  @media screen and (max-width: 68.75em) {
    width: 26rem;
  }

  @include bp.lg {
    width: 30rem;
  }

  @media screen and (max-width: 51.25em) {
    width: 28rem;
  }

  @include bp.md {
    width: 27rem;
  }

  @media screen and (max-width: 43.75em) {
    width: 25rem;
  }

  @media screen and (max-width: 41.875em) {
    width: 35rem;
  }

  @media screen and (max-width: 38.75em) {
    width: 33rem;
  }

  @media screen and (max-width: 37.5em) {
    width: 31rem;
  }

  @media screen and (max-width: 34.375em) {
    width: 29rem;
  }

  @media screen and (max-width: 31.25em) {
    width: 26rem;
  }

  @include bp.sm {
    width: 25rem;
  }

  @include bp.sm {
    width: 100%;
    padding-bottom: 3rem;
    border-radius: 0;

    display: flex;
    gap: 1.5rem;

    &:not(:last-child) {
      border-bottom: 1px solid vars.$clr-secondary-blue;
    }
  }

  @media screen and (max-width: 18.75em) {
    padding-bottom: 2rem;
  }

  @media screen and (min-width: 125em) {
    width: 35rem;
  }

  &__cover {
    width: 100%;
    height: 25rem;

    @media screen and (max-width: 81.25em) {
      height: 23rem;
    }

    @include bp.md {
      height: 20rem;
    }

    @media screen and (max-width: 41.875em) {
      height: 27rem;
    }

    @media screen and (max-width: 37.5em) {
      height: 25rem;
    }

    @media screen and (max-width: 34.375em) {
      height: 23rem;
    }

    @media screen and (max-width: 31.25em) {
      height: 21rem;
    }

    @include bp.sm {
      width: 14rem;
      height: 14rem;
    }

    @media screen and (max-width: 28.125em) {
      width: 13rem;
      height: 13rem;
    }

    @media screen and (max-width: 24.375em) {
      width: 12rem;
      height: 12rem;
    }

    @media screen and (max-width: 23.75em) {
      width: 11rem;
      height: 11rem;
    }

    @media screen and (max-width: 22.5em) {
      width: 10rem;
      height: 10rem;
    }

    @media screen and (max-width: 18.75em) {
      display: none;
    }

    @media screen and (min-width: 125em) {
      height: 30rem;
    }

    &--img {
      display: block;
      width: 100% !important;
      height: 100% !important;

      @include bp.sm {
        border-radius: 0.5rem;
      }
    }
  }

  &__footer {
    padding: 2rem;

    @include bp.sm {
      padding: 0;
    }

    @media screen and (min-width: 125em) {
      padding: 3rem 2rem;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--title {
      width: 100% !important;
      height: 2rem !important;
      border-radius: 0.5rem;

      @include bp.sm {
        width: 37.5rem !important;
      }

      @media screen and (max-width: 28.125em) {
        width: 35.5rem !important;
      }

      @media screen and (max-width: 26.875em) {
        width: 32.5rem !important;
      }

      @media screen and (max-width: 26.25em) {
        width: 30.5rem !important;
      }

      @media screen and (max-width: 25em) {
        width: 28.5rem !important;
      }

      @media screen and (max-width: 24.375em) {
        height: 1.7rem !important;
      }

      @media screen and (max-width: 23.75em) {
        width: 27.5rem !important;
      }

      @media screen and (max-width: 21.5em) {
        width: 24.5rem !important;
      }

      @media screen and (max-width: 20em) {
        width: 22.5rem !important;
      }

      @media screen and (max-width: 18.75em) {
        width: 32rem !important;
      }

      @media screen and (max-width: 17.5em) {
        width: 30rem !important;
      }

      @media screen and (min-width: 112.5em) {
        height: 2.15rem !important;
      }

      @media screen and (min-width: 125em) {
        height: 2.5rem !important;
      }
    }

    &--desc,
    &--subdesc {
      height: 1.5rem !important;
      border-radius: 0.5rem;

      @media screen and (max-width: 24.375em) {
        height: 1.25rem !important;
      }

      @media screen and (min-width: 112.5em) {
        height: 1.65rem !important;
      }

      @media screen and (min-width: 125em) {
        height: 1.8rem !important;
      }
    }

    &--desc {
      width: 100% !important;
    }

    &--subdesc {
      width: 85% !important;

      @include bp.sm {
        width: 75% !important;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 23.75em) {
      flex-direction: row;
      align-items: baseline;
      gap: 1rem;
    }

    &--category,
    &--time {
      height: 1.5rem !important;
      border-radius: 0.5rem;

      @media screen and (max-width: 24.375em) {
        height: 1.25rem !important;
      }

      @media screen and (min-width: 112.5em) {
        height: 1.65rem !important;
      }

      @media screen and (min-width: 125em) {
        height: 1.8rem !important;
      }
    }

    &--category {
      width: 60% !important;

      @include bp.sm {
        width: 45% !important;
      }

      @media screen and (max-width: 26.875em) {
        width: 40% !important;
      }

      @media screen and (max-width: 24.375em) {
        width: 8rem !important;
      }

      @media screen and (max-width: 23.75em) {
        width: 6.5rem !important;
      }

      @media screen and (max-width: 21.5em) {
        width: 6rem !important;
      }

      @media screen and (max-width: 18.75em) {
        width: 8rem !important;
      }
    }

    &--time {
      width: 65% !important;

      @include bp.sm {
        width: 50% !important;
      }

      @media screen and (max-width: 26.875em) {
        width: 45% !important;
      }

      @media screen and (max-width: 24.375em) {
        width: 12rem !important;
      }

      @media screen and (max-width: 23.75em) {
        width: 11.5rem !important;
      }

      @media screen and (max-width: 21.5em) {
        width: 11rem !important;
      }

      @media screen and (max-width: 20em) {
        width: 9rem !important;
      }

      @media screen and (max-width: 18.75em) {
        width: 11rem !important;
      }
    }
  }
}
