@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.profile-features {
  &.show {
    display: block;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
  }

  &.hide {
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }

  &__container {
    padding: 0 3rem 3rem;

    @media screen and (max-width: 76.25em) {
      padding: 0 2.5rem 2.5rem;
    }

    @include bp.lg {
      padding: 0 3rem 3rem;
    }

    @media screen and (max-width: 34.375em) {
      padding: 0 2rem 3rem;
    }

    @media screen and (max-width: 31.5em) {
      padding: 0 2rem 2rem;
    }

    @media screen and (max-width: 31.25em) {
      padding: 2rem 0 0;
    }
  }
}
