@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.post-views {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: vars.$clr-gray-light-1;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    color: vars.$clr-gray-light-3;
    stroke-width: 3px;

    @media screen and (max-width: 56.25em) {
      width: 1.6rem;
      height: 1.6rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 1.7rem;
      height: 1.7rem;
    }

    @media screen and (max-width: 34.375em) {
      width: 1.8em;
      height: 1.8rem;
    }

    @include bp.sm {
      width: 1.9rem;
      height: 1.9rem;
    }

    @media screen and (max-width: 22.5em) {
      width: 1.75rem;
      height: 1.75rem;
    }

    @media screen and (max-width: 18.75em) {
      width: 1.65rem;
      height: 1.65rem;
    }

    @media screen and (min-width: 106.25em) {
      width: 1.6rem;
      height: 1.6rem;
    }

    @media screen and (min-width: 112.5em) {
      width: 1.8rem;
      height: 1.8rem;
    }

    @media screen and (min-width: 125em) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  span {
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    font-variant: tabular-nums;
    font-weight: 500;
    font-size: 1.3rem;
    color: inherit;

    @media screen and (max-width: 56.25em) {
      font-size: 1.4rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 34.375em) {
      font-size: var(--default-font-size);
    }

    @include bp.sm {
      font-size: 1.7rem;
    }

    @media screen and (max-width: 22.5em) {
      font-size: 1.55rem;
    }

    @media screen and (max-width: 18.75em) {
      font-size: 1.45rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 1.4rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: 1.5rem;
    }

    @media screen and (min-width: 125em) {
      font-size: 1.9rem;
    }
  }
}
