@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.updatePassword {
  &__container {
    background-color: vars.$clr-secondary-blue;
    padding: 3rem;
    border-radius: 0.5rem;
  }
}
