@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.muted-comments {
  &__container {
    background-color: vars.$clr-secondary-blue;
    padding: 3rem;
    border-radius: 0.5rem;

    @media screen and (max-width: 76.25em) {
      padding: 2.5rem;
    }

    @include bp.lg {
      padding: 3rem;
    }

    @media screen and (max-width: 34.375em) {
      padding: 3rem 2rem;
    }

    @media screen and (max-width: 31.5em) {
      padding: 2rem;
    }

    @media screen and (max-width: 31.25em) {
      padding: 0;
      padding-bottom: 1.5rem;
      background-color: transparent;
      border-radius: 0;
    }
  }
}
