@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.muted-comments {
  &__container {
    background-color: vars.$clr-secondary-blue;
    padding: 3rem;
    border-radius: 0.5rem;

    @media screen and (max-width: 76.25em) {
      padding: 2.5rem;
    }

    @include bp.lg {
      padding: 3rem;
    }

    @media screen and (max-width: 34.375em) {
      padding: 3rem 2rem;
    }

    @media screen and (max-width: 31.5em) {
      padding: 2rem;
    }

    @media screen and (max-width: 31.25em) {
      padding: 0;
      padding-bottom: 1.5rem;
      background-color: transparent;
      border-radius: 0;
    }
  }

  &__wrapper {
    &--loader {
      width: 100%;
      min-height: 10rem;

      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: 125em) {
        min-height: 20rem;
      }

      span {
        @media screen and (max-width: 56.25em) {
          width: 3.5rem !important;
          height: 3.5rem !important;
        }

        @media screen and (max-width: 51.25em) {
          width: 4rem !important;
          height: 4rem !important;
        }

        @media screen and (max-width: 18.75em) {
          width: 3.5rem !important;
          height: 3.5rem !important;
        }

        @media screen and (min-width: 106.25em) {
          width: 3.5rem !important;
          height: 3.5rem !important;
        }

        @media screen and (min-width: 112.5em) {
          width: 4.25rem !important;
          height: 4.25rem !important;
        }

        @media screen and (min-width: 125em) {
          width: 5rem !important;
          height: 5rem !important;
        }
      }
    }
  }
}
