@import '../../styles/variables.scss';

.card {
  width: 35rem;
  background-color: $clr-secondary-blue;
  border-radius: 0.5rem;
  overflow: hidden;

  &__img {
    width: 100%;
    height: 25rem;
    display: block;
    object-fit: cover;
  }

  &__footer {
    min-height: 15rem;
    padding: 2rem;

    &--container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      &-title {
        text-overflow: ellipsis;
        text-rendering: optimizeLegibility;
        white-space: nowrap;
        font-weight: 700;
        font-size: 1.7rem;
        color: inherit;
        line-height: 1.12;
        overflow: hidden;
        transition: all 300ms ease-in-out;

        &:hover {
          color: $clr-pink-dark-1;
        }

        a {
          &:link,
          &:visited {
            font-weight: inherit;
            font-size: inherit;
          }
        }
      }

      &-desc {
        line-height: 1.12;
      }
    }

    &--wrapper {
      &-category {
      }

      &-time {
      }
    }
  }
}
