@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.postItems {
  flex: 5;

  &__container {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;

    @media screen and (min-width: 112.5em) {
      gap: 4rem;
      row-gap: 5rem;
    }
  }
}
