@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.account-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 4rem;

  &__heading {
    display: inline-block;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    font-size: 2rem;
    color: inherit;
    line-height: 1.3;

    @media screen and (max-width: 56.25em) {
      font-size: 2.1rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: 2.2rem;
    }

    @media screen and (max-width: 22.5em) {
      font-size: 2.15rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 2.1rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: 2.2rem;
    }

    @media screen and (min-width: 125em) {
      font-size: 2.3rem;
    }
  }

  &__text {
    font-size: 1.35rem;
    color: vars.$clr-gray-light-1;

    @media screen and (max-width: 56.25em) {
      font-size: 1.45rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: 1.55rem;
    }

    @media screen and (max-width: 22.5em) {
      font-size: 1.4rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 1.45rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: 1.55rem;
    }

    @media screen and (min-width: 125em) {
      font-size: 1.65rem;
    }
  }
}
