@use '../../styles/animation.scss' as anim;
@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.reply {
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.25s ease;

  &.nested {
    margin-left: 3rem;
  }

  &:not(:last-child):not(:has(+ :not(.reply))) {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid vars.$clr-tertiary-blue;

    @include bp.sm {
      border-color: vars.$clr-secondary-blue;
    }
  }

  button:focus-visible {
    outline: 2px solid vars.$clr-gray-light-1;
    outline-offset: 2px;
  }

  [aria-expanded='true'] {
    font-weight: 500;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;

    @media screen and (max-width: 26.875em) {
      gap: 0.8rem;
    }
  }

  &__author {
    &--img {
      width: 4rem;
      height: 4rem;
      display: inline-block;
      object-fit: cover;
      border-radius: 50%;

      @media screen and (max-width: 56.25em) {
        width: 4.25rem;
        height: 4.25rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 4.5rem;
        height: 4.5rem;
      }

      @include bp.md {
        width: 4.125rem;
        height: 4.125rem;
      }

      @media screen and (max-width: 31.25em) {
        width: 4rem;
        height: 4rem;
      }

      @include bp.sm {
        width: 3.5rem;
        height: 3.5rem;
      }

      @media screen and (max-width: 26.875em) {
        width: 3.25rem;
        height: 3.25rem;
      }

      @media screen and (max-width: 21.5em) {
        width: 3rem;
        height: 3rem;
      }

      @media screen and (max-width: 20em) {
        width: 2.75rem;
        height: 2.75rem;
      }

      @media screen and (max-width: 18.75em) {
        width: 2.5rem;
        height: 2.5rem;
      }

      @media screen and (max-width: 17.5em) {
        width: 2.25rem;
        height: 2.25rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 4.25rem;
        height: 4.25rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 4.5rem;
        height: 4.5rem;
      }

      @media screen and (min-width: 125em) {
        width: 6.5rem;
        height: 6.5rem;
      }
    }
  }

  &__content {
    width: 100%;
    line-height: 1.3;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &--user {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    &--username,
    &--text {
      font-size: 1.35rem;

      @media screen and (max-width: 56.25em) {
        font-size: 1.45rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.55rem;
      }

      @media screen and (max-width: 34.375em) {
        font-size: 1.65rem;
      }

      @include bp.sm {
        font-size: 1.75rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.45rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.55rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.95rem;
      }
    }

    &--username {
      font-weight: 700;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      color: vars.$clr-white;
    }

    &--text {
      color: vars.$clr-gray-light-1;
      line-height: inherit;
    }

    &--btn {
      position: relative;
      border: 0;
      outline: 0;
      font-family: inherit;
      font-weight: 500;
      font-size: 1.25rem;
      background-color: transparent;
      color: vars.$clr-gray-light-3;
      margin-left: 0.5rem;
      cursor: pointer;

      @media screen and (max-width: 56.25em) {
        font-size: 1.35rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.45rem;
      }

      @media screen and (max-width: 34.375em) {
        font-size: 1.55rem;
      }

      @include bp.sm {
        font-size: 1.65rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.35rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.45rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.85rem;
      }

      &.show {
        display: inline-block;
        visibility: visible;
        opacity: 1;
        z-index: 1000;
        transition: all 300ms ease-out;
      }

      &.hide {
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transition: all 300ms ease-in;
      }

      &:disabled {
        opacity: 0.75;
        cursor: default;
      }
    }
  }

  &__wrapper {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &--time {
      display: flex;
      align-items: center;
      gap: 1rem;

      time {
        font-weight: 600;
        color: vars.$clr-gray-light-3;
      }

      span {
        text-transform: capitalize;
        font-weight: 400;
        font-style: italic;
        color: vars.$clr-gray-light-1;
      }

      time,
      span {
        text-rendering: optimizeLegibility;
        font-size: 1.25rem;

        @media screen and (max-width: 56.25em) {
          font-size: 1.35rem;
        }

        @media screen and (max-width: 51.25em) {
          font-size: 1.45rem;
        }

        @media screen and (max-width: 34.375em) {
          font-size: 1.55rem;
        }

        @include bp.sm {
          font-size: 1.65rem;
        }

        @media screen and (max-width: 22.5em) {
          font-size: 1.5rem;
        }

        @media screen and (max-width: 18.75em) {
          font-size: 1.4rem;
        }

        @media screen and (min-width: 106.25em) {
          font-size: 1.35rem;
        }

        @media screen and (min-width: 112.5em) {
          font-size: 1.45rem;
        }

        @media screen and (min-width: 125em) {
          font-size: 1.85rem;
        }
      }
    }

    &--reply-btn {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      border: 0;
      outline: 0;
      text-transform: initial;
      background-color: transparent;
      color: currentColor;
      cursor: pointer;
      position: relative;

      &.show {
        display: flex;
        visibility: visible;
        opacity: 1;
        z-index: 1000;
      }

      &.hide {
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
      }

      svg {
        width: 1.35rem;
        height: 1.35rem;
        color: currentColor;
        stroke: currentColor;

        @media screen and (max-width: 56.25em) {
          width: 1.45rem;
          height: 1.45rem;
        }

        @media screen and (max-width: 51.25em) {
          width: 1.55rem;
          height: 1.55rem;
        }

        @media screen and (max-width: 34.375em) {
          width: 1.6rem;
          height: 1.6rem;
        }

        @include bp.sm {
          width: 1.65rem;
          height: 1.65rem;
        }

        @media screen and (max-width: 22.5em) {
          width: 1.5rem;
          height: 1.5rem;
        }

        @media screen and (max-width: 18.75em) {
          width: 1.4rem;
          height: 1.4rem;
        }

        @media screen and (min-width: 106.25em) {
          width: 1.45rem;
          height: 1.45rem;
        }

        @media screen and (min-width: 112.5em) {
          width: 1.65rem;
          height: 1.65rem;
        }

        @media screen and (min-width: 125em) {
          width: 2.05rem;
          height: 2.05rem;
        }
      }

      span {
        font-weight: 600;
        font-size: 1.2rem;
        color: inherit;

        @media screen and (max-width: 56.25em) {
          font-size: 1.3rem;
        }

        @media screen and (max-width: 51.25em) {
          font-size: 1.4rem;
        }

        @media screen and (max-width: 34.375em) {
          font-size: 1.5rem;
        }

        @include bp.sm {
          font-size: var(--default-font-size);
        }

        @media screen and (max-width: 22.5em) {
          font-size: 1.45rem;
        }

        @media screen and (max-width: 18.75em) {
          font-size: 1.35rem;
        }

        @media screen and (min-width: 106.25em) {
          font-size: 1.3rem;
        }

        @media screen and (min-width: 112.5em) {
          font-size: 1.4rem;
        }

        @media screen and (min-width: 125em) {
          font-size: 1.8rem;
        }
      }
    }
  }

  &__actions {
    width: 100%;
    margin-top: 1rem;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &--btn {
      display: flex;
      align-items: center;
      justify-content: center;

      border: 0;
      outline: 0;
      background-color: transparent;
      color: vars.$clr-gray-light-3;
      cursor: pointer;
      position: relative;

      &.show {
        display: flex;
        visibility: visible;
        opacity: 1;
        z-index: 1000;
      }

      &.hide {
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
      }

      svg {
        width: 1.85rem;
        height: 1.85rem;
        fill: currentColor;

        @media screen and (max-width: 56.25em) {
          width: 1.95rem;
          height: 1.95rem;
        }

        @media screen and (max-width: 51.25em) {
          width: 2.05rem;
          height: 2.05rem;
        }

        @include bp.sm {
          width: 1.95rem;
          height: 1.95rem;
        }

        @media screen and (max-width: 22.5em) {
          width: 1.85rem;
          height: 1.85rem;
        }

        @media screen and (max-width: 18.75em) {
          width: 1.75rem;
          height: 1.75rem;
        }

        @media screen and (min-width: 106.25em) {
          width: 1.95rem;
          height: 1.95rem;
        }

        @media screen and (min-width: 112.5em) {
          width: 2.1rem;
          height: 2.1rem;
        }

        @media screen and (min-width: 125em) {
          width: 3.1rem;
          height: 3.1rem;
        }
      }
    }
  }
}
