@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.relatedPosts {
  &__container {
    display: flex;
    flex-direction: column;

    &--heading {
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: 1.45rem;
      color: inherit;
      line-height: 1.3;
      margin-bottom: 2rem;

      @media screen and (max-width: 56.25em) {
        font-size: 1.55rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.65rem;
      }

      @media screen and (max-width: 26.875em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.35rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.55rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.65rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.8rem;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
  }
}
