@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.account-menu {
  flex: 1;
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 50rem;
  height: max-content;

  @include bp.lg {
    position: absolute;
    transition: all 300ms ease-in-out;
  }

  &.show {
    @include bp.lg {
      display: inline-block;
      visibility: visible;
      opacity: 1;
      z-index: 3000;

      top: 0;
      left: 0;

      width: 35rem;
      padding: 1rem;
      background-color: vars.$clr-black;
      border-radius: 0.5rem;
      transition: all 300ms ease-in;

      .account-menu {
        &__container {
          background-color: transparent;
        }

        &__box {
          border-color: vars.$clr-gray-dark-1;
        }
      }
    }

    @media screen and (max-width: 31.25em) {
      left: unset;
      right: 0;
    }

    @media screen and (max-width: 22.5em) {
      width: 33rem;
    }

    @media screen and (max-width: 21.5em) {
      width: 30rem;
    }

    @media screen and (max-width: 18.75em) {
      width: 25rem;
    }
  }

  &.hide {
    @include bp.lg {
      left: -100%;

      display: none;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
      transition: all 300ms ease-out;
    }

    @include bp.sm {
      left: unset;
      right: -100%;
    }
  }

  &__container {
    padding: 3rem 2.25rem;
    background-color: vars.$clr-secondary-blue;
    border-radius: 3px;

    @media screen and (max-width: 76.25em) {
      padding: 2.5rem;
    }

    @media screen and (max-width: 26.875em) {
      padding: 2rem;
    }
  }

  &__wrapper {
    padding-bottom: 1.5rem;
  }

  &__list {
    list-style: none;
  }

  &__box {
    padding-top: 1.5rem;
    border-top: 1px solid vars.$clr-tertiary-blue;

    button {
      display: flex;
      align-items: center;
      gap: 1rem;

      border: 0;
      outline: 0;
      font-family: inherit;
      text-transform: initial;
      background-color: transparent;
      color: vars.$clr-pink-dark-1;
      cursor: pointer;

      @media screen and (min-width: 112.5em) {
        gap: 1.25rem;
      }

      @media screen and (min-width: 125em) {
        gap: 1.5rem;
      }

      &:disabled {
        opacity: 0.75;
        cursor: default;
      }

      svg {
        width: 1.75rem;
        height: 1.75rem;
        stroke-width: 2px;

        @media screen and (max-width: 56.25em) {
          width: 2rem;
          height: 2rem;
        }

        @media screen and (max-width: 51.25em) {
          width: 2.25rem;
          height: 2.25rem;
        }

        @media screen and (max-width: 18.75em) {
          width: 1.65rem;
          height: 1.65rem;
        }

        @media screen and (min-width: 106.25em) {
          width: 2rem;
          height: 2rem;
        }

        @media screen and (min-width: 112.5em) {
          width: 2.25rem;
          height: 2.25rem;
        }

        @media screen and (min-width: 125em) {
          width: 3rem;
          height: 3rem;
        }
      }

      span {
        font-weight: 600;
        font-size: 1.4rem;
        color: currentColor;

        @media screen and (max-width: 56.25em) {
          font-size: 1.5rem;
        }

        @media screen and (max-width: 51.25em) {
          font-size: var(--default-font-size);
        }

        @media screen and (max-width: 34.375em) {
          font-size: 1.7rem;
        }

        @include bp.sm {
          font-size: 1.8rem;
        }

        @media screen and (max-width: 22.5em) {
          font-size: 1.65rem;
        }

        @media screen and (max-width: 18.75em) {
          font-size: 1.55rem;
        }

        @media screen and (min-width: 106.25em) {
          font-size: 1.5rem;
        }

        @media screen and (min-width: 112.5em) {
          font-size: var(--default-font-size);
        }

        @media screen and (min-width: 125em) {
          font-size: 2rem;
        }
      }
    }
  }
}
