@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.post-menu-actions {
  flex: 1;

  @media screen and (max-width: 51.25em) {
    position: absolute;
    top: 8rem;

    z-index: 2000;
    transition: all 300ms ease-in-out;
  }

  &.show {
    @media screen and (max-width: 51.25em) {
      display: flex;
      visibility: visible;
      opacity: 1;
      z-index: 1000;

      right: 0;
      background-color: vars.$overlay;
    }
  }

  &.hide {
    @media screen and (max-width: 51.25em) {
      display: none;
      visibility: hidden;
      opacity: 0;
      z-index: -1;

      right: -100rem;
    }
  }

  @media screen and (max-width: 26.875em) {
    width: 100%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media screen and (max-width: 51.25em) {
      width: 40rem;
      padding: 3rem;
      background-color: vars.$clr-black;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }

    @media screen and (max-width: 26.875em) {
      width: 100%;
    }

    @media screen and (max-width: 22.5em) {
      gap: 2rem;
      padding: 2rem;
    }

    @media screen and (max-width: 18.75em) {
      padding: 1.5rem;
    }
  }
}
