@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.profile-menu {
  position: absolute;
  top: -8.25rem;
  right: 0;
  width: 17rem;
  max-width: 17rem;
  padding: 0.5rem;
  background-color: transparent;
  backdrop-filter: blur(3px);
  border: 1px solid vars.$clr-tertiary-blue;
  border-radius: 0.5rem;

  @media screen and (max-width: 56.25em) {
    top: -9rem;
    width: 18rem;
    max-width: 18rem;
  }

  @media screen and (max-width: 51.25em) {
    top: -9.5rem;
    width: 19rem;
    max-width: 19rem;
  }

  @media screen and (max-width: 34.375em) {
    top: -10rem;
    width: 20rem;
    max-width: 20rem;
  }

  @include bp.sm {
    width: 21rem;
    max-width: 21rem;
  }

  @media screen and (max-width: 22.5em) {
    width: 19.5rem;
    max-width: 19.5rem;
  }

  @media screen and (max-width: 18.75em) {
    width: 18rem;
    max-width: 18rem;
  }

  @media screen and (min-width: 106.25em) {
    top: -9rem;
    width: 19rem;
    max-width: 19rem;
  }

  @media screen and (min-width: 112.5em) {
    top: -9.75rem;
    width: 20rem;
    max-width: 20rem;
  }

  @media screen and (min-width: 125em) {
    top: -11.25rem;
    width: 23rem;
    max-width: 23rem;
  }

  &.show {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    z-index: 2000;
    transition: all 0.3s ease-in;
  }

  &.hide {
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-out;
  }
}
