@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.commentForm {
  background-color: vars.$clr-secondary-blue;
  padding: 3rem;
  border-radius: 3px;

  @media screen and (max-width: 81.25em) {
    padding: 2rem;
  }

  @include bp.sm {
    padding: 3rem 0;
    background-color: transparent;
    border-top: 1px solid vars.$clr-secondary-blue;
    border-radius: 0;
  }

  &__heading {
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    font-weight: 600;
    font-size: 1.5rem;
    color: inherit;
    line-height: 1.3;
    margin-bottom: 2rem;

    @media screen and (max-width: 56.25em) {
      font-size: var(--default-font-size);
    }

    @media screen and (max-width: 51.25em) {
      font-size: 1.7rem;
    }

    @media screen and (max-width: 18.75em) {
      font-size: 1.5rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: var(--default-font-size);
    }

    @media screen and (min-width: 112.5em) {
      font-size: 1.7rem;
    }

    @media screen and (min-width: 125em) {
      font-size: 1.85rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    textarea {
      background-color: vars.$clr-tertiary-blue !important;

      @include bp.sm {
        background-color: transparent !important;

        &:focus {
          background-color: vars.$clr-secondary-blue !important;
        }
      }
    }
  }
}
