@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.profile-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.5rem;

  @media screen and (max-width: 41.875em) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  @include bp.sm {
    gap: 3rem;
  }

  &__container {
    display: flex;
    align-items: center;

    position: relative;

    &--icon {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 4.65rem;
      height: 4.65rem;
      background-color: vars.$clr-secondary-blue;
      border-radius: 50%;

      position: absolute;
      right: -1rem;
      bottom: 0;

      @media screen and (max-width: 56.25em) {
        width: 5rem;
        height: 5rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 5.5rem;
        height: 5.5rem;
      }

      @include bp.sm {
        width: 5.25rem;
        height: 5.25rem;
      }

      @media screen and (max-width: 26.875em) {
        width: 5rem;
        height: 5rem;
      }

      @media screen and (max-width: 21.5em) {
        width: 4.85rem;
        height: 4.85rem;
      }

      @media screen and (max-width: 17.5em) {
        width: 4.5rem;
        height: 4.5rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 5rem;
        height: 5rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 5.5rem;
        height: 5.5rem;
      }

      @media screen and (min-width: 125em) {
        width: 6rem;
        height: 6rem;
      }

      label {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 4rem;
        height: 4rem;
        background-color: vars.$clr-black;
        border-radius: 50%;
        cursor: pointer;

        @media screen and (max-width: 56.25em) {
          width: 4.25rem;
          height: 4.25rem;
        }

        @media screen and (max-width: 51.25em) {
          width: 4.85rem;
          height: 4.85rem;
        }

        @include bp.sm {
          width: 4.5rem;
          height: 4.5rem;
        }

        @media screen and (max-width: 26.875em) {
          width: 4.25rem;
          height: 4.25rem;
        }

        @media screen and (max-width: 21.5em) {
          width: 4rem;
          height: 4rem;
        }

        @media screen and (max-width: 17.5em) {
          width: 3.65rem;
          height: 3.65rem;
        }

        @media screen and (min-width: 106.25em) {
          width: 4.25rem;
          height: 4.25rem;
        }

        @media screen and (min-width: 112.5em) {
          width: 4.85rem;
          height: 4.85rem;
        }

        @media screen and (min-width: 125em) {
          width: 5.35rem;
          height: 5.35rem;
        }

        svg {
          width: 2rem;
          height: 2rem;
          color: vars.$clr-white;
          stroke-width: 2px;

          @media screen and (max-width: 56.25em) {
            width: 2.25rem;
            height: 2.25rem;
          }

          @media screen and (max-width: 51.25em) {
            width: 2.5rem;
            height: 2.5rem;
          }

          @include bp.sm {
            width: 2.35rem;
            height: 2.35rem;
          }

          @media screen and (max-width: 26.875em) {
            width: 2.25rem;
            height: 2.25rem;
          }

          @media screen and (max-width: 21.5em) {
            width: 2rem;
            height: 2rem;
          }

          @media screen and (max-width: 17.5em) {
            width: 1.95rem;
            height: 1.95rem;
          }

          @media screen and (min-width: 106.25em) {
            width: 2.25rem;
            height: 2.25rem;
          }

          @media screen and (min-width: 112.5em) {
            width: 2.5rem;
            height: 2.5rem;
          }

          @media screen and (min-width: 125em) {
            width: 3rem;
            height: 3rem;
          }
        }
      }

      input[type='file'] {
        display: none;
      }
    }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media screen and (max-width: 25em) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35rem;

    @media screen and (max-width: 76.25em) {
      width: 31rem;
    }

    @include bp.lg {
      width: 45rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 35rem;
    }

    @media screen and (max-width: 41.875em) {
      width: 75%;
    }

    @media screen and (max-width: 25em) {
      width: 100%;
    }

    @media screen and (min-width: 112.5em) {
      width: 40rem;
    }

    @media screen and (min-width: 125em) {
      width: 50rem;
    }

    &--name {
      text-transform: capitalize;
      font-weight: 600;
      font-size: 1.8rem;
      color: vars.$clr-gray-light-3;

      @media screen and (max-width: 56.25em) {
        font-size: 1.9rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 2rem;
      }

      @media screen and (max-width: 26.875em) {
        font-size: 1.85rem;
      }

      @media screen and (max-width: 25em) {
        font-size: 2rem;
      }

      @media screen and (max-width: 21.5em) {
        font-size: 1.85rem;
      }

      @media screen and (max-width: 17.5em) {
        font-size: 1.7rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.9rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 2rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.2rem;
      }
    }

    &--bio {
      font-size: 1.4rem;
      color: vars.$clr-gray-light-1;

      @media screen and (max-width: 56.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 26.875em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 21.5em) {
        font-size: 1.55rem;
      }

      @media screen and (max-width: 17.5em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 125em) {
        font-size: 1.8rem;
      }
    }

    &--btn {
      display: inline-block;
      border: 0;
      outline: 0;
      text-transform: inherit;
      font-weight: 500;
      font-size: 1.3rem;
      background-color: transparent;
      color: vars.$clr-gray-light-3;
      cursor: pointer;

      @media screen and (max-width: 56.25em) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 26.875em) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 21.5em) {
        font-size: 1.45rem;
      }

      @media screen and (max-width: 17.5em) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.7rem;
      }

      &:disabled {
        opacity: 0.75;
        cursor: default;
      }
    }
  }

  &__image {
    width: 12rem;
    height: 12rem;
    position: relative;

    @media screen and (max-width: 56.25em) {
      width: 13rem;
      height: 13rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 14rem;
      height: 14rem;
    }

    @include bp.sm {
      width: 13rem;
      height: 13rem;
    }

    @media screen and (max-width: 26.875em) {
      width: 12rem;
      height: 12rem;
    }

    @media screen and (max-width: 21.5em) {
      width: 11rem;
      height: 11rem;
    }

    @media screen and (max-width: 17.5em) {
      width: 10rem;
      height: 10rem;
    }

    @media screen and (min-width: 106.25em) {
      width: 13rem;
      height: 13rem;
    }

    @media screen and (min-width: 112.5em) {
      width: 14rem;
      height: 14rem;
    }

    @media screen and (min-width: 125em) {
      width: 15rem;
      height: 15rem;
    }

    &--avatar {
      width: 100%;
      height: 100%;
      display: inline-block;
      object-fit: cover;
      background-color: vars.$clr-tertiary-blue;
      border-radius: 50%;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media screen and (max-width: 41.875em) {
      width: 100%;
      justify-content: flex-end;
    }

    @include bp.sm {
      justify-content: flex-start;
    }

    &--upload,
    &--remove {
      display: flex;
      align-items: center;
      justify-content: center;

      border: 0;
      outline: 0;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 1.35rem;
      width: fit-content;
      height: 3.6rem;
      padding: 1.25rem 2rem;
      color: vars.$clr-white;
      border-radius: 3px;
      cursor: pointer;

      @media screen and (max-width: 56.25em) {
        height: 3.7rem;
        padding: 2rem 2.15rem;
        font-size: 1.45rem;
      }

      @media screen and (max-width: 51.25em) {
        height: 3.8rem;
        padding: 2.15rem 2.25rem;
        font-size: 1.55rem;
      }

      @media screen and (max-width: 17.5em) {
        height: 3.7rem;
        padding: 2rem 2.15rem;
        font-size: 1.45rem;
      }

      @media screen and (min-width: 106.25em) {
        height: 3.7rem;
        padding: 1.35rem 2rem;
        font-size: 1.45rem;
      }

      @media screen and (min-width: 112.5em) {
        height: 3.8rem;
        padding: 1.5rem 2.25rem;
        font-size: 1.55rem;
      }

      @media screen and (min-width: 125em) {
        height: 4rem;
        padding: 2.15rem 2.5rem;
        font-size: 1.75rem;
      }

      &:disabled {
        opacity: 0.75;
        cursor: default;
      }
    }

    &--upload {
      background-color: vars.$clr-pink-dark-1;
    }

    &--remove {
      background-color: vars.$clr-black;
    }
  }
}
