@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.contact-heading {
  &__header {
    display: inline-block;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    font-weight: 600;
    color: inherit;
    margin-bottom: 1.25rem;
    line-height: 1.3;

    &.lg {
      font-size: 2.5rem;

      @media screen and (max-width: 56.25em) {
        font-size: 2.6rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 2.7rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 2.55rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 2.6rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 2.7rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 3rem;
      }
    }

    &.md {
      font-size: 2.25rem;

      @media screen and (max-width: 56.25em) {
        font-size: 2.35rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 2.45rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 2.3rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 2.35rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 2.45rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.75rem;
      }
    }

    &.sm {
      font-size: 2rem;

      @media screen and (max-width: 56.25em) {
        font-size: 2.1rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 2.2rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 2.05rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 2.1rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 2.2rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.5rem;
      }
    }
  }

  &__paragraph {
    font-size: 1.35rem;
    color: vars.$clr-gray-light-1;

    &.sm {
      width: 85%;

      @include bp.sm {
        width: 100%;
      }
    }

    @media screen and (max-width: 56.25em) {
      font-size: 1.45rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: 1.55rem;
    }

    @media screen and (max-width: 22.5em) {
      font-size: 1.4rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 1.45rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: 1.55rem;
    }

    @media screen and (min-width: 125em) {
      font-size: 1.85rem;
    }
  }
}
