@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.banner-menu {
  position: relative;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    outline: 0;
    width: 3.25rem;
    height: 3.25rem;
    background-color: transparent;
    background-color: rgba(vars.$clr-primary-blue, 0.25);
    color: vars.$clr-white;
    border-radius: 50%;
    cursor: pointer;

    transition: all 0.5s ease-in-out;

    @media screen and (max-width: 56.25em) {
      width: 3.5rem;
      height: 3.5rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 3.75rem;
      height: 3.75rem;
    }

    @include bp.sm {
      width: 4rem;
      height: 4rem;
    }

    @media screen and (max-width: 22.5em) {
      width: 3.85rem;
      height: 3.85rem;
    }

    @media screen and (max-width: 18.75em) {
      width: 3.75rem;
      height: 3.75rem;
    }

    @media screen and (min-width: 106.25em) {
      width: 3.5rem;
      height: 3.5rem;
    }

    @media screen and (min-width: 112.5em) {
      width: 3.75rem;
      height: 3.75rem;
    }

    @media screen and (min-width: 125em) {
      width: 4.25rem;
      height: 4.25rem;
    }

    &:hover {
      background-color: rgba(vars.$clr-primary-blue, 0.35);
    }

    &:disabled {
      opacity: 0.75;
      cursor: not-allowed;
    }

    svg {
      width: 1.75rem;
      height: 1.75rem;
      color: currentColor;
      stroke-width: 2px;

      @media screen and (max-width: 56.25em) {
        width: 1.85rem;
        height: 1.85rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 2rem;
        height: 2rem;
      }

      @include bp.sm {
        width: 1.85rem;
        height: 1.85rem;
      }

      @media screen and (max-width: 22.5em) {
        width: 1.7rem;
        height: 1.7rem;
      }

      @media screen and (max-width: 18.75em) {
        width: 1.6rem;
        height: 1.6rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 1.85rem;
        height: 1.85rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 2rem;
        height: 2rem;
      }

      @media screen and (min-width: 125em) {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}
