@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.contact-form {
  flex: 1.5;

  @include bp.lg {
    width: 100%;
  }

  &__container {
    padding: 3rem 2rem;
    box-shadow: vars.$box;
    border-radius: 2rem;

    @media screen and (max-width: 18.75em) {
      padding: 0;
      box-shadow: none;
      border-radius: 0;
    }
  }

  &__wrapper {
    margin-top: 3rem;

    &--email {
      width: 100%;

      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 2rem;

      @include bp.md {
        flex-direction: column;
        gap: 0rem;

        &:nth-child(2n-1) {
          margin-bottom: 2rem;
        }
      }
    }

    &--btn {
      button {
        width: fit-content;

        @include bp.sm {
          width: 100%;
        }
      }
    }
  }
}
