@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.contact-form {
  flex: 1.5;

  &__container {
    &--heading {
    }

    &--paragraph {
    }
  }

  &__wrapper {
    margin-top: 3rem;

    &--email {
      width: 100%;

      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 2rem;
    }

    &--btn {
      button {
        width: fit-content;
      }
    }
  }
}
