@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.post-description {
  &__box {
    background-color: vars.$clr-secondary-blue;
    padding: 3rem;
    border-radius: 3px;
    margin-top: 1rem;

    @media screen and (max-width: 81.25em) {
      padding: 2rem;
    }

    @include bp.sm {
      padding: 0;
      padding-bottom: 3rem;
      background-color: transparent;
      border-radius: 0;
    }

    @media screen and (min-width: 112.5em) {
      margin-top: 1.5rem;
    }

    @media screen and (min-width: 125em) {
      margin-top: 2rem;
    }

    &--heading {
      font-weight: 600;
      font-size: 2.15rem;
      word-wrap: break-word;
      color: inherit;
      hyphens: auto;
      line-height: 1.2;
      margin-bottom: 2rem;

      @media screen and (max-width: 56.25em) {
        font-size: 2.25rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 2.35rem;
      }

      @media screen and (max-width: 37.5em) {
        font-size: 2.3rem;
      }

      @media screen and (max-width: 34.375em) {
        font-size: 2.2rem;
      }

      @media screen and (max-width: 31.25em) {
        font-size: 2.1rem;
      }

      @media screen and (max-width: 26.875em) {
        font-size: 2rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.65rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 2.25rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 2.35rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.7rem;
      }
    }

    &--desc {
      & > p {
        font-size: 1.65rem;
        word-wrap: break-word;
        color: vars.$clr-gray-light-1;
        hyphens: auto;

        @media screen and (max-width: 56.25em) {
          font-size: 1.75rem;
        }

        @media screen and (max-width: 51.25em) {
          font-size: 1.85rem;
        }

        @media screen and (max-width: 18.75em) {
          font-size: 1.65rem;
        }

        @media screen and (min-width: 106.25em) {
          font-size: 1.75rem;
        }

        @media screen and (min-width: 112.5em) {
          font-size: 1.85rem;
        }

        @media screen and (min-width: 125em) {
          font-size: 2.3rem;
        }

        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }
    }
  }
}
