@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.banner-menu-list-item {
  display: flex;
  align-items: center;

  height: 3.5rem;
  cursor: pointer;

  @media screen and (max-width: 56.25em) {
    height: 3.8rem;
  }

  @media screen and (max-width: 51.25em) {
    height: 4.1rem;
  }

  @media screen and (max-width: 34.375em) {
    height: 4.3rem;
  }

  @include bp.sm {
    height: 4.5rem;
  }

  @media screen and (max-width: 34.375em) {
    height: 4.35rem;
  }

  @media screen and (max-width: 18.75em) {
    height: 4.25rem;
  }

  @media screen and (min-width: 106.25em) {
    height: 3.8rem;
  }

  @media screen and (min-width: 112.5em) {
    height: 4.25rem;
  }

  @media screen and (min-width: 125em) {
    height: 5rem;
  }

  &:not(:last-child) {
    border-bottom: 1px solid rgba(vars.$clr-tertiary-blue, 0.5);
  }

  &.block {
    button {
      font-weight: 700;
      color: vars.$clr-danger;

      svg {
        color: vars.$clr-danger;
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 1px 0.5rem;
    background-color: transparent;
    color: vars.$clr-white;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    @media screen and (max-width: 56.25em) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 34.375em) {
      font-size: var(--default-font-size);
    }

    @include bp.sm {
      font-size: 1.7rem;
    }

    @media screen and (max-width: 22.5em) {
      font-size: 1.55rem;
    }

    @media screen and (max-width: 18.75em) {
      font-size: 1.45rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 1.5rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: var(--default-font-size);
    }

    @media screen and (min-width: 125em) {
      font-size: 1.9rem;
    }

    &:hover {
      background-color: rgba(vars.$clr-tertiary-blue, 0.25);
    }

    &:disabled {
      opacity: 0.75;
      cursor: not-allowed;
    }

    svg {
      width: 1.4rem;
      height: 1.4rem;
      color: currentColor;
      stroke-width: 2px;

      @media screen and (max-width: 56.25em) {
        width: 1.65rem;
        height: 1.65rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 1.8rem;
        height: 1.8rem;
      }

      @media screen and (max-width: 34.375em) {
        width: 1.9rem;
        height: 1.9rem;
      }

      @include bp.sm {
        width: 2rem;
        height: 2rem;
      }

      @media screen and (max-width: 22.5em) {
        width: 1.85rem;
        height: 1.85rem;
      }

      @media screen and (max-width: 18.75em) {
        width: 1.75rem;
        height: 1.75rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 1.65rem;
        height: 1.65rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 1.8rem;
        height: 1.8rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }
}
