@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.header {
  display: flex;
  justify-content: center;

  &__container {
    width: 130rem;

    @media screen and (min-width: 112.5em) {
      width: 120rem;
    }

    @media screen and (min-width: 125em) {
      width: 136rem;
    }
  }

  &__wrapper {
    display: flex;
    gap: 1rem;

    width: 100%;
    height: 32vw;

    @media screen and (min-width: 106.25em) {
      height: 33vw;
    }

    @media screen and (min-width: 112.5em) {
      height: 34vw;
    }

    @media screen and (min-width: 125em) {
      height: 35vw;
    }

    &--left,
    &--right {
      background-color: vars.$clr-secondary-blue;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 2rem;
    }

    &--left {
      flex: 3;

      background-image: linear-gradient(
          to right bottom,
          vars.$clr-gray-dark-1,
          vars.$clr-gray-dark-2
        ),
        url(/post-9.webp);
    }

    &--right {
      flex: 1.5;

      background-image: linear-gradient(
          to right bottom,
          vars.$clr-gray-dark-1,
          vars.$clr-gray-dark-2
        ),
        url(/post-10.webp);
    }
  }

  &__info {
    width: 100%;
    height: 100%;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 1rem;

    &.small {
      align-items: flex-end;
      text-align: right;
    }

    &--category {
      display: inline-block;
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: 1.3rem;
      color: inherit;
      line-height: 1.2;

      @media screen and (min-width: 106.25em) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.7rem;
      }

      &.small {
        font-size: 1.2rem;

        @media screen and (min-width: 106.25em) {
          font-size: 1.3rem;
        }

        @media screen and (min-width: 112.5em) {
          font-size: 1.4rem;
        }

        @media screen and (min-width: 125em) {
          font-size: var(--default-font-size);
        }
      }
    }

    &--heading {
      display: inline-block;
      text-transform: initial;
      text-rendering: optimizeLegibility;
      width: 60%;
      font-weight: 700;
      font-size: 2.8rem;
      color: inherit;
      line-height: 1;

      @media screen and (min-width: 106.25em) {
        font-size: 2.9rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 70%;
        font-size: 3rem;
      }

      @media screen and (min-width: 125em) {
        width: 80%;
        font-size: 3.2rem;
      }

      &.small {
        display: inline-block;
        text-transform: initial;
        text-rendering: optimizeLegibility;
        width: 75%;
        font-weight: 600;
        font-size: 2.45rem;
        color: inherit;
        line-height: 1;

        @media screen and (min-width: 106.25em) {
          font-size: 2.55rem;
        }

        @media screen and (min-width: 112.5em) {
          width: 90%;
          font-size: 2.65rem;
        }

        @media screen and (min-width: 125em) {
          width: 95%;
          font-size: 2.85rem;
        }
      }
    }

    &--link {
      &:link,
      &:visited {
        display: flex;
        flex-direction: column;

        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.3rem;
        transition: all 300ms ease-in-out;

        @media screen and (min-width: 106.25em) {
          font-size: 1.4rem;
        }

        @media screen and (min-width: 112.5em) {
          font-size: 1.5rem;
        }

        @media screen and (min-width: 125em) {
          font-size: 1.7rem;
        }

        &.small {
          font-size: 1.2rem;

          @media screen and (min-width: 106.25em) {
            font-size: 1.3rem;
          }

          @media screen and (min-width: 112.5em) {
            font-size: 1.4rem;
          }

          @media screen and (min-width: 125em) {
            font-size: var(--default-font-size);
          }

          &::after {
            width: 7.15rem;
            height: 2px;

            @media screen and (min-width: 106.25em) {
              width: 7.65rem;
            }

            @media screen and (min-width: 112.5em) {
              width: 8.25rem;
              height: 3px;
            }

            @media screen and (min-width: 125em) {
              width: 9.5rem;
              height: 4px;
            }
          }
        }

        &::after {
          content: '';
          display: inline-block;
          width: 7.75rem;
          height: 2px;
          background-color: vars.$clr-white;

          @media screen and (min-width: 106.25em) {
            width: 8.325rem;
          }

          @media screen and (min-width: 112.5em) {
            width: 8.95rem;
            height: 3px;
          }

          @media screen and (min-width: 125em) {
            width: 10rem;
            height: 4px;
          }
        }
      }

      &:hover {
        color: vars.$clr-pink-light;

        &::after {
          background-color: vars.$clr-pink-light;
        }
      }
    }
  }
}
