@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.header {
  display: flex;
  justify-content: center;

  &__container {
    width: 130rem;
    padding: 3rem 0 0;

    @media screen and (max-width: 93.75em) {
      width: 120rem;
    }

    @include bp.xxl {
      width: 110rem;
    }

    @media screen and (max-width: 81.25em) {
      width: 104rem;
    }

    @media screen and (max-width: 76.25em) {
      width: 96rem;
    }

    @include bp.xl {
      width: 104rem;
    }

    @media screen and (max-width: 68.75em) {
      width: 96rem;
    }

    @include bp.lg {
      width: 100rem;
    }

    @media screen and (max-width: 59.375em) {
      width: 95rem;
    }

    @media screen and (max-width: 57.5em) {
      width: 93rem;
    }

    @media screen and (max-width: 56.25em) {
      width: 98rem;
    }

    @media screen and (max-width: 53.75em) {
      width: 95rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 90rem;
    }

    @include bp.md {
      width: 87rem;
    }

    @media screen and (max-width: 43.75em) {
      width: 80rem;
    }

    @media screen and (max-width: 41.875em) {
      width: 75rem;
    }

    @media screen and (max-width: 38.75em) {
      width: 72rem;
    }

    @media screen and (max-width: 37.5em) {
      width: 60rem;
    }

    @media screen and (max-width: 34.375em) {
      width: 55rem;
    }

    @media screen and (max-width: 33.75em) {
      width: 54rem;
    }

    @media screen and (max-width: 31.5em) {
      width: 50rem;
    }

    @include bp.sm {
      width: 48rem;
    }

    @media screen and (max-width: 28.125em) {
      width: 45rem;
    }

    @media screen and (max-width: 26.875em) {
      width: 43rem;
    }

    @media screen and (max-width: 26.25em) {
      width: 42rem;
    }

    @media screen and (max-width: 25em) {
      width: 40rem;
    }

    @media screen and (max-width: 24.375em) {
      width: 39rem;
    }

    @media screen and (max-width: 23.75em) {
      width: 38rem;
    }

    @media screen and (max-width: 23.4375em) {
      width: 37.5rem;
    }

    @media screen and (max-width: 22.5em) {
      width: 36rem;
    }

    @media screen and (max-width: 21.5em) {
      width: 34rem;
    }

    @media screen and (max-width: 20em) {
      width: 32rem;
    }

    @media screen and (max-width: 18.75em) {
      width: 30rem;
    }

    @media screen and (max-width: 17.5em) {
      width: 28rem;
    }

    @media screen and (min-width: 112.5em) {
      width: 120rem;
    }

    @media screen and (min-width: 125em) {
      width: 136rem;
    }
  }

  &__wrapper {
    display: flex;
    gap: 1rem;

    width: 100%;
    height: 32vw;

    @include bp.xxl {
      height: 35vw;
    }

    @media screen and (max-width: 68.75em) {
      height: 37vw;
    }

    @include bp.lg {
      height: 40vw;
    }

    @media screen and (max-width: 59.375em) {
      height: 42vw;
    }

    @media screen and (max-width: 56.25em) {
      height: 44vw;
    }

    @media screen and (max-width: 51.25em) {
      height: 48vw;
    }

    @include bp.md {
      height: 50vw;
    }

    @media screen and (max-width: 43.75em) {
      height: 53vw;
    }

    @media screen and (max-width: 40.625em) {
      height: 55vw;
    }

    @media screen and (max-width: 37.5em) {
      flex-direction: column;
      gap: 3rem;

      height: 125vw;
    }

    @media screen and (max-width: 34.375em) {
      height: 127vw;
    }

    @media screen and (max-width: 31.25em) {
      height: 130vw;
    }

    @include bp.sm {
      height: 133vw;
    }

    @media screen and (max-width: 26.875em) {
      height: 135vw;
    }

    @media screen and (max-width: 25em) {
      height: 137vw;
    }

    @media screen and (max-width: 24.375em) {
      height: 140vw;
    }

    @media screen and (max-width: 23.75em) {
      height: 142vw;
    }

    @media screen and (max-width: 23.4375em) {
      height: 145vw;
    }

    @media screen and (max-width: 22.5em) {
      height: 147vw;
    }

    @media screen and (max-width: 21.5em) {
      height: 150vw;
    }

    @media screen and (max-width: 18.75em) {
      height: 153vw;
    }

    @media screen and (max-width: 17.5em) {
      height: 170vw;
    }

    @media screen and (min-width: 106.25em) {
      height: 33vw;
    }

    @media screen and (min-width: 112.5em) {
      height: 34vw;
    }

    @media screen and (min-width: 125em) {
      height: 37vw;
    }

    &--left,
    &--right {
      background-color: rgba(vars.$clr-tertiary-blue, 0.5);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 2rem;
    }

    &--left {
      flex: 3;

      background-image: linear-gradient(
          to right bottom,
          rgba(vars.$clr-black, 0.85),
          rgba(vars.$clr-gray-dark-1, 0.15)
        ),
        url(/post-9.webp);

      @media screen and (max-width: 81.25em) {
        flex: 2.5;
      }

      @media screen and (max-width: 37.5em) {
        flex: 1;
      }
    }

    &--right {
      flex: 1.5;

      background-image: linear-gradient(
          to right bottom,
          rgba(vars.$clr-black, 0.85),
          rgba(vars.$clr-gray-dark-1, 0.15)
        ),
        url(/post-10.webp);

      @media screen and (max-width: 37.5em) {
        flex: 1;
      }
    }
  }

  &__info {
    width: 100%;
    height: 100%;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 1rem;

    &.small {
      align-items: flex-end;
      text-align: right;

      @media screen and (max-width: 37.5em) {
        align-items: flex-start;
        text-align: left;
      }
    }

    &--category {
      display: inline-block;
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: 1.3rem;
      color: inherit;
      line-height: 1.2;

      @media screen and (max-width: 56.25em) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.5rem;
      }

      @include bp.md {
        font-size: 1.35rem;
      }

      @media screen and (max-width: 37.5em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 26.25em) {
        font-size: 1.3rem;
      }

      @media screen and (max-width: 23.75em) {
        font-size: 1.25rem;
      }

      @media screen and (max-width: 21.5em) {
        font-size: 1.2rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.15rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.9rem;
      }

      &.small {
        font-size: 1.2rem;

        @media screen and (max-width: 56.25em) {
          font-size: 1.3rem;
        }

        @media screen and (max-width: 51.25em) {
          font-size: 1.4rem;
        }

        @include bp.md {
          font-size: 1.25rem;
        }

        @media screen and (max-width: 37.5em) {
          font-size: 1.5rem;
        }

        @media screen and (max-width: 26.25em) {
          font-size: 1.3rem;
        }

        @media screen and (max-width: 23.75em) {
          font-size: 1.25rem;
        }

        @media screen and (max-width: 21.5em) {
          font-size: 1.2rem;
        }

        @media screen and (max-width: 18.75em) {
          font-size: 1.15rem;
        }

        @media screen and (min-width: 106.25em) {
          font-size: 1.3rem;
        }

        @media screen and (min-width: 112.5em) {
          font-size: 1.4rem;
        }

        @media screen and (min-width: 125em) {
          font-size: 1.8rem;
        }
      }
    }

    &--heading {
      display: inline-block;
      text-transform: initial;
      text-rendering: optimizeLegibility;
      width: 60%;
      font-weight: 700;
      font-size: 2.8rem;
      color: inherit;
      line-height: 1;

      @media screen and (max-width: 93.75em) {
        width: 70%;
      }

      @media screen and (max-width: 81.25em) {
        width: 85%;
      }

      @media screen and (max-width: 68.75em) {
        width: 90%;
      }

      @media screen and (max-width: 57.5em) {
        width: 95%;
      }

      @media screen and (max-width: 56.25em) {
        font-size: 2.9rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 3rem;
      }

      @include bp.md {
        font-size: 2.85rem;
      }

      @media screen and (max-width: 43.75em) {
        font-size: 2.5rem;
      }

      @media screen and (max-width: 37.5em) {
        font-size: 3rem;
      }

      @include bp.sm {
        font-size: 2.65rem;
      }

      @media screen and (max-width: 26.25em) {
        font-size: 2.5rem;
      }

      @media screen and (max-width: 25em) {
        font-size: 2.25rem;
      }

      @media screen and (max-width: 23.75em) {
        font-size: 2.15rem;
      }

      @media screen and (max-width: 22.5em) {
        width: 90%;
        font-size: 2rem;
      }

      @media screen and (max-width: 21.5em) {
        font-size: 1.85rem;
      }

      @media screen and (max-width: 20em) {
        width: 100%;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.75rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 2.9rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 70%;
        font-size: 3rem;
      }

      @media screen and (min-width: 125em) {
        width: 80%;
        font-size: 3.5rem;
      }

      &.small {
        display: inline-block;
        text-transform: initial;
        text-rendering: optimizeLegibility;
        width: 75%;
        font-weight: 600;
        font-size: 2.45rem;
        color: inherit;
        line-height: 1;

        @media screen and (max-width: 93.75em) {
          width: 85%;
        }

        @media screen and (max-width: 68.75em) {
          width: 95%;
        }

        @media screen and (max-width: 56.25em) {
          font-size: 2.55rem;
        }

        @media screen and (max-width: 51.25em) {
          font-size: 2.65rem;
        }

        @include bp.md {
          font-size: 2.5rem;
        }

        @media screen and (max-width: 43.75em) {
          font-size: 2.2rem;
        }

        @media screen and (max-width: 37.5em) {
          width: 95%;
          font-size: 3rem;
        }

        @include bp.sm {
          font-size: 2.65rem;
        }

        @media screen and (max-width: 26.25em) {
          font-size: 2.5rem;
        }

        @media screen and (max-width: 25em) {
          font-size: 2.25rem;
        }

        @media screen and (max-width: 23.75em) {
          font-size: 2.15rem;
        }

        @media screen and (max-width: 22.5em) {
          width: 90%;
          font-size: 2rem;
        }

        @media screen and (max-width: 21.5em) {
          font-size: 1.85rem;
        }

        @media screen and (max-width: 20em) {
          width: 100%;
        }

        @media screen and (max-width: 18.75em) {
          font-size: 1.75rem;
        }

        @media screen and (min-width: 106.25em) {
          font-size: 2.55rem;
        }

        @media screen and (min-width: 112.5em) {
          width: 90%;
          font-size: 2.65rem;
        }

        @media screen and (min-width: 125em) {
          width: 95%;
          font-size: 3.15rem;
        }
      }
    }

    &--link {
      &:link,
      &:visited {
        display: flex;
        flex-direction: column;

        text-transform: uppercase;
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        text-decoration-thickness: 2px;
        font-weight: 600;
        font-size: 1.3rem;
        transition: all 300ms ease-in-out;

        @media screen and (max-width: 56.25em) {
          font-size: 1.4rem;
        }

        @media screen and (max-width: 51.25em) {
          font-size: 1.5rem;
        }

        @include bp.md {
          font-size: 1.35rem;
        }

        @media screen and (max-width: 37.5em) {
          font-size: 1.5rem;
        }

        @media screen and (max-width: 26.25em) {
          font-size: 1.3rem;
        }

        @media screen and (max-width: 23.75em) {
          font-size: 1.25rem;
        }

        @media screen and (max-width: 21.5em) {
          font-size: 1.2rem;
        }

        @media screen and (max-width: 18.75em) {
          font-size: 1.15rem;
        }

        @media screen and (min-width: 106.25em) {
          font-size: 1.4rem;
        }

        @media screen and (min-width: 112.5em) {
          font-size: 1.5rem;
        }

        @media screen and (min-width: 125em) {
          font-size: 1.9rem;
        }

        &.small {
          font-size: 1.2rem;

          @media screen and (max-width: 56.25em) {
            font-size: 1.3rem;
          }

          @media screen and (max-width: 51.25em) {
            font-size: 1.4rem;
          }

          @include bp.md {
            font-size: 1.25rem;
          }

          @media screen and (max-width: 37.5em) {
            font-size: 1.5rem;
          }

          @media screen and (max-width: 26.25em) {
            font-size: 1.3rem;
          }

          @media screen and (max-width: 23.75em) {
            font-size: 1.25rem;
          }

          @media screen and (max-width: 21.5em) {
            font-size: 1.2rem;
          }

          @media screen and (max-width: 18.75em) {
            font-size: 1.15rem;
          }

          @media screen and (min-width: 106.25em) {
            font-size: 1.3rem;
          }

          @media screen and (min-width: 112.5em) {
            font-size: 1.4rem;
          }

          @media screen and (min-width: 125em) {
            font-size: 1.8rem;
          }
        }
      }

      &:hover {
        color: vars.$clr-pink-light;
      }

      &:disabled {
        opacity: 0.75;
        cursor: default;
      }
    }
  }
}
