@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.header {
  display: flex;
  justify-content: center;

  &__container {
    width: 130rem;
  }

  &__wrapper {
    display: flex;
    gap: 1rem;

    width: 100%;
    height: 32vw;

    &--left,
    &--right {
      background-color: vars.$clr-secondary-blue;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 2rem;
    }

    &--left {
      flex: 3;

      background-image: linear-gradient(
          to right bottom,
          vars.$clr-gray-dark-1,
          vars.$clr-gray-dark-2
        ),
        url(/post-9.webp);
    }

    &--right {
      flex: 1.5;

      background-image: linear-gradient(
          to right bottom,
          vars.$clr-gray-dark-1,
          vars.$clr-gray-dark-2
        ),
        url(/post-10.webp);
    }
  }

  &__info {
    width: 100%;
    height: 100%;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 1rem;

    &--category {
      display: inline-block;
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: 1.3rem;
      color: inherit;
      line-height: 1.2;

      &.small {
        font-size: 1.2rem;
      }
    }

    &--heading {
      display: inline-block;
      text-transform: initial;
      text-rendering: optimizeLegibility;
      width: 60%;
      font-weight: 700;
      font-size: 2.8rem;
      color: inherit;
      line-height: 1;

      &.small {
        display: inline-block;
        text-transform: initial;
        text-rendering: optimizeLegibility;
        width: 75%;
        font-weight: 600;
        font-size: 2.45rem;
        color: inherit;
        line-height: 1;
      }
    }

    &--link {
      &:link,
      &:visited {
        display: flex;
        flex-direction: column;

        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.3rem;
        transition: all 300ms ease-in-out;

        &.small {
          font-size: 1.2rem;

          &::after {
            width: 7.15rem;
          }
        }

        &::after {
          content: '';
          display: inline-block;
          width: 7.75rem;
          height: 2px;
          background-color: vars.$clr-white;
        }
      }

      &:hover {
        color: vars.$clr-pink-light;

        &::after {
          background-color: vars.$clr-pink-light;
        }
      }
    }
  }
}
