@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.navbar {
  display: flex;
  justify-content: center;
  height: 8.8rem;
  background-color: vars.$clr-black;
  color: vars.$clr-white;

  @media screen and (max-width: 56.25em) {
    height: 9rem;
  }

  @media screen and (max-width: 51.25em) {
    height: 9.5rem;
  }

  @media screen and (max-width: 23.4375em) {
    background-color: yellow;
  }

  @media screen and (min-width: 106.25em) {
    height: 9rem;
  }

  @media screen and (min-width: 112.5em) {
    height: 10rem;
  }

  @media screen and (min-width: 125em) {
    height: 11rem;
  }

  &__container {
    width: 144rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 93.75em) {
      width: 134rem;
    }

    @include bp.xxl {
      width: 124rem;
    }

    @media screen and (max-width: 81.25em) {
      width: 118rem;
    }

    @media screen and (max-width: 76.25em) {
      width: 110rem;
    }

    @include bp.xl {
      width: 118rem;
    }

    @media screen and (max-width: 68.75em) {
      width: 110rem;
    }

    @include bp.lg {
      width: 100rem;
    }

    @media screen and (max-width: 59.375em) {
      width: 95rem;
    }

    @media screen and (max-width: 57.5em) {
      width: 93rem;
    }

    @media screen and (max-width: 56.25em) {
      width: 98rem;
    }

    @media screen and (max-width: 53.75em) {
      width: 95rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 90rem;
    }

    @include bp.md {
      width: 87rem;
    }

    @media screen and (max-width: 43.75em) {
      width: 80rem;
    }

    @media screen and (max-width: 41.875em) {
      width: 75rem;
    }

    @media screen and (max-width: 38.75em) {
      width: 72rem;
    }

    @media screen and (max-width: 37.5em) {
      width: 67rem;
    }

    @media screen and (max-width: 34.375em) {
      width: 62rem;
    }

    @media screen and (max-width: 31.5em) {
      width: 55rem;
    }

    @include bp.sm {
      width: 53rem;
    }

    @media screen and (max-width: 28.125em) {
      width: 50rem;
    }

    @media screen and (max-width: 26.875em) {
      width: 47rem;
    }

    @media screen and (max-width: 26.25em) {
      width: 45rem;
    }

    @media screen and (max-width: 25em) {
      width: 43rem;
    }

    @media screen and (max-width: 24.375em) {
      width: 42rem;
    }

    @media screen and (max-width: 23.75em) {
      width: 40rem;
    }

    @media screen and (max-width: 23.4375em) {
      width: 38rem;
      background-color: red;
    }

    @media screen and (max-width: 22.5em) {
      width: 38rem;
    }

    @media screen and (max-width: 21.5em) {
      width: 36rem;
    }

    @media screen and (max-width: 20em) {
      width: 34rem;
    }

    @media screen and (max-width: 18.75em) {
      width: 32rem;
    }

    @media screen and (max-width: 17.5em) {
      width: 30rem;
    }

    @media screen and (min-width: 112.5em) {
      width: 134rem;
    }

    @media screen and (min-width: 125em) {
      width: 150rem;
    }
  }

  &__logo {
    display: inline-block;

    a:link,
    a:visited {
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      font-weight: 700;
      font-size: 2rem;
      background-image: linear-gradient(
        to right,
        vars.$clr-pink-dark-1,
        vars.$clr-pink-dark-2,
        vars.$clr-pink-light,
        vars.$clr-orange-dark,
        vars.$clr-orange-light
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;

      @media screen and (min-width: 106.25em) {
        font-size: 2.2rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 2.4rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.7rem;
      }
    }
  }

  &__links {
    display: none;

    @media screen and (min-width: 30.0625em) {
      display: flex;
      align-items: center;
      gap: 2rem;

      list-style: none;

      @media screen and (max-width: 56.25em) {
        gap: 3rem;
      }

      @media screen and (max-width: 51.25em) {
        gap: 4rem;
      }

      @media screen and (max-width: 31.25em) {
        gap: 2.5rem;
      }

      @media screen and (min-width: 106.25em) {
        gap: 3rem;
      }

      @media screen and (min-width: 112.5em) {
        gap: 3.5rem;
      }

      @media screen and (min-width: 125em) {
        gap: 4rem;
      }

      .login__btn {
        width: fit-content;
        padding: 0.8rem 1.6rem;
        background-color: vars.$clr-gray-dark-1;
        color: vars.$clr-white;
        transition: all 300ms;

        &:hover {
          background-image: none;
          background-clip: unset;
          background-color: vars.$clr-gray-dark-2;
          color: inherit;
        }
      }
    }
  }

  &__accounts {
    position: relative;
    cursor: pointer;

    &:hover .user-menu {
      right: 0;
      visibility: visible;
      opacity: 1;
      z-index: 1000;
      transition: all 0.5s ease-in;
    }
  }

  &__account {
    width: 5rem;
    height: 5rem;

    @media screen and (max-width: 56.25em) {
      width: 6rem;
      height: 6rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 6.5rem;
      height: 6.5rem;
    }

    @media screen and (min-width: 106.25em) {
      width: 6rem;
      height: 6rem;
    }

    @media screen and (min-width: 112.5em) {
      width: 7rem;
      height: 7rem;
    }

    @media screen and (min-width: 125em) {
      width: 8rem;
      height: 8rem;
    }

    &--avatar {
      width: 100%;
      height: 100%;
      display: inline-block;
      object-fit: cover;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
