.navbar {
  display: flex;
  justify-content: center;
  height: 8.8rem;
  background-color: #000;
  color: #fff;

  &__container {
    width: 144rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &--logo {
      display: inline-block;
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      cursor: pointer;
    }

    &--links {
      list-style: none;

      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }
}
