@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.navbar {
  display: flex;
  justify-content: center;
  height: 8.8rem;
  background-color: $clr-black;
  color: $clr-white;

  @media screen and (min-width: 106.25em) {
    height: 9rem;
  }

  @media screen and (min-width: 112.5em) {
    height: 10rem;
  }

  @media screen and (min-width: 125em) {
    height: 11rem;
  }

  &__container {
    width: 144rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 93.75em) {
      width: 134rem;
    }

    @include xxl {
      width: 124rem;
    }

    @media screen and (max-width: 81.25em) {
      width: 118rem;
    }

    @media screen and (max-width: 76.25em) {
      width: 110rem;
    }

    @include xl {
      width: 118rem;
    }

    @media screen and (max-width: 68.75em) {
      width: 110rem;
    }

    @media screen and (min-width: 112.5em) {
      width: 134rem;
    }

    @media screen and (min-width: 125em) {
      width: 150rem;
    }
  }

  &__logo {
    display: inline-block;

    a:link,
    a:visited {
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      font-weight: 700;
      font-size: 2rem;
      background-image: linear-gradient(
        to right,
        $clr-pink-dark-1,
        $clr-pink-dark-2,
        $clr-pink-light,
        $clr-orange-dark,
        $clr-orange-light
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;

      @media screen and (min-width: 106.25em) {
        font-size: 2.2rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 2.4rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.7rem;
      }
    }
  }

  &__toggle {
    display: none;

    @media screen and (max-width: 30em) {
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;

      span {
        text-transform: capitalize;
        text-rendering: optimizeLegibility;
        font-weight: 700;
        font-size: 1.4rem;
        color: inherit;
      }

      svg {
        width: 2.5rem;
        fill: currentColor;
      }
    }
  }

  &__links {
    display: none;

    @media screen and (min-width: 30.0625em) {
      display: flex;
      align-items: center;
      gap: 2rem;

      list-style: none;

      &--item {
        text-transform: uppercase;
        font-size: 1.3rem;

        @media screen and (min-width: 106.25em) {
          font-size: 1.4rem;
        }

        @media screen and (min-width: 125em) {
          font-size: 1.65rem;
        }

        a {
          &:link,
          &:visited {
            display: flex;
            align-items: center;
            justify-content: center;

            border: 0;
            outline: 0;
            text-transform: uppercase;
            font-size: inherit;
            border-radius: 10rem;
          }

          &:hover {
            background-image: linear-gradient(
              to right,
              $clr-pink-dark-1,
              $clr-pink-dark-2,
              $clr-pink-light,
              $clr-orange-dark,
              $clr-orange-light
            );
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
          }
        }
      }

      .login__btn {
        width: fit-content;
        padding: 0.8rem 1.6rem;
        background-color: $clr-gray-dark-1;
        color: $clr-white;
        transition: all 300ms;

        &:hover {
          background-image: none;
          background-clip: unset;
          background-color: $clr-gray-dark-2;
          color: inherit;
        }
      }
    }
  }

  &__accounts {
    position: relative;
  }

  &__account {
    width: 5rem;
    height: 5rem;

    @media screen and (min-width: 106.25em) {
      width: 6rem;
      height: 6rem;
    }

    @media screen and (min-width: 112.5em) {
      width: 7rem;
      height: 7rem;
    }

    @media screen and (min-width: 125em) {
      width: 8rem;
      height: 8rem;
    }

    &--avatar {
      width: 100%;
      height: 100%;
      display: inline-block;
      object-fit: cover;
      background-color: $clr-gray-dark-1;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
