@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.post-list-skeleton {
  width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;

  @include bp.xxl {
    width: 22rem;
  }

  @media screen and (max-width: 76.25em) {
    width: 20.5rem;
  }

  @include bp.xl {
    width: 21.9rem;
  }

  @media screen and (max-width: 68.75em) {
    width: 20.5rem;
  }

  @include bp.lg {
    width: 25rem;
  }

  @media screen and (max-width: 59.375em) {
    width: 24rem;
  }

  @media screen and (max-width: 57.5em) {
    width: 23rem;
  }

  @media screen and (max-width: 56.25em) {
    width: 25rem;
  }

  @media screen and (max-width: 53.75em) {
    width: 24rem;
  }

  @media screen and (max-width: 51.25em) {
    width: 22.65rem;
  }

  @media screen and (max-width: 41.875em) {
    width: 21rem;
  }

  @media screen and (max-width: 38.75em) {
    width: 20rem;
  }

  @media screen and (max-width: 37.5em) {
    width: 29rem;
  }

  @media screen and (max-width: 34.375em) {
    width: 26rem;
  }

  @media screen and (max-width: 31.5em) {
    width: 23rem;
  }

  @include bp.sm {
    width: 25rem;
  }

  @media screen and (max-width: 28.125em) {
    width: 23.5rem;
  }

  @media screen and (max-width: 26.875em) {
    width: 100%;
    background-color: transparent;
    border-radius: 0;

    display: flex;
    gap: 1rem;

    &:not(:last-child) {
      border-bottom: 1px solid vars.$clr-secondary-blue;
    }
  }

  @media screen and (max-width: 24.375em) {
    gap: 0.8rem;
  }

  @media screen and (min-width: 112.5em) {
    width: 26rem;
  }

  @media screen and (min-width: 125em) {
    width: 29rem;
  }

  .react-loading-skeleton {
    --base-color: #021124 !important;

    @include bp.sm {
      --base-color: #152233 !important;
    }
  }

  &__wrapper {
    height: 20rem;

    @include bp.xxl {
      height: 18rem;
    }

    @media screen and (max-width: 76.25em) {
      height: 17rem;
    }

    @include bp.xl {
      height: 18rem;
    }

    @include bp.lg {
      height: 20rem;
    }

    @media screen and (max-width: 56.25em) {
      height: 21rem;
    }

    @media screen and (max-width: 53.75em) {
      height: 20rem;
    }

    @media screen and (max-width: 51.25em) {
      height: 19rem;
    }

    @media screen and (max-width: 37.5em) {
      height: 20rem;
    }

    @media screen and (max-width: 31.5em) {
      height: 19rem;
    }

    @media screen and (max-width: 28.125em) {
      height: 18rem;
    }

    @media screen and (max-width: 26.875em) {
      width: 10rem;
      height: 10rem;
      border-radius: 0.5rem;
    }

    @media screen and (max-width: 25em) {
      width: 8rem;
      height: 8rem;
    }

    @media screen and (max-width: 22.5em) {
      width: 7rem;
      height: 7rem;
    }

    @media screen and (max-width: 21.5em) {
      width: 6rem;
      height: 6rem;
    }

    @media screen and (max-width: 18.75em) {
      display: none;
    }

    @media screen and (min-width: 125em) {
      height: 22rem;
    }

    &--img {
      width: 100% !important;
      height: 100% !important;
    }
  }

  &__footer {
    padding: 1rem;

    @include bp.xxl {
      // min-height: 16rem;
      // padding: 1.5rem;
      // padding-top: 2.5rem;
    }

    // @media screen and (max-width: 76.25em) {
    //   padding-left: 1rem;
    //   padding-right: 1rem;
    // }

    @include bp.lg {
      // min-height: 15rem;
      // padding: 1.75rem;
      // padding-top: 2.5rem;
    }

    @media screen and (max-width: 59.375em) {
      // min-height: 16rem;
    }

    // @media screen and (max-width: 57.5em) {
    //   padding-left: 1.5rem;
    //   padding-right: 1.5rem;
    // }

    @media screen and (max-width: 56.25em) {
      // min-height: 17rem;
    }

    // @media screen and (max-width: 53.75em) {
    //   padding-left: 1.25rem;
    //   padding-right: 1.25rem;
    // }

    // @media screen and (max-width: 51.25em) {
    //   padding-left: 1rem;
    //   padding-right: 1rem;
    //   padding-top: 2rem;
    // }

    // @media screen and (max-width: 37.5em) {
    //   padding-top: 2.25rem;
    // }

    @include bp.sm {
      // min-height: 15rem;
    }

    @media screen and (max-width: 26.875em) {
      min-height: 0;
      padding: 0;
      padding-bottom: 3rem;
    }

    @media screen and (min-width: 125em) {
      min-height: 17.5rem;
      padding: 2rem 1.5rem;
      padding-top: 2.75rem;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--title {
      width: 100% !important;
      height: 2rem !important;
      border-radius: 0.5rem;

      @include bp.sm {
        width: 37rem !important;
      }

      @media screen and (max-width: 28.125em) {
        width: 34rem !important;
      }

      @media screen and (max-width: 26.875em) {
        width: 32rem !important;
      }

      @media screen and (max-width: 26.25em) {
        width: 30rem !important;
      }

      @media screen and (max-width: 25em) {
        width: 29rem !important;
      }

      @media screen and (max-width: 24.375em) {
        width: 30rem !important;
        height: 1.7rem !important;
      }

      @media screen and (max-width: 23.75em) {
        width: 28rem !important;
      }

      @media screen and (max-width: 22.5em) {
        width: 26rem !important;
      }

      @media screen and (max-width: 21.5em) {
        width: 25rem !important;
      }

      @media screen and (max-width: 20em) {
        width: 23rem !important;
      }

      @media screen and (max-width: 18.75em) {
        width: 22rem !important;
      }

      @media screen and (max-width: 17.5em) {
        width: 21rem !important;
      }

      @media screen and (min-width: 112.5em) {
        height: 2.15rem !important;
      }

      @media screen and (min-width: 125em) {
        height: 2.5rem !important;
      }
    }

    &--desc,
    &--subdesc {
      height: 1.5rem !important;
      border-radius: 0.5rem;

      @media screen and (max-width: 24.375em) {
        height: 1.25rem !important;
      }

      @media screen and (min-width: 112.5em) {
        height: 1.65rem !important;
      }

      @media screen and (min-width: 125em) {
        height: 1.8rem !important;
      }
    }

    &--desc {
      width: 100% !important;
    }

    &--subdesc {
      width: 85% !important;

      @include bp.sm {
        width: 75% !important;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    &--category,
    &--time {
      height: 1.5rem !important;
      border-radius: 0.5rem;

      @media screen and (max-width: 24.375em) {
        height: 1.25rem !important;
      }

      @media screen and (min-width: 112.5em) {
        height: 1.65rem !important;
      }

      @media screen and (min-width: 125em) {
        height: 1.8rem !important;
      }
    }

    &--category {
      width: 60% !important;

      @include bp.sm {
        width: 45% !important;
      }

      @media screen and (max-width: 24.375em) {
        width: 8rem !important;
      }

      @media screen and (max-width: 23.75em) {
        width: 6rem !important;
      }

      @media screen and (max-width: 18.75em) {
        width: 5rem !important;
      }
    }

    &--time {
      width: 65% !important;

      @include bp.sm {
        width: 50% !important;
      }

      @media screen and (max-width: 24.375em) {
        width: 12rem !important;
      }

      @media screen and (max-width: 23.75em) {
        width: 10rem !important;
      }

      @media screen and (max-width: 20em) {
        width: 9rem !important;
      }

      @media screen and (max-width: 18.75em) {
        width: 8rem !important;
      }
    }
  }
}
