@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.reply-comment-form {
  overflow: hidden;
  will-change: max-height;
  background-color: rgba(vars.$clr-tertiary-blue, 0.15);
  border: 1px solid vars.$clr-tertiary-blue;
  border-radius: 0.5rem;
  margin-top: 1rem;
  transition: max-height 360ms cubic-bezier(0.2, 0.85, 0.25, 0.1);

  @include bp.sm {
    background-color: rgba(vars.$clr-secondary-blue, 0.15);
  }

  &.closed {
    border: 0;
    box-shadow: none;

    .comment-card__collapse--inner {
      opacity: 0;
      transform: translateY(-0.6rem);
    }
  }

  &__inner {
    padding: 1.4rem;
    transform: translateY(-0.6rem);
    opacity: 1;
    transition: transform 260ms cubic-bezier(0.2, 0.85, 0.25, 0.1),
      opacity 240ms ease;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;

    position: relative;

    &.show {
      display: flex;
      visibility: visible;
      opacity: 1;
      z-index: 1000;
    }

    &.hide {
      display: none;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
    }
  }

  &__textarea {
    display: inline-block;
    outline: 0;
    width: 70%;
    font-family: inherit;
    font-weight: 600;
    background-color: rgba(vars.$clr-primary-blue, 0.5);
    color: vars.$clr-white;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    resize: none;
    transition: all 300ms ease-in-out;

    &:disabled {
      cursor: not-allowed;
    }

    &.small,
    &.medium,
    &.large {
      @include bp.sm {
        background-color: rgba(vars.$clr-secondary-blue, 0.5);
      }
    }

    &.small,
    &.medium {
      @media screen and (max-width: 37.5em) {
        width: 80%;
      }

      @media screen and (max-width: 34.375em) {
        width: 100%;
      }

      @media screen and (min-width: 106.25em) {
        width: 55%;
      }

      @media screen and (min-width: 112.5em) {
        width: 57%;
      }

      @media screen and (min-width: 125em) {
        width: 60%;
      }
    }

    &.small {
      height: 6.5rem;
      padding: 1rem;
      font-size: 1.3rem;

      @media screen and (max-width: 56.25em) {
        height: 6.7rem;
        font-size: 1.4rem;
      }

      @media screen and (max-width: 51.25em) {
        height: 6.9rem;
        font-size: 1.5rem;
      }

      @media screen and (max-width: 34.375em) {
        height: 7.3rem;
        font-size: 1.7rem;
      }

      @include bp.sm {
        height: 8.3rem;
        font-size: 1.8rem;
      }

      @media screen and (max-width: 22.5em) {
        height: 8.15rem;
        font-size: 1.65rem;
      }

      @media screen and (max-width: 18.75em) {
        height: 8.05rem;
        font-size: 1.55rem;
      }

      @media screen and (min-width: 106.25em) {
        height: 6.9rem;
        font-size: 1.5rem;
      }

      @media screen and (min-width: 112.5em) {
        height: 7.5rem;
        font-size: 1.7rem;
      }

      @media screen and (min-width: 125em) {
        height: 9.5rem;
        font-size: 2.05rem;
      }

      &::placeholder {
        font-weight: 600;
        font-size: 1.3rem;
        color: vars.$clr-white;

        @media screen and (max-width: 56.25em) {
          font-size: 1.4rem;
        }

        @media screen and (max-width: 51.25em) {
          font-size: 1.5rem;
        }

        @media screen and (max-width: 34.375em) {
          font-size: 1.7rem;
        }

        @include bp.sm {
          font-size: 1.8rem;
        }

        @media screen and (max-width: 22.5em) {
          font-size: 1.65rem;
        }

        @media screen and (max-width: 18.75em) {
          font-size: 1.55rem;
        }

        @media screen and (min-width: 106.25em) {
          font-size: 1.5rem;
        }

        @media screen and (min-width: 112.5em) {
          font-size: 1.7rem;
        }

        @media screen and (min-width: 125em) {
          font-size: 2.05rem;
        }
      }
    }

    &.medium {
      height: 8rem;
      padding: 1rem;
      font-size: 1.4rem;

      @media screen and (max-width: 56.25em) {
        height: 8.2rem;
        font-size: 1.5rem;
      }

      @media screen and (max-width: 51.25em) {
        height: 8.4rem;
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 34.375em) {
        height: 8.8rem;
        font-size: 1.8rem;
      }

      @include bp.sm {
        height: 9.8rem;
        font-size: 1.9rem;
      }

      @media screen and (max-width: 22.5em) {
        height: 9.65rem;
        font-size: 1.75rem;
      }

      @media screen and (max-width: 18.75em) {
        height: 9.55rem;
        font-size: 1.65rem;
      }

      @media screen and (min-width: 106.25em) {
        height: 8.4rem;
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 112.5em) {
        height: 9rem;
        font-size: 1.8rem;
      }

      @media screen and (min-width: 125em) {
        height: 11rem;
        font-size: 2.15rem;
      }
    }

    &.large {
      height: 11.2rem;
      padding: 1.6rem;
      font-size: 1.4rem;

      @media screen and (max-width: 56.25em) {
        height: 11.4rem;
        font-size: 1.5rem;
      }

      @media screen and (max-width: 51.25em) {
        height: 11.6rem;
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 34.375em) {
        width: 100%;
        height: 12rem;
        font-size: 1.8rem;
      }

      @include bp.sm {
        font-size: 1.9rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.75rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.65rem;
      }

      @media screen and (max-width: 17.5em) {
        height: 11.4rem;
        font-size: 1.55rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 72%;
        height: 11.6rem;
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 112.5em) {
        width: 75%;
        height: 12rem;
        font-size: 1.8rem;
      }

      @media screen and (min-width: 125em) {
        width: 80%;
        height: 15rem;
        font-size: 2.15rem;
      }
    }

    &:focus {
      background-color: rgba(vars.$clr-tertiary-blue, 0.5);
      border-color: vars.$clr-tertiary-blue;

      @include bp.sm {
        background-color: rgba(vars.$clr-secondary-blue, 0.5);
      }
    }

    &.medium,
    &.large {
      &::placeholder {
        font-weight: 600;
        font-size: 1.4rem;
        color: vars.$clr-white;

        @media screen and (max-width: 56.25em) {
          font-size: 1.5rem;
        }

        @media screen and (max-width: 51.25em) {
          font-size: var(--default-font-size);
        }

        @media screen and (max-width: 34.375em) {
          font-size: 1.8rem;
        }

        @include bp.sm {
          font-size: 1.9rem;
        }

        @media screen and (max-width: 22.5em) {
          font-size: 1.75rem;
        }

        @media screen and (max-width: 18.75em) {
          font-size: 1.65rem;
        }

        @media screen and (min-width: 106.25em) {
          font-size: var(--default-font-size);
        }

        @media screen and (min-width: 112.5em) {
          font-size: 1.8rem;
        }

        @media screen and (min-width: 125em) {
          font-size: 2.15rem;
        }
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    &.small {
      gap: 0.8rem;

      button {
        height: 2.25rem;
        padding: 0.8rem;
        font-size: 1.25rem;

        @media screen and (max-width: 56.25em) {
          height: 2.35rem;
          padding: 1.05rem;
          font-size: 1.35rem;
        }

        @media screen and (max-width: 51.25em) {
          height: 2.45rem;
          padding: 1.15rem;
          font-size: 1.45rem;
        }

        @media screen and (max-width: 34.375em) {
          height: 2.55rem;
          padding: 1.35rem;
          font-size: 1.55rem;
        }

        @include bp.sm {
          height: 2.65rem;
          padding: 1.45rem;
          font-size: 1.65rem;
        }

        @media screen and (max-width: 22.5em) {
          height: 2.5rem;
          padding: 1.3rem;
          font-size: 1.5rem;
        }

        @media screen and (max-width: 18.75em) {
          height: 2.4rem;
          padding: 1.2rem;
          font-size: 1.4rem;
        }

        @media screen and (min-width: 106.25em) {
          height: 2.5rem;
          padding: 1.15rem;
          font-size: 1.35rem;
        }

        @media screen and (min-width: 112.5em) {
          height: 2.75rem;
          padding: 1.3rem;
          font-size: 1.45rem;
        }

        @media screen and (min-width: 125em) {
          height: 3.5rem;
          padding: 1.55rem;
          font-size: 1.75rem;
        }
      }
    }

    &.medium,
    &.large {
      gap: 1rem;

      button {
        height: 2.5rem;
        padding: 1rem;
        font-size: 1.35rem;

        @media screen and (max-width: 56.25em) {
          height: 2.6rem;
          padding: 1.35rem;
          font-size: 1.45rem;
        }

        @media screen and (max-width: 51.25em) {
          height: 2.7rem;
          padding: 1.45rem;
          font-size: 1.55rem;
        }

        @media screen and (max-width: 34.375em) {
          height: 2.8rem;
          padding: 1.65rem;
          font-size: 1.65rem;
        }

        @include bp.sm {
          height: 2.9rem;
          padding: 1.75rem;
          font-size: 1.75rem;
        }

        @media screen and (max-width: 22.5em) {
          height: 2.75rem;
          padding: 1.6rem;
          font-size: var(--default-font-size);
        }

        @media screen and (max-width: 18.75em) {
          height: 2.65rem;
          padding: 1.5rem;
          font-size: 1.5rem;
        }

        @media screen and (min-width: 106.25em) {
          height: 2.75rem;
          padding: 1.35rem;
          font-size: 1.45rem;
        }

        @media screen and (min-width: 112.5em) {
          height: 3rem;
          padding: 1.5rem;
          font-size: 1.55rem;
        }

        @media screen and (min-width: 125em) {
          height: 4rem;
          padding: 1.75rem;
          font-size: 1.95rem;
        }
      }
    }

    &--cancel,
    &--submit {
      display: flex;
      align-items: center;
      justify-content: center;

      border: 0;
      outline: 0;
      width: fit-content;
      text-transform: capitalize;
      font-weight: 600;
      color: vars.$clr-white;
      border-radius: 0.5rem;
      cursor: pointer;

      &:disabled {
        opacity: 0.75;
        cursor: not-allowed;
      }
    }

    &--cancel {
      background-color: rgba(vars.$clr-danger, 0.5);
    }

    &--submit {
      background-color: rgba(vars.$clr-success, 0.5);
    }
  }

  &__hint-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
  }

  &__hint {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    font-size: 1.3rem;
    color: #6b7280;
    position: relative;
    backface-visibility: hidden;
    z-index: 1000;

    @media screen and (max-width: 56.25em) {
      font-size: 1.4rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 34.375em) {
      font-size: var(--default-font-size);
    }

    @include bp.sm {
      font-size: 1.7rem;
    }

    @media screen and (max-width: 22.5em) {
      font-size: 1.55rem;
    }

    @media screen and (max-width: 18.75em) {
      font-size: 1.45rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 1.4rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: 1.5rem;
    }

    @media screen and (min-width: 125em) {
      font-size: 1.8rem;
    }

    &.show {
      right: 0;
      transform: scale(1);
      transition: all 1s ease-in;
    }

    &.hide {
      right: -120%;
      transform: scale(0);
      transition: all 1s ease-out;
    }

    kbd {
      font-size: 1.2rem;
      padding: 2px 0.6rem;
      background-color: #111827;
      color: vars.$clr-white;
      box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.06);
      border-radius: 0.6rem;

      @media screen and (max-width: 56.25em) {
        font-size: 1.3rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 34.375em) {
        font-size: 1.5rem;
      }

      @include bp.sm {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.45rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.35rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.3rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.7rem;
      }
    }
  }

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    outline: 0;
    width: 2.5rem;
    height: 2.5rem;
    color: #6b7280;
    cursor: pointer;
    z-index: 2000;
    backface-visibility: hidden;
    transition: all 0.16s ease;

    &.show {
      background-color: vars.$clr-primary-blue;
      transition: all 0.5s ease-in;
    }

    &.hide {
      justify-content: flex-end;
      background-color: transparent;
      transition: all 0.5s ease-out;
    }

    &:hover {
      color: #374151;
    }

    &:disabled {
      opacity: 0.75;
      cursor: not-allowed;
    }

    svg {
      width: 1.75rem;
      height: 1.75rem;
      color: currentColor;
      stroke-width: 2px;

      @media screen and (max-width: 56.25em) {
        width: 1.85rem;
        height: 1.85rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 1.95rem;
        height: 1.95rem;
      }

      @media screen and (max-width: 34.375em) {
        width: 2.05rem;
        height: 2.05rem;
      }

      @include bp.sm {
        width: 2.15rem;
        height: 2.15rem;
      }

      @media screen and (max-width: 22.5em) {
        width: 2rem;
        height: 2rem;
      }

      @media screen and (max-width: 18.75em) {
        width: 1.9rem;
        height: 1.9rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 1.85rem;
        height: 1.85rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 2rem;
        height: 2rem;
      }

      @media screen and (min-width: 125em) {
        width: 2.25rem;
        height: 2.25rem;
      }
    }
  }
}
