@use '../../styles/animation.scss' as anim;
@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.add-post {
  position: fixed;
  top: 20rem;
  right: 6.25rem;

  @media screen and (max-width: 93.75em) {
    right: 6.5rem;
  }

  @media screen and (max-width: 76.25em) {
    right: 5rem;
  }

  @include bp.xl {
    right: 5.5rem;
  }

  @media screen and (max-width: 62.5em) {
    right: 4rem;
  }

  @media screen and (max-width: 59.375em) {
    right: 3rem;
  }

  @media screen and (max-width: 56.25em) {
    right: 5rem;
  }

  @media screen and (max-width: 51.25em) {
    right: 4rem;
  }

  @media screen and (max-width: 43.75em) {
    right: 3rem;
  }

  @media screen and (max-width: 37.5em) {
    right: 11rem;
  }

  @media screen and (max-width: 34.375em) {
    right: 9.5rem;
  }

  @media screen and (max-width: 31.25em) {
    right: 9rem;
  }

  @include bp.sm {
    right: 8rem;
  }

  @media screen and (max-width: 28.125em) {
    right: 7.5rem;
  }

  @media screen and (max-width: 26.875em) {
    right: 8rem;
  }

  @media screen and (max-width: 26.25em) {
    right: 8.5rem;
  }

  @media screen and (max-width: 23.75em) {
    right: 8.7rem;
  }

  @media screen and (max-width: 20em) {
    right: 8.25rem;
  }

  @media screen and (max-width: 18.75em) {
    right: 7.8rem;
  }

  @media screen and (max-width: 18.125em) {
    right: 7.25rem;
  }

  @media screen and (max-width: 17.5em) {
    right: 7.5rem;
  }

  @media screen and (max-width: 16.875em) {
    right: 7rem;
  }

  @media screen and (max-width: 16.25em) {
    right: 6.25rem;
  }

  @media screen and (min-width: 106.25em) {
    right: 11rem;
  }

  @media screen and (min-width: 112.5em) {
    right: 6.75rem;
  }

  @media screen and (min-width: 125em) {
    right: 7rem;
  }

  &__container {
    font-size: 100%;
    letter-spacing: 0.5rem;
    color: vars.$clr-white;
    // animation: spin 5s linear infinite;

    @media screen and (max-width: 56.25em) {
      font-size: 1.7rem;
      letter-spacing: 0.7rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: 1.8rem;
      letter-spacing: 0.725rem;
    }

    @include bp.md {
      font-size: 1.7rem;
      letter-spacing: 0.8rem;
    }

    @media screen and (max-width: 43.75em) {
      font-size: 1.8rem;
      letter-spacing: 0.7rem;
    }

    @media screen and (min-width: 106.25em) {
      letter-spacing: 0.525rem;
    }

    @media screen and (min-width: 112.5em) {
      letter-spacing: 4px;
    }

    svg {
      fill: currentColor;

      @include bp.md {
        width: 18rem;
        height: 18rem;
      }

      @media screen and (max-width: 43.75em) {
        width: 17rem;
        height: 17rem;
      }

      @media screen and (max-width: 37.5em) {
        display: none;
      }

      @media screen and (min-width: 106.25em) {
        width: 21rem;
        height: 21rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 22rem;
        height: 22rem;
      }

      @media screen and (min-width: 125em) {
        width: 23rem;
        height: 23rem;
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    outline: 0;
    width: 8rem;
    height: 8rem;
    background-color: rgba(vars.$clr-pink-dark-1, 0.75);
    color: vars.$clr-white;
    backdrop-filter: blur(1px);
    border-radius: 50%;
    cursor: pointer;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    @media screen and (max-width: 56.25em) {
      width: 9rem;
      height: 9rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 10rem;
      height: 10rem;
    }

    @include bp.md {
      width: 8rem;
      height: 8rem;
    }

    @media screen and (max-width: 43.75em) {
      width: 7rem;
      height: 7rem;
    }

    @media screen and (max-width: 37.5em) {
      width: 6rem;
      height: 6rem;
    }

    @media screen and (max-width: 34.375em) {
      width: 5.7rem;
      height: 5.7rem;
    }

    @include bp.sm {
      width: 5.5rem;
      height: 5.5rem;
    }

    @media screen and (max-width: 34.375em) {
      width: 5rem;
      height: 5rem;
    }

    @media screen and (min-width: 106.25em) {
      width: 8.5rem;
      height: 8.5rem;
    }

    @media screen and (min-width: 112.5em) {
      width: 9rem;
      height: 9rem;
    }

    @media screen and (min-width: 125em) {
      width: 10rem;
      height: 10rem;
    }

    &:focus-visible {
      outline: 2px solid vars.$clr-pink-light;
    }

    &:disabled {
      opacity: 0.75;
      cursor: default;
    }

    svg {
      width: 4rem;
      height: 4rem;
      color: currentColor;

      @media screen and (max-width: 56.25em) {
        width: 4.5rem;
        height: 4.5rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 5rem;
        height: 5rem;
      }

      @include bp.md {
        width: 4rem;
        height: 4rem;
      }

      @media screen and (max-width: 43.75em) {
        width: 3.5rem;
        height: 3.5rem;
      }

      @media screen and (max-width: 37.5em) {
        width: 3rem;
        height: 3rem;
      }

      @media screen and (max-width: 34.375em) {
        width: 2.7rem;
        height: 2.7rem;
      }

      @include bp.sm {
        width: 2.5rem;
        height: 2.5rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 4.5rem;
        height: 4.5rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 5rem;
        height: 5rem;
      }

      @media screen and (min-width: 125em) {
        width: 6rem;
        height: 6rem;
      }
    }
  }
}
