@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.addPost {
  position: fixed;
  top: 20rem;
  right: 10rem;

  &__container {
    font-size: 1.8rem;
    letter-spacing: 0.1em;
    color: vars.$clr-white;

    svg {
      fill: currentColor;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    outline: 0;
    width: 8rem;
    height: 8rem;
    background-color: vars.$clr-pink-dark-1;
    color: vars.$clr-white;
    border-radius: 50%;
    cursor: pointer;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    &:disabled {
      opacity: 0.75;
      cursor: default;
    }

    svg {
      width: 4rem;
      height: 4rem;
      color: currentColor;
    }
  }
}
