@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.about-profile {
  position: relative;

  &.show {
    display: block;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    transition: all 300ms ease-out;
  }

  &.hide {
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all 300ms ease-in;
  }

  &__container {
    padding: 0 3rem 3rem;

    @media screen and (max-width: 76.25em) {
      padding: 0 2.5rem 2.5rem;
    }

    @include bp.lg {
      padding: 0 3rem 3rem;
    }

    @media screen and (max-width: 34.375em) {
      padding: 0 2rem 3rem;
    }

    @media screen and (max-width: 31.5em) {
      padding: 0 2rem 2rem;
    }

    @media screen and (max-width: 31.25em) {
      padding: 2rem 0 0;
    }

    &--heading {
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 500;
      font-size: 100%;

      @media screen and (max-width: 56.25em) {
        font-size: 1.7rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.8rem;
      }

      @media screen and (max-width: 21.5em) {
        font-size: 1.7rem;
      }

      @media screen and (max-width: 17.5em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.7rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.8rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.2rem;
      }
    }

    &--text,
    p,
    span {
      font-size: 1.4rem;
      word-wrap: break-word;
      color: vars.$clr-gray-light-1;
      hyphens: auto;

      @media screen and (max-width: 56.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 21.5em) {
        font-size: 1.55rem;
      }

      @media screen and (max-width: 17.5em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 125em) {
        font-size: 2rem;
      }
    }
  }

  &__wrapper {
    &--btn {
      position: relative;
      border: 0;
      outline: 0;
      text-transform: inherit;
      font-family: inherit;
      font-weight: 500;
      font-size: 1.3rem;
      background-color: transparent;
      color: vars.$clr-gray-light-3;
      cursor: pointer;

      @media screen and (max-width: 56.25em) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 21.5em) {
        font-size: 1.45rem;
      }

      @media screen and (max-width: 17.5em) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.9rem;
      }

      &.show {
        display: inline-block;
        visibility: visible;
        opacity: 1;
        z-index: 1000;
        transition: all 300ms ease-out;
      }

      &.hide {
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transition: all 300ms ease-in;
      }

      &:disabled {
        opacity: 0.75;
        cursor: default;
      }
    }
  }
}
