@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.partners {
  display: flex;
  justify-content: center;

  padding: 5rem 0 8rem;

  &__container {
    width: 110rem;

    display: flex;
    flex-direction: column;

    &--heading {
      display: inline-block;
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: 2rem;
      color: currentColor;
      letter-spacing: 0.5px;
      line-height: 1.3;
      margin-bottom: 0.8rem;
    }

    &--paragraph {
      display: inline-block;
      font-size: 1.45rem;
      color: vars.$clr-gray-light-1;

      @media screen and (max-width: 56.25em) {
        font-size: 1.55rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.65rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.55rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.65rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.75rem;
      }
    }
  }
}
