@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.partners {
  display: flex;
  justify-content: center;

  padding: 5rem 0 8rem;

  @include bp.sm {
    padding: 3rem 0 6rem;
  }

  &__container {
    width: 110rem;

    display: flex;
    flex-direction: column;

    @include bp.xxl {
      width: 105rem;
    }

    @media screen and (max-width: 68.75em) {
      width: 100rem;
    }

    @include bp.lg {
      width: 90rem;
    }

    @media screen and (max-width: 59.375em) {
      width: 85rem;
    }

    @media screen and (max-width: 57.5em) {
      width: 83rem;
    }

    @media screen and (max-width: 56.25em) {
      width: 88rem;
    }

    @media screen and (max-width: 53.75em) {
      width: 85rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 80rem;
    }

    @include bp.md {
      width: 77rem;
    }

    @media screen and (max-width: 43.75em) {
      width: 70rem;
    }

    @media screen and (max-width: 41.875em) {
      width: 65rem;
    }

    @media screen and (max-width: 38.75em) {
      width: 62rem;
    }

    @media screen and (max-width: 37.5em) {
      width: 57rem;
    }

    @media screen and (max-width: 34.375em) {
      width: 52rem;
    }

    @media screen and (max-width: 28.125em) {
      width: 50rem;
    }

    @media screen and (max-width: 26.875em) {
      width: 47rem;
    }

    @media screen and (max-width: 26.25em) {
      width: 45rem;
    }

    @media screen and (max-width: 25em) {
      width: 43rem;
    }

    @media screen and (max-width: 24.375em) {
      width: 42rem;
    }

    @media screen and (max-width: 23.75em) {
      width: 40rem;
    }

    @media screen and (max-width: 22.5em) {
      width: 38rem;
    }

    @media screen and (max-width: 21.5em) {
      width: 36rem;
    }

    @media screen and (max-width: 20em) {
      width: 34rem;
    }

    @media screen and (max-width: 18.75em) {
      width: 32rem;
    }

    @media screen and (max-width: 17.5em) {
      width: 30rem;
    }

    @media screen and (min-width: 125em) {
      width: 115rem;
    }

    &--heading {
      display: inline-block;
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: 2rem;
      color: currentColor;
      letter-spacing: 0.5px;
      line-height: 1.3;
      margin-bottom: 0.8rem;
    }

    &--paragraph {
      display: inline-block;
      font-size: 1.45rem;
      color: vars.$clr-gray-light-1;

      @media screen and (max-width: 56.25em) {
        font-size: 1.55rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.65rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.55rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.65rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.75rem;
      }
    }
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    row-gap: 2rem;

    margin-top: 5rem;

    @include bp.lg {
      column-gap: 3rem;
    }

    @media screen and (max-width: 57.5em) {
      column-gap: 2rem;
    }

    @media screen and (max-width: 51.25em) {
      column-gap: 1rem;
    }

    @media screen and (max-width: 37.5em) {
      justify-content: flex-start;
      gap: 3rem;
    }

    @media screen and (max-width: 26.875em) {
      column-gap: 5.65rem;
    }

    @media screen and (max-width: 26.275em) {
      column-gap: 5rem;
    }

    @media screen and (max-width: 24.375em) {
      column-gap: 4.65rem;
    }

    @media screen and (max-width: 23.75em) {
      column-gap: 4rem;
    }

    @media screen and (max-width: 22.5em) {
      column-gap: 3.3rem;
      margin-top: 3rem;
    }

    &--logo {
      display: inline-block;
      width: 9.5rem;
      height: 9.5rem;
      object-fit: cover;

      @media screen and (max-width: 56.25em) {
        width: 9.75rem;
        height: 9.75rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 10rem;
        height: 10rem;
      }

      @media screen and (max-width: 43.75em) {
        width: 8.5rem;
        height: 8.5rem;
      }

      @media screen and (max-width: 41.875em) {
        width: 8.25rem;
        height: 8.25rem;
      }

      @media screen and (max-width: 38.75em) {
        width: 8rem;
        height: 8rem;
      }

      @media screen and (max-width: 28.125em) {
        width: 7.5rem;
        height: 7.5rem;
      }

      @media screen and (max-width: 25em) {
        width: 7rem;
        height: 7rem;
      }

      @media screen and (max-width: 21.5em) {
        width: 6.5rem;
        height: 6.5rem;
      }

      @media screen and (max-width: 20em) {
        width: 6rem;
        height: 6rem;
      }

      @media screen and (max-width: 18.75em) {
        width: 5.5rem;
        height: 5.5rem;
      }

      @media screen and (max-width: 17.5em) {
        width: 5rem;
        height: 5rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 9.75rem;
        height: 9.75rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 10rem;
        height: 10rem;
      }

      @media screen and (min-width: 125em) {
        width: 11rem;
        height: 11rem;
      }
    }
  }
}
