@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.header-skeleton {
  display: flex;
  justify-content: center;

  &__container {
    width: 130rem;
    padding: 3rem 0 0;

    @media screen and (max-width: 93.75em) {
      width: 120rem;
    }

    @include bp.xxl {
      width: 110rem;
    }

    @media screen and (max-width: 81.25em) {
      width: 104rem;
    }

    @media screen and (max-width: 76.25em) {
      width: 96rem;
    }

    @include bp.xl {
      width: 104rem;
    }

    @media screen and (max-width: 68.75em) {
      width: 96rem;
    }

    @include bp.lg {
      width: 100rem;
    }

    @media screen and (max-width: 59.375em) {
      width: 95rem;
    }

    @media screen and (max-width: 57.5em) {
      width: 93rem;
    }

    @media screen and (max-width: 56.25em) {
      width: 98rem;
    }

    @media screen and (max-width: 53.75em) {
      width: 95rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 90rem;
    }

    @include bp.md {
      width: 87rem;
    }

    @media screen and (max-width: 43.75em) {
      width: 80rem;
    }

    @media screen and (max-width: 41.875em) {
      width: 75rem;
    }

    @media screen and (max-width: 38.75em) {
      width: 72rem;
    }

    @media screen and (max-width: 37.5em) {
      width: 67rem;
    }

    @media screen and (max-width: 34.375em) {
      width: 62rem;
    }

    @media screen and (max-width: 31.5em) {
      width: 55rem;
    }

    @include bp.sm {
      width: 48rem;
    }

    @media screen and (max-width: 28.125em) {
      width: 45rem;
    }

    @media screen and (max-width: 26.875em) {
      width: 43rem;
    }

    @media screen and (max-width: 26.25em) {
      width: 42rem;
    }

    @media screen and (max-width: 25em) {
      width: 40rem;
    }

    @media screen and (max-width: 24.375em) {
      width: 39rem;
    }

    @media screen and (max-width: 23.75em) {
      width: 38rem;
    }

    @media screen and (max-width: 23.4375em) {
      width: 37.5rem;
    }

    @media screen and (max-width: 22.5em) {
      width: 36rem;
    }

    @media screen and (max-width: 21.5em) {
      width: 34rem;
    }

    @media screen and (max-width: 20em) {
      width: 32rem;
    }

    @media screen and (max-width: 18.75em) {
      width: 30rem;
    }

    @media screen and (max-width: 17.5em) {
      width: 28rem;
    }

    @media screen and (min-width: 112.5em) {
      width: 120rem;
    }

    @media screen and (min-width: 125em) {
      width: 136rem;
    }
  }

  &__wrapper {
    display: flex;
    gap: 1rem;

    width: 100%;
    height: 32vw;

    @include bp.xxl {
      height: 35vw;
    }

    @media screen and (max-width: 68.75em) {
      height: 37vw;
    }

    @include bp.lg {
      height: 40vw;
    }

    @media screen and (max-width: 59.375em) {
      height: 42vw;
    }

    @media screen and (max-width: 56.25em) {
      height: 44vw;
    }

    @media screen and (max-width: 51.25em) {
      height: 48vw;
    }

    @include bp.md {
      height: 50vw;
    }

    @media screen and (max-width: 43.75em) {
      height: 53vw;
    }

    @media screen and (max-width: 40.625em) {
      height: 55vw;
    }

    @media screen and (max-width: 37.5em) {
      flex-direction: column;
      gap: 3rem;

      height: 125vw;
    }

    @media screen and (max-width: 34.375em) {
      height: 127vw;
    }

    @media screen and (max-width: 31.25em) {
      height: 130vw;
    }

    @include bp.sm {
      height: 133vw;
    }

    @media screen and (max-width: 26.875em) {
      height: 135vw;
    }

    @media screen and (max-width: 25em) {
      height: 137vw;
    }

    @media screen and (max-width: 24.375em) {
      height: 140vw;
    }

    @media screen and (max-width: 23.75em) {
      height: 142vw;
    }

    @media screen and (max-width: 23.4375em) {
      height: 145vw;
    }

    @media screen and (max-width: 22.5em) {
      height: 147vw;
    }

    @media screen and (max-width: 21.5em) {
      height: 150vw;
    }

    @media screen and (max-width: 18.75em) {
      height: 153vw;
    }

    @media screen and (max-width: 17.5em) {
      height: 170vw;
    }

    @media screen and (min-width: 106.25em) {
      height: 33vw;
    }

    @media screen and (min-width: 112.5em) {
      height: 34vw;
    }

    @media screen and (min-width: 125em) {
      height: 37vw;
    }

    &--left,
    &--right {
      border-radius: 2rem;
      overflow: hidden;
    }

    &--left {
      flex: 3;

      @media screen and (max-width: 81.25em) {
        flex: 2.5;
      }

      @media screen and (max-width: 37.5em) {
        flex: 1;
      }
    }

    &--right {
      flex: 1.5;

      @media screen and (max-width: 37.5em) {
        flex: 1;
      }
    }
  }

  &__box {
    width: 100% !important;
    height: 100% !important;
  }
}
