@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.contact-info-item {
  width: 40rem;
  min-height: 20rem;
  padding: 4rem 2rem;
  box-shadow: vars.$box;
  border-radius: 2rem;

  @media screen and (max-width: 68.75em) {
    width: 47.5rem;
  }

  @include bp.lg {
    width: 42rem;
  }

  @media screen and (max-width: 59.375em) {
    width: 40rem;
  }

  @media screen and (max-width: 57.5em) {
    width: 39rem;
  }

  @media screen and (max-width: 56.25em) {
    width: 41rem;
  }

  @media screen and (max-width: 53.75em) {
    width: 39rem;
  }

  @media screen and (max-width: 51.25em) {
    width: 100%;
    min-height: 0;
  }

  @media screen and (max-width: 26.25em) {
    padding: 2rem;
  }

  &:first-child {
    background-color: transparent;
  }

  &:nth-child(2) {
    background-color: vars.$clr-secondary-blue;

    svg {
      color: vars.$clr-tertiary-blue;
    }
  }

  &:last-child {
    background-color: vars.$clr-tertiary-blue;

    svg {
      color: vars.$clr-secondary-blue;
    }
  }

  &:nth-child(2),
  &:last-child {
    .contact-info-item {
      &__wrapper {
        &--label {
          color: vars.$clr-gray-light-3;
        }
      }

      &__details {
        color: vars.$clr-gray-light-1;
        color: #ccc;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;

    &--icon {
      width: 4rem;
      height: 4rem;
      color: currentColor;
      stroke-width: 1px;

      @media screen and (max-width: 56.25em) {
        width: 4.25rem;
        height: 4.25rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 4.5rem;
        height: 4.5rem;
      }

      @media screen and (max-width: 22.5em) {
        width: 4.15rem;
        height: 4.15rem;
      }

      @media screen and (max-width: 21.5em) {
        width: 4rem;
        height: 4rem;
      }

      @media screen and (max-width: 18.75em) {
        width: 3.5rem;
        height: 3.5rem;
      }

      @media screen and (max-width: 17.5em) {
        width: 3rem;
        height: 3rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 4.25rem;
        height: 4.25rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 4.5rem;
        height: 4.5rem;
      }

      @media screen and (min-width: 125em) {
        width: 4.75rem;
        height: 4.75rem;
      }
    }

    &--label {
      font-weight: 700;
      font-size: 1.5rem;

      @media screen and (max-width: 56.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.7rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.55rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.7rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.8rem;
      }
    }
  }

  &__details {
    font-size: 1.4rem;
    word-break: break-all;
    color: currentColor;
    hyphens: auto;
    line-height: 1.3;

    @media screen and (max-width: 56.25em) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: var(--default-font-size);
    }

    @media screen and (max-width: 22.5em) {
      font-size: 1.45rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 1.5rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: var(--default-font-size);
    }

    @media screen and (min-width: 125em) {
      font-size: 1.7rem;
    }
  }
}
