@import '../../styles/variables.scss';

.categoryItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  font-weight: 500;
  font-size: 1.25rem;
  padding: 1rem 0.5rem;
  color: $clr-gray-light-1;
  line-height: 1.2;

  &:not(:last-child) {
    border-bottom: 1px solid $clr-tertiary-blue;
  }

  &__label {
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    font-weight: 700;
    font-size: 1.4rem;
    color: $clr-gray-light-3;

    &--link {
      &:link,
      &:visited {
        font-weight: inherit;
        font-size: inherit;
        transition: all 300ms ease-in-out;
      }

      &:hover {
        color: $clr-pink-dark-1;
      }
    }
  }

  &__total {
    font-weight: 500;
    font-size: 1.2rem;
    color: $clr-gray-light-1;
  }
}
