@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.category-item {
  display: flex;
  align-items: center;

  width: 25.25rem;
  background-color: transparent;
  box-shadow: vars.$box;
  border-radius: 0.5rem;
  overflow: visible;
  position: relative;
  z-index: 1000;

  @include bp.xxl {
    width: 35.25rem;
  }

  @media screen and (max-width: 76.25em) {
    width: 32.25rem;
  }

  @include bp.xl {
    width: 34rem;
  }

  @media screen and (max-width: 68.75em) {
    width: 32.25rem;
  }

  @include bp.lg {
    width: 25.65rem;
  }

  @media screen and (max-width: 59.375em) {
    width: 24.325rem;
  }

  @media screen and (max-width: 57.5em) {
    width: 23.65rem;
  }

  @media screen and (max-width: 56.25em) {
    width: 25rem;
  }

  @media screen and (max-width: 53.75em) {
    width: 48%;
  }

  @media screen and (max-width: 51.25em) {
    width: 47.95%;
  }

  @media screen and (max-width: 41.875em) {
    width: 47.8%;
  }

  @media screen and (max-width: 38.75em) {
    width: 47.7%;
  }

  @media screen and (max-width: 37.5em) {
    width: 47%;
  }

  @media screen and (max-width: 31.5em) {
    width: 46.65%;
  }

  @media screen and (max-width: 31.25em) {
    width: 100%;
  }

  @media screen and (min-width: 112.5em) {
    width: 26.15rem;
  }

  @media screen and (min-width: 125em) {
    width: 28rem;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5rem;
    height: 100%;
    background-image: linear-gradient(
      0,
      vars.$clr-pink-dark-1 0%,
      vars.$clr-pink-dark-2 20%,
      vars.$clr-orange-dark 40%,
      vars.$clr-pink-light 60%,
      vars.$clr-orange-dark 85%,
      vars.$clr-orange-light 95%
    );
    background-attachment: fixed;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    @media screen and (max-width: 18.75em) {
      width: 3px;
    }

    @media screen and (min-width: 125em) {
      width: 0.725rem;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 3rem;
    position: relative;

    @media screen and (max-width: 31.5em) {
      justify-content: space-between;
    }

    &--name {
      display: inline-block;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 500;
      font-size: 1.4rem;

      @media screen and (max-width: 56.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 34.375em) {
        font-size: 1.7rem;
      }

      @include bp.sm {
        font-size: 1.8rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.65rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.55rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.8rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.1rem;
      }

      a {
        &:link,
        &:visited {
          font-weight: inherit;
          font-size: inherit;
          transition: all 0.5s ease-in-out;
        }

        &:hover {
          text-decoration: underline;
          text-underline-offset: 0.5rem;
        }
      }
    }
  }
}
