@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.contact-info {
  display: flex;
  justify-content: center;

  padding: 8rem 0 5rem;

  &__container {
    width: 110rem;

    &--wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5rem;

      margin-top: 3rem;
    }
  }
}
