@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 40rem;
  height: 100%;
  background-color: vars.$clr-secondary-blue;
  color: vars.$clr-white;
  z-index: 4000;

  @media screen and (max-width: 26.875em) {
    width: 100%;
  }

  @media only screen and (min-width: 30.0625em) {
    display: none;
  }

  &.show {
    right: 0;
    transition: all 300ms ease-in;
  }

  &.hide {
    right: -100%;
    transition: all 300ms ease-out;
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 9.943rem;
    height: 10.85rem;
    padding: 0 2rem;
    padding: 0 3.25rem;
    background-color: vars.$clr-black;
  }

  &__logo {
    visibility: hidden;
    opacity: 0;
    z-index: -1;

    @media screen and (max-width: 26.875em) {
      visibility: visible;
      opacity: 1;
      z-index: 1000;

      a:link,
      a:visited {
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
        font-weight: 700;
        font-size: 2rem;
        background-image: linear-gradient(
          to right,
          vars.$clr-pink-dark-1,
          vars.$clr-pink-dark-2,
          vars.$clr-pink-light,
          vars.$clr-orange-dark,
          vars.$clr-orange-light
        );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
    }
  }

  &__close-btn {
    display: flex;
    align-items: center;
    gap: 1rem;

    border: 0;
    outline: 0;
    background-color: transparent;
    color: currentColor;

    span {
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 700;
      font-size: 1.4rem;
      color: inherit;
    }

    svg {
      width: 2.5rem;
      color: currentColor;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__menu {
    padding: 4rem 2rem;
    padding: 4rem 3.25rem 0;
    list-style: none;
  }

  &__accountWrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem 4rem;
    padding: 0 3.25rem 4rem;
  }

  &__accounts {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__account {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    &--avatar {
      width: 7rem;
      height: 7rem;
      display: inline-block;
      object-fit: cover;
      background-color: vars.$clr-tertiary-blue;
      border-radius: 50%;
    }

    &--name {
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      font-weight: 700;
      font-size: 1.4rem;
      white-space: wrap;
    }
  }

  &__logout-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    border: 0;
    outline: 0;
    width: 10rem;
    height: 4rem;
    padding: 0.5rem;
    background-color: vars.$clr-tertiary-blue;
    color: vars.$clr-white;
    border-radius: 0.5rem;
    cursor: pointer;

    span {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.4rem;
      color: currentColor;
    }

    svg {
      width: 2rem;
      height: 2rem;
      stroke-width: 2px;
    }

    &:disabled {
      opacity: 0.75;
      cursor: default;
    }
  }

  &__login {
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      width: 100%;
      padding: 1.5rem 1rem;
      background-color: vars.$clr-tertiary-blue;
      color: vars.$clr-white;
      border-radius: 2px;

      span {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.4rem;
        color: currentColor;
      }

      svg {
        width: 2rem;
        height: 2rem;
        color: currentColor;
        stroke-width: 2px;
      }
    }

    &:disabled {
      opacity: 0.75;
      cursor: default;
    }
  }
}
