@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.deactivateAccount {
  &__container {
    background-color: vars.$clr-secondary-blue;
    padding: 3rem;
    border-radius: 0.5rem;

    @media screen and (max-width: 76.25em) {
      padding: 2.5rem;
    }

    @include bp.lg {
      padding: 3rem;
    }

    @include bp.sm {
      padding: 0;
      background-color: transparent;
      border-radius: 0;
    }
  }

  &__wrapper {
    margin-top: 2rem;

    &--btn {
      display: flex;
      align-items: center;
      justify-content: center;

      border: 0;
      outline: 0;
      font-weight: 600;
      font-size: 1.4rem;
      width: fit-content;
      height: 3.6rem;
      padding: 1rem;
      background-color: vars.$clr-black;
      color: vars.$clr-white;
      border-radius: 0.5rem;
      cursor: pointer;

      &:disabled {
        opacity: 0.75;
        cursor: default;
      }
    }
  }
}
