@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.deactivate-account {
  &__container {
    padding: 3rem;
    background-color: vars.$clr-secondary-blue;
    border-radius: 0.5rem;

    @media screen and (max-width: 76.25em) {
      padding: 2.5rem;
    }

    @include bp.lg {
      padding: 3rem;
    }

    @media screen and (max-width: 34.375em) {
      padding: 3rem 2rem;
    }

    @media screen and (max-width: 31.5em) {
      padding: 2rem;
    }

    @media screen and (max-width: 31.25em) {
      padding: 0;
      padding-top: 3.25rem;
      background-color: transparent;
      border-top: 1px solid vars.$clr-tertiary-blue;
      border-radius: 0;
    }
  }

  &__wrapper {
    margin-top: 2rem;

    &--btn {
      display: flex;
      align-items: center;
      justify-content: center;

      border: 0;
      outline: 0;
      font-weight: 600;
      font-size: 1.4rem;
      width: fit-content;
      height: 3.6rem;
      padding: 2rem 1.25rem;
      background-color: vars.$clr-black;
      color: vars.$clr-white;
      border-radius: 0.5rem;
      cursor: pointer;

      @media screen and (max-width: 56.25em) {
        height: 3.7rem;
        padding: 2.25rem 1.5rem;
        font-size: 1.5rem;
      }

      @media screen and (max-width: 51.25em) {
        height: 3.8rem;
        padding: 2.5rem 1.75rem;
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 17.5em) {
        height: 3.7rem;
        padding: 2rem 1.25rem;
        font-size: 1.5rem;
      }

      @media screen and (min-width: 106.25em) {
        height: 3.7rem;
        padding: 2.25rem 1.5rem;
        font-size: 1.5rem;
      }

      @media screen and (min-width: 112.5em) {
        height: 3.8rem;
        padding: 2.5rem 1.75rem;
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 125em) {
        height: 4rem;
        padding: 3rem 2rem;
        font-size: 2rem;
      }

      &:disabled {
        opacity: 0.75;
        cursor: default;
      }
    }
  }
}
