@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.features {
  display: flex;
  justify-content: center;

  &__container {
    width: 90rem;

    display: flex;
    gap: 3rem;
  }

  &__wrapper {
    flex: 1;
  }

  &__box {
    flex: 1;
  }
}
