@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.profile-details {
  padding: 0 3rem 3rem;

  @media screen and (max-width: 76.25em) {
    padding: 0 2.5rem 2.5rem;
  }

  @include bp.lg {
    padding: 0 3rem 3rem;
  }

  @media screen and (max-width: 34.375em) {
    padding: 0 2rem 3rem;
  }

  @media screen and (max-width: 31.5em) {
    padding: 0 2rem 2rem;
  }

  @media screen and (max-width: 31.25em) {
    padding-left: 0;
    padding-right: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    &--name {
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: 1.8rem;
      color: inherit;
      line-height: 1.2;

      @media screen and (max-width: 56.25em) {
        font-size: 1.9rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 2rem;
      }

      @media screen and (max-width: 34.375em) {
        font-size: 2.1rem;
      }

      @include bp.sm {
        font-size: 2.2rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 2.05rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.95rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.9rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 2rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.5rem;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    @media screen and (max-width: 18.75em) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }

    @media screen and (min-width: 125em) {
      gap: 1rem;
    }

    &--username,
    &--email {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      color: vars.$clr-gray-light-1;

      @media screen and (min-width: 125em) {
        gap: 0.5rem;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
        stroke-width: 2px;
        color: currentColor;

        @media screen and (max-width: 56.25em) {
          width: 1.65rem;
          height: 1.65rem;
        }

        @media screen and (max-width: 51.25em) {
          width: 1.75rem;
          height: 1.75rem;
        }

        @media screen and (max-width: 34.375em) {
          width: 1.85rem;
          height: 1.85rem;
        }

        @include bp.sm {
          width: 1.95rem;
          height: 1.95rem;
        }
        @media screen and (max-width: 22.5em) {
          width: 1.8rem;
          height: 1.8rem;
        }

        @media screen and (max-width: 18.75em) {
          width: 1.7rem;
          height: 1.7rem;
        }

        @media screen and (min-width: 106.25em) {
          width: 1.65rem;
          height: 1.65rem;
        }

        @media screen and (min-width: 112.5em) {
          width: 1.85rem;
          height: 1.85rem;
        }

        @media screen and (min-width: 125em) {
          width: 2.25rem;
          height: 2.25rem;
        }
      }

      span {
        font-size: 1.4rem;
        color: currentColor;

        @media screen and (max-width: 56.25em) {
          font-size: 1.5rem;
        }

        @media screen and (max-width: 51.25em) {
          font-size: var(--default-font-size);
        }

        @media screen and (max-width: 34.375em) {
          font-size: 1.7rem;
        }

        @include bp.sm {
          font-size: 1.8rem;
        }

        @media screen and (max-width: 22.5em) {
          font-size: 1.65rem;
        }

        @media screen and (max-width: 18.75em) {
          font-size: 1.55rem;
        }

        @media screen and (min-width: 106.25em) {
          font-size: 1.5rem;
        }

        @media screen and (min-width: 112.5em) {
          font-size: var(--default-font-size);
        }

        @media screen and (min-width: 125em) {
          font-size: 2rem;
        }
      }
    }

    &--dot {
      font-size: 100%;
      color: vars.$clr-gray-light-3;

      @media screen and (max-width: 18.75em) {
        display: none;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.65rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.8rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.25rem;
      }
    }
  }

  &__box {
    margin-top: 1rem;

    &--bio {
      font-size: 1.45rem;
      color: inherit;

      @media screen and (max-width: 56.25em) {
        font-size: 1.55rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.65rem;
      }

      @media screen and (max-width: 34.375em) {
        font-size: 1.75rem;
      }

      @include bp.sm {
        font-size: 1.85rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.7rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.55rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.65rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.05rem;
      }
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;

    margin-top: 1rem;

    &--box {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      color: vars.$clr-gray-light-1;

      @media screen and (min-width: 125em) {
        gap: 0.5rem;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
        color: currentColor;
        stroke-width: 2px;

        @media screen and (max-width: 56.25em) {
          width: 1.65rem;
          height: 1.65rem;
        }

        @media screen and (max-width: 51.25em) {
          width: 1.75rem;
          height: 1.75rem;
        }

        @media screen and (max-width: 34.375em) {
          width: 1.85rem;
          height: 1.85rem;
        }

        @include bp.sm {
          width: 1.95rem;
          height: 1.95rem;
        }

        @media screen and (max-width: 22.5em) {
          width: 1.8rem;
          height: 1.8rem;
        }

        @media screen and (max-width: 18.75em) {
          width: 1.7rem;
          height: 1.7rem;
        }

        @media screen and (min-width: 106.25em) {
          width: 1.65rem;
          height: 1.65rem;
        }

        @media screen and (min-width: 112.5em) {
          width: 1.85rem;
          height: 1.85rem;
        }

        @media screen and (min-width: 125em) {
          width: 2.25rem;
          height: 2.25rem;
        }
      }

      span {
        text-transform: capitalize;
        font-size: 1.4rem;
        color: currentColor;

        @media screen and (max-width: 56.25em) {
          font-size: 1.5rem;
        }

        @media screen and (max-width: 51.25em) {
          font-size: var(--default-font-size);
        }

        @media screen and (max-width: 34.375em) {
          font-size: 1.7rem;
        }

        @include bp.sm {
          font-size: 1.8rem;
        }

        @media screen and (max-width: 22.5em) {
          font-size: 1.65rem;
        }

        @media screen and (max-width: 18.75em) {
          font-size: 1.55rem;
        }

        @media screen and (min-width: 106.25em) {
          font-size: 1.5rem;
        }

        @media screen and (min-width: 112.5em) {
          font-size: var(--default-font-size);
        }

        @media screen and (min-width: 125em) {
          font-size: 2rem;
        }
      }
    }
  }
}
