@import '../../styles/variables.scss';

.emptyState {
  width: 100%;
  min-height: 85vh;
  display: flex;
  justify-content: center;

  &__container {
    width: 144rem;
    height: 100%;
    padding: 10rem 0;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__img {
    display: inline-block;
    width: 30rem;
    height: 25rem;
    object-fit: contain;

    .show {
      display: block;
      visibility: visible;
      opacity: 1;
      z-index: 1000;
    }

    .hide {
      display: none;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
    }
  }

  &__btn-reset,
  &__btn-reload {
    border: 0;
    outline: 0;
    text-align: center;
    font-weight: 400;
    font-size: 1.3rem;
    background-color: $clr-pink-dark-1;
    color: $clr-white;
    cursor: pointer;

    .show {
      display: inline-block;
      visibility: visible;
      opacity: 1;
      z-index: 1000;
    }

    .hide {
      display: none;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
    }
  }

  &__btn-reset {
    .show {
    }

    .hide {
    }
  }

  &__btn-reload {
    .show {
    }

    .hide {
    }
  }
}
