@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.liked-posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__container,
  &__wrapper {
    padding: 3rem;
    background-color: vars.$clr-secondary-blue;
    border-radius: 0.5rem;

    @media screen and (max-width: 76.25em) {
      padding: 2.5rem;
    }

    @include bp.lg {
      padding: 3rem;
    }

    @include bp.sm {
      padding: 0;
      background-color: transparent;
      border-radius: 0;
    }
  }

  &__container {
    @include bp.sm {
      padding-bottom: 3rem;
      border-bottom: 1px solid vars.$clr-tertiary-blue;
    }
  }

  &__wrapper {
    @include bp.sm {
      padding-top: 2rem;
    }
  }
}
