@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.search-form {
  width: 100%;

  &__container {
    width: 100%;
    height: 4rem;
    background-color: vars.$clr-secondary-blue;
    color: vars.$clr-white;
    border-radius: 10rem;
    position: relative;

    @media screen and (max-width: 56.25em) {
      height: 4.1rem;
    }

    @media screen and (max-width: 51.25em) {
      height: 4.2rem;
    }

    @include bp.md {
      height: 4.5rem;
      background-color: vars.$clr-primary-blue;
    }

    @media screen and (min-width: 106.25em) {
      height: 4.2rem;
    }

    @media screen and (min-width: 112.5em) {
      height: 4.5rem;
    }

    @media screen and (min-width: 125em) {
      height: 7rem;
    }

    &--input {
      display: inline-block;
      border: 0;
      outline: 0;
      font-family: inherit;
      font-size: 1.4rem;
      width: 100%;
      height: 100%;
      padding: 1.6rem;
      background-color: transparent;
      color: currentColor;
      position: inherit;
      z-index: 20;

      @media screen and (max-width: 56.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.55rem;
      }

      @media screen and (max-width: 17.5em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.8rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.15rem;
      }

      &::placeholder {
        font-size: 1.2rem;
        color: vars.$clr-white;

        @media screen and (max-width: 56.25em) {
          font-size: 1.3rem;
        }

        @media screen and (max-width: 51.25em) {
          font-size: 1.4rem;
        }

        @media screen and (max-width: 18.75em) {
          font-size: 1.35rem;
        }

        @media screen and (max-width: 17.5em) {
          font-size: 1.3rem;
        }

        @media screen and (min-width: 106.25em) {
          font-size: 1.4rem;
        }

        @media screen and (min-width: 112.5em) {
          font-size: var(--default-font-size);
        }

        @media screen and (min-width: 125em) {
          font-size: 1.85rem;
        }
      }
    }

    svg {
      width: 2rem;
      height: 2rem;
      stroke-width: 2px;
      z-index: 10;

      position: absolute;
      top: 1.1rem;
      right: 2rem;

      @media screen and (max-width: 56.25em) {
        width: 2.1rem;
        height: 2.1rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 2.2rem;
        height: 2.2rem;
        top: 1.18rem;
      }

      @include bp.md {
        top: 1.2rem;
      }

      @media screen and (max-width: 17.5em) {
        width: 2.15rem;
        height: 2.15rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 2.2rem;
        height: 2.2rem;
        top: 1.15rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 2.5rem;
        height: 2.5rem;
        top: 1.05rem;
      }

      @media screen and (min-width: 125em) {
        width: 3.25rem;
        height: 3.25rem;
        top: 2.05rem;
      }
    }
  }
}
