@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.search-bar-form {
  width: 100%;
  height: 100%;
  background-color: rgba(vars.$clr-secondary-blue, 0.25);
  backdrop-filter: blur(1px);
  position: relative;

  &.show {
    justify-content: center;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    transition: all 300ms ease-in-out;
  }

  &.hide {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all 300ms ease-in-out;
  }

  &__input {
    appearance: none;
    width: 100%;
    height: 100%;
    display: inline-block;
    border: 0;
    outline: 0;
    font-family: inherit;
    font-size: 1.8rem;
    padding: 1.5rem;
    padding-left: 4rem;
    background-color: transparent;
    color: vars.$clr-white;
    position: inherit;
    z-index: 20;

    &:focus,
    &:focus-within,
    &:focus-visible {
      outline: 0;
    }

    &:disabled {
      cursor: default;
    }

    &::placeholder {
      text-transform: capitalize;
      font-weight: 600;
      font-size: var(--default-font-size);
      color: inherit;
    }
  }

  &__search-icon,
  &__voice-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: inline-flex;

    svg {
      width: 2.5rem;
      height: 2.5rem;
      color: currentColor;
      stroke-width: 2px;
    }
  }

  &__search-icon {
    left: 1rem;
    z-index: 10;
  }

  &__voice-btn {
    right: 1rem;

    border: 0;
    outline: 0;
    background-color: transparent;
    color: inherit;
    z-index: 1000;
    cursor: pointer;

    &:active,
    &.active {
      svg {
        color: vars.$clr-pink-light;
      }
    }

    &:disabled {
      opacity: 0.75;
      pointer-events: none;
      user-select: none;
    }
  }
}
