@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.relatedPost {
  width: 25rem;
  background-color: vars.$clr-secondary-blue;
  border-radius: 0.5rem;
  overflow: hidden;

  @media screen and (max-width: 81.25em) {
    width: 23rem;
  }

  @media screen and (max-width: 76.25em) {
    width: 21rem;
  }

  @media screen and (max-width: 51.25em) {
    width: 18rem;
  }

  @include bp.md {
    width: 17rem;
  }

  @media screen and (min-width: 112.5em) {
    width: 26rem;
  }

  @media screen and (min-width: 125em) {
    width: 30rem;
  }

  &__container {
    position: relative;

    &--overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 15rem;
      background-color: vars.$overlay;

      @media screen and (max-width: 76.25em) {
        height: 13rem;
      }

      @include bp.md {
        height: 12rem;
      }

      @media screen and (min-width: 112.5em) {
        height: 16rem;
      }

      @media screen and (min-width: 125em) {
        height: 18rem;
      }
    }

    &--img {
      width: 25rem;
      height: 15rem;
      display: block;
      object-fit: cover;
      transition: all 300ms ease-in-out;

      @media screen and (max-width: 81.25em) {
        width: 23rem;
      }

      @media screen and (max-width: 76.25em) {
        width: 21rem;
        height: 13rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 18rem;
      }

      @include bp.md {
        width: 17rem;
        height: 12rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 26rem;
        height: 16rem;
      }

      @media screen and (min-width: 125em) {
        width: 30rem;
        height: 18rem;
      }

      &:hover {
        filter: blur(1px) grayscale(1);
      }
    }

    &--footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      min-height: 12rem;
      padding: 1.5rem;

      @media screen and (max-width: 76.25em) {
        padding: 1.25rem;
      }

      @media screen and (max-width: 51.25em) {
        min-height: 13rem;
      }

      @include bp.md {
        min-height: 12rem;
      }

      @media screen and (min-width: 112.5em) {
        min-height: 13rem;
      }

      @media screen and (min-width: 125em) {
        min-height: 15rem;
      }

      a {
        &:link,
        &:visited {
          text-rendering: optimizeLegibility;
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 1.12;
          transition: all 300ms ease-in-out;

          @media screen and (max-width: 56.25em) {
            font-size: var(--default-font-size);
          }

          // @media screen and (max-width: 51.25em) {
          //   font-size: 1.7rem;
          // }

          @include bp.md {
            font-size: 1.5rem;
          }

          @media screen and (max-width: 26.875em) {
            font-size: 1.65rem;
          }

          @media screen and (max-width: 18.75em) {
            font-size: 1.5rem;
          }

          @media screen and (min-width: 106.25em) {
            font-size: var(--default-font-size);
          }

          @media screen and (min-width: 112.5em) {
            font-size: 1.7rem;
          }

          @media screen and (min-width: 125em) {
            font-size: 1.85rem;
          }
        }

        &:hover {
          color: vars.$clr-pink-light;
        }
      }

      &-category {
        display: flex;
        flex-direction: column;
        line-height: 1.3;

        span,
        time {
          text-rendering: optimizeLegibility;
        }

        span {
          text-transform: capitalize;
          font-weight: 500;
          font-size: 1.4rem;
          color: vars.$clr-gray-light-3;

          @media screen and (min-width: 106.25em) {
            font-size: 1.5rem;
          }

          @media screen and (min-width: 112.5em) {
            font-size: var(--default-font-size);
          }

          @media screen and (min-width: 125em) {
            font-size: 1.75rem;
          }
        }

        time {
          font-size: 1.3rem;
          color: vars.$clr-gray-light-1;

          @media screen and (min-width: 106.25em) {
            font-size: 1.4rem;
          }

          @media screen and (min-width: 112.5em) {
            font-size: 1.5rem;
          }

          @media screen and (min-width: 125em) {
            font-size: 1.65rem;
          }
        }
      }
    }
  }
}
