@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.related-tags {
  background-color: vars.$clr-secondary-blue;
  padding: 3rem;
  border-radius: 3px;

  @media screen and (max-width: 81.25em) {
    padding: 2rem;
  }

  @include bp.sm {
    padding: 3rem 0;
    background-color: transparent;
    border-top: 1px solid vars.$clr-secondary-blue;
    border-radius: 0;
  }

  &__heading {
    font-weight: 600;
    font-size: 1.8rem;
    color: inherit;
    line-height: 1.3;
    margin-bottom: 2rem;

    @media screen and (max-width: 56.25em) {
      font-size: 1.9rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: 2rem;
    }

    @media screen and (max-width: 26.875em) {
      font-size: 1.8rem;
    }

    @media screen and (max-width: 18.75em) {
      font-size: 1.5rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 1.9rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: 2rem;
    }

    @media screen and (min-width: 125em) {
      font-size: 2.35rem;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
  }
}
