@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.comment-card {
  display: flex;
  flex-direction: column;

  padding: 2.5rem 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid vars.$clr-tertiary-blue;

    @include bp.sm {
      border-color: vars.$clr-secondary-blue;
    }
  }

  button:focus-visible {
    outline: 2px solid vars.$clr-gray-light-1;
    outline-offset: 2px;
  }

  [aria-expanded='true'] {
    font-weight: 600;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 3rem;

    @media screen and (max-width: 81.25em) {
      gap: 2rem;
    }

    @media screen and (max-width: 37.5em) {
      gap: 1.5rem;
    }

    @media screen and (max-width: 26.875em) {
      gap: 0.8rem;
    }
  }

  &__user {
    &--img {
      width: 8rem;
      height: 8rem;
      display: inline-block;
      object-fit: cover;
      border-radius: 50%;

      @media screen and (max-width: 56.25em) {
        width: 8.5rem;
        height: 8.5rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 9rem;
        height: 9rem;
      }

      @include bp.md {
        width: 8.25rem;
        height: 8.25rem;
      }

      @media screen and (max-width: 31.25em) {
        width: 8rem;
        height: 8rem;
      }

      @include bp.sm {
        width: 7rem;
        height: 7rem;
      }

      @media screen and (max-width: 26.875em) {
        width: 3.5rem;
        height: 3.5rem;
      }

      @media screen and (max-width: 21.5em) {
        width: 3.25rem;
        height: 3.25rem;
      }

      @media screen and (max-width: 20em) {
        width: 3rem;
        height: 3rem;
      }

      @media screen and (max-width: 18.75em) {
        width: 2.75rem;
        height: 2.75rem;
      }

      @media screen and (max-width: 17.5em) {
        width: 2.5rem;
        height: 2.5rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 8.5rem;
        height: 8.5rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 9rem;
        height: 9rem;
      }

      @media screen and (min-width: 125em) {
        width: 13rem;
        height: 13rem;
      }
    }
  }

  &__details {
    width: 100%;

    &--info {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    &--username,
    &--desc {
      font-size: 1.45rem;

      @media screen and (max-width: 56.25em) {
        font-size: 1.55rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.65rem;
      }

      @media screen and (max-width: 34.375em) {
        font-size: 1.75rem;
      }

      @include bp.sm {
        font-size: 1.85rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.7rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.55rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.65rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.05rem;
      }
    }

    &--username {
      font-weight: 700;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      color: currentColor;
      color: vars.$clr-white;
    }

    &--desc {
      line-height: 1.4;
      word-wrap: break-word;
      color: vars.$clr-gray-light-1;
      hyphens: auto;
    }

    &--btn {
      position: relative;
      border: 0;
      outline: 0;
      font-family: inherit;
      font-weight: 500;
      font-size: 1.3rem;
      background-color: transparent;
      color: vars.$clr-gray-light-3;
      margin-left: 0.5rem;
      cursor: pointer;

      @media screen and (max-width: 56.25em) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 34.375em) {
        font-size: var(--default-font-size);
      }

      @include bp.sm {
        font-size: 1.7rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.55rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.45rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.9rem;
      }

      &.show {
        display: inline-block;
        visibility: visible;
        opacity: 1;
        z-index: 1000;
        transition: all 300ms ease-out;
      }

      &.hide {
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transition: all 300ms ease-in;
      }

      &:disabled {
        opacity: 0.75;
        cursor: default;
      }
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: vars.$clr-gray-light-3;
    margin-bottom: 1rem;

    @media screen and (max-width: 26.875em) {
      margin-bottom: 0;
    }

    &--reply {
      font-weight: 700;
      font-size: 1.3rem;
      color: inherit;

      @media screen and (max-width: 56.25em) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 34.375em) {
        font-size: var(--default-font-size);
      }

      @include bp.sm {
        font-size: 1.7rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.55rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.45rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.9rem;
      }
    }

    &--reply {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      border: 0;
      outline: 0;
      text-transform: initial;
      background-color: transparent;
      color: currentColor;
      cursor: pointer;
      position: relative;

      &.show {
        display: flex;
        visibility: visible;
        opacity: 1;
        z-index: 1000;
      }

      &.hide {
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
      }

      svg {
        width: 1.45rem;
        height: 1.45rem;
        color: currentColor;
        stroke: currentColor;

        @media screen and (max-width: 56.25em) {
          width: 1.55rem;
          height: 1.55rem;
        }

        @media screen and (max-width: 51.25em) {
          width: 1.65rem;
          height: 1.65rem;
        }

        @media screen and (max-width: 34.375em) {
          width: 1.7rem;
          height: 1.7rem;
        }

        @include bp.sm {
          width: 1.75rem;
          height: 1.75rem;
        }

        @media screen and (max-width: 22.5em) {
          width: 1.6rem;
          height: 1.6rem;
        }

        @media screen and (max-width: 18.75em) {
          width: 1.5rem;
          height: 1.5rem;
        }

        @media screen and (min-width: 106.25em) {
          width: 1.55rem;
          height: 1.55rem;
        }

        @media screen and (min-width: 112.5em) {
          width: 1.75rem;
          height: 1.75rem;
        }

        @media screen and (min-width: 125em) {
          width: 2.15rem;
          height: 2.15rem;
        }
      }

      span {
        font-weight: inherit;
        font-size: inherit;
        color: inherit;
      }
    }
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 1rem;

    &--time {
      font-weight: 700;
      color: inherit;
    }

    &--status {
      text-transform: capitalize;
      font-weight: 400;
      font-style: italic;
      color: vars.$clr-gray-light-1;
    }

    &--time,
    &--status {
      text-rendering: optimizeLegibility;
      font-size: 1.3rem;

      @media screen and (max-width: 56.25em) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 34.375em) {
        font-size: var(--default-font-size);
      }

      @include bp.sm {
        font-size: 1.7rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.55rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.45rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.9rem;
      }
    }
  }

  &__actions {
    width: 100%;
    margin-top: 1rem;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &--btn {
      display: flex;
      align-items: center;
      justify-content: center;

      border: 0;
      outline: 0;
      background-color: transparent;
      color: vars.$clr-gray-light-3;
      cursor: pointer;
      position: relative;

      &.show {
        display: flex;
        visibility: visible;
        opacity: 1;
        z-index: 1000;
      }

      &.hide {
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
      }

      svg {
        width: 2rem;
        height: 2rem;
        fill: currentColor;

        @media screen and (max-width: 56.25em) {
          width: 2.1rem;
          height: 2.1rem;
        }

        @media screen and (max-width: 51.25em) {
          width: 2.2rem;
          height: 2.2rem;
        }

        @include bp.sm {
          width: 2.1rem;
          height: 2.1rem;
        }

        @media screen and (max-width: 22.5em) {
          width: 1.95rem;
          height: 1.95rem;
        }

        @media screen and (max-width: 18.75em) {
          width: 1.85rem;
          height: 1.85rem;
        }

        @media screen and (min-width: 106.25em) {
          width: 2.1rem;
          height: 2.1rem;
        }

        @media screen and (min-width: 112.5em) {
          width: 2.25rem;
          height: 2.25rem;
        }

        @media screen and (min-width: 125em) {
          width: 3.25rem;
          height: 3.25rem;
        }
      }
    }
  }
}
