@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.comment-card {
  display: flex;
  flex-direction: column;

  padding: 2.5rem 0;

  &:not(:last-child) {
    border-bottom: 1px solid vars.$clr-tertiary-blue;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 3rem;

    @media screen and (max-width: 81.25em) {
      gap: 2rem;
    }

    @media screen and (max-width: 26.875em) {
      gap: 0;
    }
  }

  &__user {
    &--img {
      width: 8rem;
      height: 8rem;
      display: inline-block;
      object-fit: cover;
      border-radius: 50%;

      @media screen and (max-width: 56.25em) {
        width: 8.5rem;
        height: 8.5rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 9rem;
        height: 9rem;
      }

      @include bp.md {
        width: 8.25rem;
        height: 8.25rem;
      }

      @include bp.sm {
        width: 8rem;
        height: 8rem;
      }

      @media screen and (max-width: 26.875em) {
        display: none;
      }

      @media screen and (min-width: 106.25em) {
        width: 8.5rem;
        height: 8.5rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 9rem;
        height: 9rem;
      }

      @media screen and (min-width: 125em) {
        width: 10rem;
        height: 10rem;
      }
    }
  }

  &__details {
    &--username,
    &--desc {
      font-size: 1.45rem;

      @media screen and (max-width: 56.25em) {
        font-size: 1.55rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.65rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.45rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.55rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.65rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.85rem;
      }
    }

    &--username {
      font-weight: 700;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      color: currentColor;
      color: vars.$clr-white;
    }

    &--desc {
      line-height: 1.4;
      color: vars.$clr-gray-light-1;
      word-break: break-all;
      hyphens: auto;
    }

    &--btn {
      display: inline-block;
      border: 0;
      outline: 0;
      font-family: inherit;
      font-weight: 500;
      font-size: 1.3rem;
      background-color: transparent;
      color: vars.$clr-gray-light-3;
      margin-left: 0.5rem;
      cursor: pointer;

      @media screen and (max-width: 56.25em) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.3rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.7rem;
      }

      &:disabled {
        opacity: 0.75;
        cursor: default;
      }
    }
  }

  &__dateBox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: vars.$clr-gray-light-3;
    margin-bottom: 1rem;

    &--time,
    &--reply {
      font-weight: 700;
      font-size: 1.3rem;
      color: inherit;

      @media screen and (max-width: 56.25em) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.3rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.7rem;
      }
    }

    &--time {
      text-rendering: optimizeLegibility;
    }

    &--reply {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      border: 0;
      outline: 0;
      font-family: inherit;
      text-transform: capitalize;
      background-color: transparent;
      color: currentColor;
      cursor: pointer;

      svg {
        width: 1.45rem;
        height: 1.45rem;
        color: currentColor;
        stroke-width: 2px;

        @media screen and (max-width: 56.25em) {
          width: 1.55rem;
          height: 1.55rem;
        }

        @media screen and (max-width: 51.25em) {
          width: 1.65rem;
          height: 1.65rem;
        }

        @media screen and (max-width: 23.75em) {
          width: 1.45rem;
          height: 1.45rem;
        }

        @media screen and (max-width: 20em) {
          width: 1.35rem;
          height: 1.35rem;
        }

        @media screen and (max-width: 17.5em) {
          width: 1.3rem;
          height: 1.3rem;
        }

        @media screen and (min-width: 106.25em) {
          width: 1.55rem;
          height: 1.55rem;
        }

        @media screen and (min-width: 112.5em) {
          width: 1.75rem;
          height: 1.75rem;
        }

        @media screen and (min-width: 125em) {
          width: 1.95rem;
          height: 1.95rem;
        }
      }

      span {
        font-weight: inherit;
        font-size: inherit;
        color: inherit;
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.8rem;

    padding-top: 1rem;

    &--edit,
    &--delete {
      display: flex;
      align-items: center;
      justify-content: center;

      border: 0;
      outline: 0;
      background-color: transparent;
      cursor: pointer;

      &:disabled {
        opacity: 0.75;
        cursor: default;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
        stroke-width: 2px;

        @media screen and (max-width: 56.25em) {
          width: 1.75rem;
          height: 1.75rem;
        }

        @media screen and (max-width: 51.25em) {
          width: 1.9rem;
          height: 1.9rem;
        }

        @media screen and (max-width: 18.75em) {
          width: 1.5rem;
          height: 1.5rem;
        }

        @media screen and (min-width: 106.25em) {
          width: 1.75rem;
          height: 1.75rem;
        }

        @media screen and (min-width: 112.5em) {
          width: 1.9rem;
          height: 1.9rem;
        }

        @media screen and (min-width: 112.5em) {
          width: 2.15rem;
          height: 2.15rem;
        }
      }
    }

    &--edit {
      color: vars.$clr-success;
    }

    &--delete {
      color: vars.$clr-error;
    }
  }
}
