@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.tooltip {
  position: relative;

  &__bubble {
    position: absolute;
    text-align: center;
    font-size: 1.3rem;
    background-color: vars.$clr-tertiary-blue;
    color: vars.$clr-white;
    padding: 0.6rem 1rem;
    border-radius: 0.6rem;
    white-space: nowrap;
    box-shadow: vars.$box;
    transition: display 0.25s ease, opacity 0.25s ease, transform 0.25s ease,
      visibility 0.25s ease, z-index 0.25s ease;
    backface-visibility: hidden;

    &.top {
      top: -3.6rem;
      left: 0;
      transform: translateY(-0.8rem);

      &::after {
        content: '';
        position: absolute;
        left: 2rem;
        left: 50%;
        bottom: -1.3rem;
        border-width: 0.6rem;
        border-style: solid;
        border-color: vars.$clr-tertiary-blue transparent transparent
          transparent;
      }
    }

    &.bottom {
      top: 100%;
      left: 0;
      margin-top: 0.8rem;
      transform: translateY(0.8rem);

      &::after {
        content: '';
        position: absolute;
        top: -1.3rem;
        left: 2rem;
        left: 50%;
        border-width: 0.6rem;
        border-style: solid;
        border-color: transparent transparent vars.$clr-tertiary-blue
          transparent;
      }
    }

    &.show {
      display: block;
      visibility: visible;
      opacity: 1;
      z-index: 1000;
      transform: translateY(0);
    }

    &.hide {
      display: none;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
    }
  }
}
