@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.post-desc {
  &__box {
    background-color: vars.$clr-secondary-blue;
    padding: 3rem;
    border-radius: 3px;
    margin-top: 1rem;

    @media screen and (max-width: 81.25em) {
      padding: 2rem;
    }

    @media screen and (max-width: 37.5em) {
      padding: 2rem 1.5rem;
    }

    @media screen and (max-width: 31.25em) {
      padding: 0;
      padding-bottom: 3rem;
      background-color: transparent;
      border-radius: 0;
    }

    @media screen and (min-width: 112.5em) {
      margin-top: 1.5rem;
    }

    @media screen and (min-width: 125em) {
      margin-top: 2rem;
    }

    &--heading {
      text-transform: initial;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: 2.15rem;
      color: inherit;
      line-height: 1.3;
      margin-bottom: 2rem;

      @media screen and (max-width: 56.25em) {
        font-size: 2.25rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 2.35rem;
      }

      @media screen and (max-width: 37.5em) {
        font-size: 2.3rem;
      }

      @media screen and (max-width: 34.375em) {
        font-size: 2.4rem;
      }

      @media screen and (max-width: 31.25em) {
        font-size: 2.5rem;
      }

      @include bp.sm {
        font-size: 2.6rem;
      }

      @media screen and (max-width: 25em) {
        font-size: 2.45rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 2.25rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 2.1rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 2.25rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 2.35rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.7rem;
      }

      .react-loading-skeleton {
        --base-color: #021124 !important;

        @media screen and (max-width: 31.25em) {
          --base-color: #152233 !important;
        }
      }
    }

    &--desc {
      & > * {
        font-size: 1.65rem;
        color: vars.$clr-gray-light-1;

        @media screen and (max-width: 56.25em) {
          font-size: 1.75rem;
        }

        @media screen and (max-width: 51.25em) {
          font-size: 1.85rem;
        }

        @media screen and (max-width: 34.375em) {
          font-size: 1.95rem;
        }

        @include bp.sm {
          font-size: 2.05rem;
        }

        @media screen and (max-width: 22.5em) {
          font-size: 1.85rem;
        }

        @media screen and (max-width: 18.75em) {
          font-size: 1.75rem;
        }

        @media screen and (min-width: 106.25em) {
          font-size: 1.75rem;
        }

        @media screen and (min-width: 112.5em) {
          font-size: 1.85rem;
        }

        @media screen and (min-width: 125em) {
          font-size: 2.3rem;
        }

        .react-loading-skeleton {
          --base-color: #021124 !important;

          @media screen and (max-width: 31.25em) {
            --base-color: #152233 !important;
          }
        }
      }
    }

    &--interactive {
      outline: 0;
      cursor: pointer;

      &:focus {
        outline: 0;
      }
    }
  }
}
