@use '../src/styles/responsive.scss' as bp;
@use '../src/styles/variables.scss' as vars;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&display=swap');

:root {
  --default-font-size: 1.6rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;

  @media screen and (max-width: 75em) {
    font-size: 56.25%;
  }

  @media screen and (max-width: 56.25em) {
    font-size: 50%;
  }

  @media screen and (min-width: 112.5em) {
    font-size: 75%;
  }
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: var(--default-font-size);
  background-color: vars.$clr-primary-blue;
  color: vars.$clr-white;
  line-height: 1.6;
  scroll-behavior: smooth;
  overflow-x: clip;
  cursor: default;
  transition: scroll-behavior 300ms ease-in-out;
}

a {
  &:link,
  &:visited {
    text-decoration: none;
    color: inherit;
    outline: 0;
  }
}

button {
  font-family: inherit;
}

img {
  background-color: rgba(vars.$clr-black, 0.2);
}

.quill {
  width: 100%;
  border-radius: 0.5rem !important;
}

.ql-toolbar {
  display: none;
}

.ql-toolbar,
.ql-container {
  border: 2px solid vars.$clr-secondary-blue !important;
}

.ql-toolbar.ql-snow {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.ql-snow .ql-picker {
  color: vars.$clr-white !important;
}

.ql-snow.ql-toolbar .ql-picker-label:hover {
  color: vars.$clr-white !important;
}

.ql-toolbar.ql-snow .ql-picker-options {
  border: 0 !important;
  box-shadow: none !important;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  background-color: vars.$clr-secondary-blue;
}

.ql-snow .ql-picker-options .ql-picker-item {
  color: vars.$clr-white;
}

.ql-editor {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.45rem;
  width: 100%;
  height: 12rem !important;
  padding: 1.6rem !important;
  background-color: transparent;
  color: vars.$clr-white;
  cursor: text;
  transition: all 300ms ease-in-out;

  @media screen and (max-width: 56.25em) {
    font-size: 1.55rem;
    height: 12.2rem !important;
  }

  @media screen and (max-width: 51.25em) {
    font-size: 1.65rem;
    height: 12.4rem !important;
  }

  @media screen and (max-width: 17.5em) {
    font-size: 1.55rem;
    height: 12.5rem !important;
  }

  @media screen and (min-width: 106.25em) {
    font-size: 1.65rem;
    height: 12.6rem !important;
  }

  @media screen and (min-width: 112.5em) {
    font-size: 1.85rem;
    height: 13.9rem !important;
  }

  @media screen and (min-width: 125em) {
    font-size: 2.2rem;
    height: 16.2rem !important;
  }

  &:focus {
    background-color: vars.$clr-secondary-blue;
  }
}

.ql-editor.ql-blank::before {
  font-style: normal !important;
  font-weight: normal;
  font-size: 1.25rem;
  color: vars.$clr-white !important;

  @media screen and (max-width: 56.25em) {
    font-size: 1.35rem;
  }

  @media screen and (max-width: 51.25em) {
    font-size: 1.45rem;
  }

  @media screen and (max-width: 17.5em) {
    font-size: 1.35rem;
  }

  @media screen and (min-width: 106.25em) {
    font-size: 1.45rem;
  }

  @media screen and (min-width: 112.5em) {
    font-size: 1.65rem;
  }

  @media screen and (min-width: 125em) {
    font-size: 1.9rem;
  }
}

.PhoneInput {
  width: 100%;

  .PhoneInputCountry {
    width: 6rem;
    background-color: vars.$clr-secondary-blue;
    border-radius: 0.5rem;

    justify-content: center;

    @media screen and (max-width: 56.25em) {
      width: 6.25rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 6.5rem;
    }

    @media screen and (max-width: 17.5em) {
      width: 6.25rem;
    }

    @media screen and (min-width: 125em) {
      width: 8rem;
    }
  }

  .PhoneInputInput {
    display: inline-block;
    outline: 0;
    font-family: inherit;
    font-size: 1.45rem;
    width: 100%;
    height: 5.6rem;
    padding: 1.6rem;
    background-color: transparent;
    color: vars.$clr-white;
    border: 2px solid vars.$clr-secondary-blue;
    border-radius: 0.5rem;
    transition: all 300ms ease-in-out;

    @media screen and (max-width: 56.25em) {
      font-size: 1.55rem;
      height: 5.7rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: 1.65rem;
      height: 5.8rem;
    }

    @media screen and (max-width: 17.5em) {
      font-size: 1.55rem;
      height: 5.7rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 1.65rem;
      height: 5.8rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: 1.85rem;
      height: 6rem;
    }

    @media screen and (min-width: 125em) {
      font-size: 2.2rem;
      height: 8rem;
    }

    &:focus {
      background-color: vars.$clr-secondary-blue;
    }

    &::placeholder {
      font-size: 1.25rem;
      color: vars.$clr-white;

      @media screen and (max-width: 56.25em) {
        font-size: 1.35rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.45rem;
      }

      @media screen and (max-width: 17.5em) {
        font-size: 1.35rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.45rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.65rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.9rem;
      }
    }
  }
}
