@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.progress-bar {
  width: 100%;
  height: 0.8rem;
  background-color: #e0e0e0;
  backface-visibility: hidden;
  border-radius: 1rem;
  overflow: hidden;

  @media screen and (max-width: 56.25em) {
    height: 0.9rem;
  }

  @media screen and (max-width: 51.25em) {
    height: 1rem;
  }

  @media screen and (max-width: 34.375em) {
    height: 1.1rem;
  }

  @include bp.sm {
    height: 1.2rem;
  }

  @media screen and (max-width: 22.5em) {
    height: 1rem;
  }

  @media screen and (max-width: 18.75em) {
    height: 0.9rem;
  }

  @media screen and (min-width: 106.25em) {
    height: 0.9rem;
  }

  @media screen and (min-width: 112.5em) {
    height: 1rem;
  }

  @media screen and (min-width: 125em) {
    height: 1.2rem;
  }

  &__fill {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 1.15rem;
    height: 100%;
    background-image: linear-gradient(90deg, #4facfe, #00f2fe);
    background-image: linear-gradient(
      90deg,
      vars.$clr-twitter-red,
      vars.$clr-pink-light,
      vars.$clr-pink-dark-1,
      vars.$clr-orange-dark,
      vars.$clr-orange-light
    );
    transition: all 0.3s ease;
  }
}
