@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.comment-user-image {
  &:not(:last-child) {
    margin-right: -1rem;

    @media screen and (max-width: 22.5em) {
      margin-right: -0.75rem;
    }

    @media screen and (max-width: 17.5em) {
      margin-right: -0.65rem;
    }
  }

  &__img {
    width: 5rem;
    height: 5rem;
    display: inline-block;
    object-fit: cover;
    border: 2.5px solid vars.$clr-primary-blue;
    border-radius: 50%;

    @media screen and (max-width: 22.5em) {
      width: 4.5rem;
      height: 4.5rem;
    }

    @media screen and (max-width: 18.75em) {
      width: 4.25rem;
      height: 4.25rem;
    }

    @media screen and (max-width: 17.5em) {
      width: 4rem;
      height: 4rem;
    }
  }
}
