@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.comment-user-image {
  &__img {
    width: 3.25rem;
    height: 3.25rem;
    display: inline-block;
    object-fit: cover;
    border: 2.5px solid vars.$clr-primary-blue;
    border-radius: 50%;

    @media screen and (max-width: 21.5em) {
      width: 3rem;
      height: 3rem;
    }

    @media screen and (max-width: 20em) {
      width: 2.75rem;
      height: 2.75rem;
    }

    @media screen and (max-width: 18.75em) {
      width: 2.5rem;
      height: 2.5rem;
    }

    @media screen and (max-width: 17.5em) {
      width: 2.25rem;
      height: 2.25rem;
    }
  }
}
