@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.comment-filter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  list-style: none;
  position: absolute;
  top: 2.25rem;
  right: 0;
  width: 20rem;
  max-width: 20rem;
  padding: 0.5rem;
  padding-bottom: 0;
  background-color: rgba(vars.$clr-secondary-blue, 0.5);
  background-color: transparent;
  backdrop-filter: blur(3px);
  border: 1px solid vars.$clr-tertiary-blue;
  border-radius: 1rem;

  @media screen and (max-width: 56.25em) {
    top: 2.575rem;
    width: 21rem;
    max-width: 21rem;
  }

  @media screen and (max-width: 51.25em) {
    width: 22rem;
    max-width: 22rem;
  }

  @media screen and (max-width: 37.5em) {
    top: 2.875rem;
  }

  @media screen and (max-width: 34.375em) {
    width: 23rem;
    max-width: 23rem;
  }

  @include bp.sm {
    top: 3rem;
    width: 24rem;
    max-width: 24rem;
  }

  @media screen and (max-width: 22.5em) {
    top: 2.925rem;
    width: 22.5rem;
    max-width: 22.5rem;
  }

  @media screen and (max-width: 18.75em) {
    top: 2.75rem;
    width: 21rem;
    max-width: 21rem;
  }

  @media screen and (min-width: 106.25em) {
    top: 2.625rem;
    width: 22rem;
    max-width: 22rem;
  }

  @media screen and (min-width: 112.5em) {
    top: 2.65rem;
    width: 23rem;
    max-width: 23rem;
  }

  @media screen and (min-width: 125em) {
    top: 3.1rem;
    width: 26rem;
    max-width: 26rem;
  }

  &.show {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    z-index: 3000;
    transition: all 0.3s ease-in;
  }

  &.hide {
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-out;
  }

  &::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 0.65rem solid transparent;
    border-right: 0.65rem solid transparent;
    border-bottom: 0.65rem solid vars.$clr-tertiary-blue;
    position: absolute;
    top: -0.65rem;
    left: 80%;
    transform: translateX(-80%);

    @media screen and (max-width: 57.5em) {
      top: -0.75rem;
    }

    @media screen and (max-width: 57em) {
      top: -0.7rem;
    }

    @media screen and (max-width: 56.25em) {
      top: -0.8rem;
      border-left-width: 0.75rem;
      border-right-width: 0.75rem;
      border-bottom-width: 0.75rem;
    }

    @include bp.sm {
      top: -1.125rem;
      border-left-width: 1rem;
      border-right-width: 1rem;
      border-bottom-width: 1rem;
    }

    @media screen and (max-width: 18.75em) {
      top: -1rem;
      border-left-width: 0.85rem;
      border-right-width: 0.85rem;
      border-bottom-width: 0.9rem;
    }

    @media screen and (min-width: 106.25em) {
      border-left-width: 0.7rem;
      border-right-width: 0.7rem;
      border-bottom-width: 0.675rem;
    }

    @media screen and (min-width: 112.5em) {
      border-left-width: 0.75rem;
      border-right-width: 0.75rem;
      border-bottom-width: 0.7rem;
    }

    @media screen and (min-width: 125em) {
      border-left-width: 0.85rem;
      border-right-width: 0.85rem;
      border-bottom-width: 0.725rem;
    }
  }
}
