@use '../../styles/animation.scss' as anim;
@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.replies {
  &:focus-within {
    border-left-color: vars.$clr-gray-light-1;
  }

  &__loader {
    font-size: 1.35rem;
    color: vars.$clr-gray-light-1;

    @media screen and (max-width: 56.25em) {
      font-size: 1.45rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: 1.55rem;
    }

    @media screen and (max-width: 34.375em) {
      font-size: 1.65rem;
    }

    @include bp.sm {
      font-size: 1.75rem;
    }

    @media screen and (max-width: 22.5em) {
      font-size: var(--default-font-size);
    }

    @media screen and (max-width: 18.75em) {
      font-size: 1.5rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 1.45rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: 1.55rem;
    }

    @media screen and (min-width: 125em) {
      font-size: 1.85rem;
    }
  }

  &__container {
    margin-top: 1.5rem;
    margin-left: 4rem;

    @media screen and (max-width: 26.875em) {
      margin-left: 2rem;
    }

    @media screen and (max-width: 20em) {
      margin-left: 1.25rem;
    }

    & > * {
      animation: fadeInReplies 0.3s ease-in;
    }
  }
}
