@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.replies {
  &__container {
    margin-top: 1.5rem;
    margin-left: 4rem;

    @media screen and (max-width: 26.875em) {
      margin-left: 2rem;
    }

    @media screen and (max-width: 20em) {
      margin-left: 1.25rem;
    }
  }
}
