@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.profile-data {
  margin-top: 3.5rem;

  &__form {
    display: flex;
    flex-direction: column;

    &--data {
      display: flex;
      justify-content: space-between;
      gap: 2rem;

      @media screen and (max-width: 31.25em) {
        flex-wrap: wrap;
        gap: 0rem;
      }

      .input {
        @media screen and (max-width: 31.25em) {
          width: 100%;
          margin-bottom: 2rem;
        }
      }

      input {
        background-color: vars.$clr-primary-blue;
        border-color: vars.$clr-primary-blue;

        @include bp.sm {
          border-color: vars.$clr-secondary-blue;
        }

        &:focus {
          background-color: vars.$clr-tertiary-blue;
          border-color: vars.$clr-tertiary-blue;

          @include bp.sm {
            background-color: vars.$clr-secondary-blue;
          }
        }
      }

      .phone-number {
        @media screen and (max-width: 31.25em) {
          margin-bottom: 2rem;
        }

        .PhoneInputCountry {
          background-color: vars.$clr-primary-blue;

          @include bp.sm {
            background-color: vars.$clr-secondary-blue;
          }
        }

        .PhoneInputInput {
          background-color: vars.$clr-primary-blue;
          border-color: vars.$clr-primary-blue;

          @include bp.sm {
            border-color: vars.$clr-secondary-blue;
          }

          &:focus {
            background-color: vars.$clr-tertiary-blue;
            border-color: vars.$clr-tertiary-blue;

            @include bp.sm {
              background-color: vars.$clr-secondary-blue;
            }
          }
        }
      }

      .date-input {
        @media screen and (max-width: 31.25em) {
          margin-bottom: 2rem;
        }

        .react-datepicker-wrapper {
          .react-datepicker__input-container {
            input {
              background-color: vars.$clr-primary-blue;
              border-color: vars.$clr-primary-blue;

              @include bp.sm {
                border-color: vars.$clr-secondary-blue;
              }

              &:focus {
                background-color: vars.$clr-tertiary-blue;
                border-color: vars.$clr-tertiary-blue;

                @include bp.sm {
                  background-color: vars.$clr-secondary-blue;
                }
              }
            }
          }
        }
      }
    }

    &--info {
      margin-bottom: 2rem;

      textarea {
        background-color: vars.$clr-primary-blue;

        &:focus {
          background-color: vars.$clr-tertiary-blue;
          border-color: vars.$clr-tertiary-blue;

          @include bp.sm {
            background-color: vars.$clr-secondary-blue;
          }
        }
      }

      .text-quill {
        .quill {
          .ql-toolbar,
          .ql-container {
            background-color: vars.$clr-primary-blue !important;
            border: 2px solid transparent !important;

            @include bp.sm {
              border-color: vars.$clr-secondary-blue !important;
            }
          }

          .ql-toolbar {
            border-bottom-color: vars.$clr-gray-dark-2 !important;

            @include bp.sm {
              border-bottom: 0 !important;
            }
          }

          .ql-editor {
            &:focus {
              background-color: vars.$clr-tertiary-blue;
              border-color: vars.$clr-tertiary-blue !important;

              @include bp.sm {
                background-color: vars.$clr-secondary-blue;
              }
            }
          }
        }
      }
    }
  }
}
