@import '../../styles/variables.scss';

.topPost {
  &__container {
    display: flex;
    align-items: flex-start;
    gap: 2rem;

    &--number {
      font-weight: 700;
      font-size: 3rem;
      font-variant: tabular-nums;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    &--title {
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 1.2;
    }

    &--category {
    }
  }
}
