@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.topPost {
  &__container {
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    &--number {
      font-weight: 700;
      font-size: 3rem;
      font-variant: tabular-nums;
      color: $clr-gray-light-3;
      line-height: 1;

      @media screen and (max-width: 56.25em) {
        font-size: 3.1rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 3.2rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 3rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 3.1rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 3.2rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 3.3rem;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    &--title {
      font-weight: 600;
      font-size: 1.4rem;
      color: $clr-gray-light-3;
      line-height: 1.2;
      transition: all 300ms ease-in-out;

      @media screen and (max-width: 56.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 125em) {
        font-size: 1.7rem;
      }

      &:hover {
        color: $clr-pink-light;
      }
    }

    &--category {
      display: flex;
      align-items: center;
      gap: 2px;
      margin-top: 3px;

      @media screen and (max-width: 68.75em) {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;

        line-height: 1.3;

        span {
          &:nth-child(2) {
            display: none;
          }
        }
      }

      @include md {
        flex-direction: row;
        align-items: center;
        gap: 3px;

        span {
          &:nth-child(2) {
            display: inline-block;
          }
        }
      }

      span,
      time {
        color: $clr-gray-light-1;
        font-weight: 500;
        font-size: 1.2rem;

        @media screen and (max-width: 56.25em) {
          font-size: 1.3rem;
        }

        @media screen and (max-width: 51.25em) {
          font-size: 1.4rem;
        }

        @media screen and (max-width: 18.75em) {
          font-size: 1.2rem;
        }

        @media screen and (min-width: 106.25em) {
          font-size: 1.3rem;
        }

        @media screen and (min-width: 112.5em) {
          font-size: 1.4rem;
        }

        @media screen and (min-width: 125em) {
          font-size: 1.5rem;
        }
      }

      span {
        text-transform: capitalize;
      }

      time {
        text-transform: uppercase;
      }
    }
  }
}
