@import '../../styles/variables.scss';

.topPost {
  &__container {
    display: flex;
    align-items: flex-start;
    gap: 2rem;

    &--number {
    }
  }

  &__wrapper {
    &--title {
    }

    &--category {
    }
  }
}
