@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.action-menu {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__btn {
    display: inline-flex;
    gap: 0.8rem;

    border: 0;
    outline: 0;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;

    svg {
      width: 1.75rem;
      height: 1.75rem;
      color: vars.$clr-gray-light-3;
      stroke-width: 2px;

      @media screen and (max-width: 56.25em) {
        width: 1.85rem;
        height: 1.85rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 2rem;
        height: 2rem;
      }

      @media screen and (max-width: 34.375em) {
        width: 2.1rem;
        height: 2.1rem;
      }

      @include bp.sm {
        width: 2.2rem;
        height: 2.2rem;
      }

      @media screen and (max-width: 22.5em) {
        width: 2.05rem;
        height: 2.05rem;
      }

      @media screen and (max-width: 18.75em) {
        width: 1.85rem;
        height: 1.85rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 1.85rem;
        height: 1.85rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 2rem;
        height: 2rem;
      }

      @media screen and (min-width: 125em) {
        width: 3rem;
        height: 3rem;
      }
    }

    &--label {
      text-transform: capitalize;
      font-weight: 700;
      font-size: 1.4rem;
      color: vars.$clr-gray-light-1;

      @media screen and (max-width: 56.25em) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 34.375em) {
        font-size: 1.7rem;
      }

      @include bp.sm {
        font-size: 1.8rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.65rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.55rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: var(--default-font-size);
      }

      @media screen and (min-width: 125em) {
        font-size: 1.9rem;
      }
    }

    &--loader {
      display: inline-block;
      font-weight: 400;
      font-size: 1.2rem;

      @media screen and (max-width: 56.25em) {
        font-size: 1.3rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 34.375em) {
        font-size: 1.5rem;
      }

      @include bp.sm {
        font-size: var(--default-font-size);
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.45rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.35rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.3rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 1.7rem;
      }

      &.success {
        color: vars.$clr-success;
      }

      &.error {
        color: vars.$clr-danger;
      }
    }
  }
}
