@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.tagItem {
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  font-size: 1.25rem;
  padding: 3px 1rem;
  color: vars.$clr-gray-light-1;
  border: 1px solid currentColor;
  border-radius: 0.5rem;

  @media screen and (max-width: 56.25em) {
    font-size: 1.35rem;
  }

  @media screen and (max-width: 51.25em) {
    font-size: 1.45rem;
  }

  @media screen and (max-width: 18.75em) {
    font-size: 1.25rem;
  }

  @media screen and (min-width: 106.25em) {
    font-size: 1.35rem;
  }

  @media screen and (min-width: 112.5em) {
    font-size: 1.45rem;
  }

  @media screen and (min-width: 125em) {
    font-size: 1.55rem;
  }
}
