@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.user-menu {
  position: absolute;
  top: 5rem;
  right: -100rem;

  min-width: 20rem;
  width: 20rem;
  padding: 2rem;
  background-color: vars.$clr-secondary-blue;
  color: inherit;
  border: 2px solid vars.$clr-tertiary-blue;
  border-radius: 0.5rem;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease-out;
  transition-duration: 700ms;

  @media screen and (max-width: 56.25em) {
    top: 6rem;
    min-width: 21rem;
    width: 21rem;
    padding: 2.1rem;
  }

  @media screen and (max-width: 51.25em) {
    top: 6.5rem;
    min-width: 22rem;
    width: 22rem;
    padding: 2.2rem;
  }

  @media screen and (min-width: 106.25em) {
    top: 6rem;
    min-width: 23rem;
    width: 23rem;
    padding: 2.4rem 2.2rem;
  }

  @media screen and (min-width: 112.5em) {
    top: 7rem;
    min-width: 25rem;
    width: 25rem;
    padding: 2.8rem 2.4rem;
  }

  @media screen and (min-width: 125em) {
    top: 8rem;
    min-width: 30rem;
    width: 30rem;
    padding: 3rem 2.5rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    list-style: none;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    &--item {
      padding: 0.8rem;
      color: currentColor;
      border-radius: 2px;

      &.profile-link,
      &.register-link {
        background-color: vars.$clr-tertiary-blue;
      }

      &.login-link {
        background-color: vars.$clr-pink-dark-1;
      }

      @media screen and (max-width: 56.25em) {
        padding: 0.9rem;
      }

      @media screen and (max-width: 51.25em) {
        padding: 1rem;
      }

      @media screen and (min-width: 106.25em) {
        padding: 1rem;
      }

      @media screen and (min-width: 112.5em) {
        padding: 1.2rem;
      }

      @media screen and (min-width: 125em) {
        padding: 1.4rem;
      }

      a {
        &:link,
        &:visited {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }

        span {
          text-transform: capitalize;
          text-rendering: optimizeLegibility;
          font-weight: 500;
          font-size: 1.5rem;
          color: inherit;

          @media screen and (max-width: 56.25em) {
            font-size: var(--default-font-size);
          }

          @media screen and (max-width: 51.25em) {
            font-size: 1.7rem;
          }

          @media screen and (min-width: 106.25em) {
            font-size: var(--default-font-size);
          }

          @media screen and (min-width: 112.5em) {
            font-size: 1.7rem;
          }

          @media screen and (min-width: 125em) {
            font-size: 2.2rem;
          }
        }

        &:disabled {
          opacity: 0.75;
          cursor: default;
        }
      }

      svg {
        width: 2rem;
        height: 2rem;
        color: currentColor;
        stroke-width: 2px;

        @media screen and (max-width: 56.25em) {
          width: 2.25rem;
          height: 2.25rem;
        }

        @media screen and (max-width: 51.25em) {
          width: 2.5rem;
          height: 2.5rem;
        }

        @media screen and (min-width: 106.25em) {
          width: 2.25rem;
          height: 2.25rem;
        }

        @media screen and (min-width: 112.5em) {
          width: 2.5rem;
          height: 2.5rem;
        }

        @media screen and (min-width: 125em) {
          width: 3.25rem;
          height: 3.25rem;
        }
      }
    }
  }

  &__wrapper {
    &.show {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      visibility: visible;
      opacity: 1;
      z-index: 1000;
    }

    &.hide {
      display: none;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
    }

    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 1rem;

    @media screen and (max-width: 56.25em) {
      font-size: 1.4rem;
    }

    @media screen and (max-width: 51.25em) {
      font-size: 1.5rem;
    }

    @media screen and (min-width: 106.25em) {
      font-size: 1.4rem;
    }

    @media screen and (min-width: 112.5em) {
      font-size: 1.5rem;
    }

    @media screen and (min-width: 125em) {
      font-size: 2rem;
    }

    .username {
      display: inline-block;
      text-transform: capitalize;
      text-overflow: ellipsis;
      text-rendering: optimizeLegibility;
      white-space: nowrap;
      font-weight: inherit;
      font-size: inherit;
      color: vars.$clr-gray-light-1;
      overflow: hidden;
      cursor: default;
    }

    .logout-btn {
      display: inline-block;
      border: 0;
      outline: 0;
      text-transform: initial;
      text-rendering: optimizeLegibility;
      font-family: inherit;
      font-weight: inherit;
      font-size: inherit;
      background-color: transparent;
      color: vars.$clr-pink-dark-1;
      cursor: pointer;

      &.trunc {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      &:disabled {
        opacity: 0.75;
        cursor: default;
      }
    }
  }
}
