@import '../../styles/variables.scss';

.userMenu {
  position: absolute;
  top: 7rem;
  min-width: 20rem;
  width: 20rem;
  padding: 2rem;
  background-color: $clr-secondary-blue;
  color: inherit;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  visibility: hidden;
  opacity: 0;
  z-index: -1;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__list {
    list-style: none;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    &--item {
      padding: 0.5rem 0.8rem;
      background-color: #273547;
      color: currentColor;
      border-radius: 2px;

      a {
        &:link,
        &:visited {
          display: block;
          text-transform: capitalize;
          text-rendering: optimizeLegibility;
          font-weight: 500;
          font-size: 1.5rem;
          color: inherit;
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 1rem;

    .username {
      display: inline-block;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;

      white-space: wrap;
      color: $clr-gray-light-1;
    }

    .logoutBtn {
      display: inline-block;
      border: 0;
      outline: 0;
      text-transform: capitalize;
      background-color: transparent;
      color: $clr-pink-dark-1;
      cursor: pointer;

      &:disabled {
        opacity: 0.75;
        cursor: default;
      }
    }
  }
}
