@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.banner {
  width: 100%;
  height: 17rem;
  background-image: url('/post-2.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  margin-bottom: 7rem;

  @media screen and (max-width: 56.25em) {
    height: 18rem;
    margin-bottom: 7.5rem;
  }

  @media screen and (max-width: 51.25em) {
    height: 19rem;
    margin-bottom: 8rem;
  }

  @media screen and (max-width: 34.375em) {
    margin-bottom: 9rem;
  }

  @include bp.sm {
    height: 15rem;
    margin-bottom: 7rem;
  }

  @media screen and (max-width: 26.875em) {
    height: 13rem;
  }

  @media screen and (max-width: 21.5em) {
    height: 11rem;
    margin-bottom: 6rem;
  }

  @media screen and (max-width: 17.5em) {
    height: 10rem;
    margin-bottom: 5rem;
  }

  @media screen and (min-width: 106.25em) {
    height: 18rem;
    margin-bottom: 7.5rem;
  }

  @media screen and (min-width: 112.5em) {
    height: 19rem;
    margin-bottom: 8rem;
  }

  @media screen and (min-width: 125em) {
    height: 20rem;
    margin-bottom: 9rem;
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 13rem;
    height: 13rem;
    background-color: vars.$clr-secondary-blue;
    border-radius: 50%;

    position: absolute;
    left: 3rem;
    bottom: -6.5rem;

    @media screen and (max-width: 76.25em) {
      left: 2.5rem;
    }

    @include bp.lg {
      left: 3rem;
    }

    @media screen and (max-width: 56.25em) {
      width: 14rem;
      height: 14rem;

      bottom: -7rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 15rem;
      height: 15rem;

      bottom: -7.5rem;
    }

    @include bp.sm {
      width: 10rem;
      height: 10rem;
      background-color: vars.$clr-primary-blue;

      bottom: -5rem;
      left: 1.25rem;
    }

    @media screen and (max-width: 21.5em) {
      width: 9rem;
      height: 9rem;

      bottom: -4.5rem;
      left: 1rem;
    }

    @media screen and (max-width: 17.5em) {
      width: 7rem;
      height: 7rem;

      bottom: -3.5rem;
    }

    @media screen and (min-width: 106.25em) {
      width: 14rem;
      height: 14rem;

      bottom: -7rem;
    }

    @media screen and (min-width: 112.5em) {
      width: 15rem;
      height: 15rem;

      bottom: -7.5rem;
    }

    @media screen and (min-width: 125em) {
      width: 16rem;
      height: 16rem;

      bottom: -8rem;
    }

    &--label {
      display: inline-block;
      width: 12rem;
      height: 12rem;
      cursor: pointer;

      @media screen and (max-width: 56.25em) {
        width: 13rem;
        height: 13rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 14rem;
        height: 14rem;
      }

      @include bp.sm {
        width: 9rem;
        height: 9rem;
      }

      @media screen and (max-width: 21.5em) {
        width: 8rem;
        height: 8rem;
      }

      @media screen and (max-width: 17.5em) {
        width: 6rem;
        height: 6rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 13rem;
        height: 13rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 14rem;
        height: 14rem;
      }

      @media screen and (min-width: 125em) {
        width: 15rem;
        height: 15rem;
      }
    }

    &--avatar {
      width: 100%;
      height: 100%;
      display: inline-block;
      object-fit: cover;
      border-radius: 50%;
    }

    &--input {
      display: none;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
    }
  }

  &__cover {
    width: 4rem;
    height: 4rem;
    background-color: vars.$clr-black;
    border-radius: 50%;

    position: absolute;
    top: 1.5rem;
    right: 3rem;

    @media screen and (max-width: 76.25em) {
      right: 2.5rem;
    }

    @include bp.lg {
      right: 3rem;
    }

    @media screen and (max-width: 56.25em) {
      width: 4.5rem;
      height: 4.5rem;

      top: 2rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 5rem;
      height: 5rem;

      top: 2.5rem;
    }

    @include bp.sm {
      width: 4rem;
      height: 4rem;

      top: 1.25rem;
      right: 1.25rem;
    }

    @media screen and (max-width: 21.5em) {
      width: 3.5rem;
      height: 3.5rem;

      top: 1rem;
      right: 1rem;
    }

    @media screen and (max-width: 17.5em) {
      width: 3rem;
      height: 3rem;
    }

    @media screen and (min-width: 106.25em) {
      width: 4.5rem;
      height: 4.5rem;

      top: 2rem;
    }

    @media screen and (min-width: 112.5em) {
      width: 5rem;
      height: 5rem;

      top: 2.5rem;
    }

    @media screen and (min-width: 125em) {
      width: 6rem;
      height: 6rem;

      top: 3rem;
    }

    &--label {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;
      color: inherit;
      position: relative;
      z-index: 1000;
      cursor: pointer;

      svg {
        width: 1.75rem;
        height: 1.75rem;
        color: currentColor;
        stroke-width: 2px;

        @media screen and (max-width: 56.25em) {
          width: 1.85rem;
          height: 1.85rem;
        }

        @media screen and (max-width: 51.25em) {
          width: 2rem;
          height: 2rem;
        }

        @include bp.sm {
          width: 1.75rem;
          height: 1.75rem;
        }

        @media screen and (max-width: 21.5em) {
          width: 1.5rem;
          height: 1.5rem;
        }

        @media screen and (max-width: 17.5em) {
          width: 1.45rem;
          height: 1.45rem;
        }

        @media screen and (min-width: 106.25em) {
          width: 1.85rem;
          height: 1.85rem;
        }

        @media screen and (min-width: 112.5em) {
          width: 2rem;
          height: 2rem;
        }

        @media screen and (min-width: 125em) {
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }

    &--input {
      display: none;
    }
  }
}
