@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.banner {
  width: 100%;
  height: 17rem;
  background-color: rgba(vars.$clr-black, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  margin-bottom: 7rem;

  @media screen and (max-width: 56.25em) {
    height: 18rem;
    margin-bottom: 7.5rem;
  }

  @media screen and (max-width: 51.25em) {
    height: 19rem;
    margin-bottom: 8rem;
  }

  @media screen and (max-width: 34.375em) {
    margin-bottom: 9rem;
  }

  @include bp.sm {
    height: 16rem;
    background-color: rgba(vars.$clr-tertiary-blue, 0.5);
  }

  @media screen and (max-width: 26.875em) {
    height: 14rem;
  }

  @media screen and (max-width: 21.5em) {
    height: 12rem;
    margin-bottom: 8rem;
  }

  @media screen and (max-width: 18.75em) {
    margin-bottom: 7rem;
  }

  @media screen and (max-width: 17.5em) {
    height: 11rem;
  }

  @media screen and (min-width: 106.25em) {
    height: 18rem;
    margin-bottom: 7.5rem;
  }

  @media screen and (min-width: 112.5em) {
    height: 19rem;
    margin-bottom: 8rem;
  }

  @media screen and (min-width: 125em) {
    height: 22rem;
    margin-bottom: 10rem;
  }

  &__loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(vars.$clr-black, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    &.avatar {
      border-radius: 50%;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 13rem;
    height: 13rem;
    background-color: vars.$clr-secondary-blue;
    border-radius: 50%;

    position: absolute;
    left: 3rem;
    bottom: -6.5rem;

    @media screen and (max-width: 76.25em) {
      left: 2.5rem;
    }

    @include bp.lg {
      left: 3rem;
    }

    @media screen and (max-width: 56.25em) {
      width: 14rem;
      height: 14rem;

      bottom: -7rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 15rem;
      height: 15rem;

      bottom: -7.5rem;
    }

    @media screen and (max-width: 34.375em) {
      left: 2rem;
    }

    @include bp.sm {
      width: 14rem;
      height: 14rem;
      background-color: vars.$clr-primary-blue;

      bottom: -7rem;
      left: 1.25rem;
    }

    @media screen and (max-width: 21.5em) {
      width: 13rem;
      height: 13rem;

      bottom: -6.5rem;
      left: 1rem;
    }

    @media screen and (max-width: 18.75em) {
      width: 12rem;
      height: 12rem;

      bottom: -6rem;
    }

    @media screen and (max-width: 17.5em) {
      width: 11rem;
      height: 11rem;

      bottom: -5.5rem;
    }

    @media screen and (min-width: 106.25em) {
      width: 14rem;
      height: 14rem;

      bottom: -7rem;
    }

    @media screen and (min-width: 112.5em) {
      width: 15rem;
      height: 15rem;

      bottom: -7.5rem;
    }

    @media screen and (min-width: 125em) {
      width: 17rem;
      height: 17rem;

      bottom: -8.5rem;
    }

    &--image {
      display: inline-block;
      width: 12rem;
      height: 12rem;
      cursor: pointer;
      position: relative;

      &.disabled {
        pointer-events: none;
        user-select: none;
      }

      @media screen and (max-width: 56.25em) {
        width: 13rem;
        height: 13rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 14rem;
        height: 14rem;
      }

      @include bp.sm {
        width: 13rem;
        height: 13rem;
      }

      @media screen and (max-width: 21.5em) {
        width: 12rem;
        height: 12rem;
      }

      @media screen and (max-width: 18.75em) {
        width: 11rem;
        height: 11rem;
      }

      @media screen and (max-width: 17.5em) {
        width: 10rem;
        height: 10rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 13rem;
        height: 13rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 14rem;
        height: 14rem;
      }

      @media screen and (min-width: 125em) {
        width: 16rem;
        height: 16rem;
      }
    }

    &--avatar {
      width: 100%;
      height: 100%;
      display: inline-block;
      object-fit: cover;
      border-radius: 50%;

      &.blurred {
        filter: blur(3px);
        pointer-events: none;
        user-select: none;
      }
    }
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 1rem;

    position: absolute;
    top: 1.5rem;
    right: 3rem;

    @media screen and (max-width: 76.25em) {
      right: 2.5rem;
    }

    @include bp.lg {
      right: 3rem;
    }

    @media screen and (max-width: 56.25em) {
      top: 2rem;
    }

    @media screen and (max-width: 51.25em) {
      top: 2.5rem;
    }

    @include bp.sm {
      top: 1.25rem;
      right: 1.25rem;
    }

    @media screen and (max-width: 21.5em) {
      top: 1rem;
      right: 1rem;
    }

    @media screen and (min-width: 106.25em) {
      top: 2rem;
    }

    @media screen and (min-width: 112.5em) {
      top: 2.5rem;
    }

    @media screen and (min-width: 125em) {
      top: 3rem;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;

    &.show {
      display: flex;
      visibility: visible;
      opacity: 1;
      z-index: 1000;
    }

    &.hide {
      display: none;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
    }
  }

  &__cover {
    width: 3.25rem;
    height: 3.25rem;
    background-color: rgba(vars.$clr-primary-blue, 0.25);
    color: vars.$clr-white;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;

    @media screen and (max-width: 56.25em) {
      width: 3.5rem;
      height: 3.5rem;
    }

    @media screen and (max-width: 51.25em) {
      width: 3.75rem;
      height: 3.75rem;
    }

    @include bp.sm {
      width: 4rem;
      height: 4rem;
    }

    @media screen and (max-width: 22.5em) {
      width: 3.85rem;
      height: 3.85rem;
    }

    @media screen and (max-width: 18.75em) {
      width: 3.75rem;
      height: 3.75rem;
    }

    @media screen and (min-width: 106.25em) {
      width: 3.5rem;
      height: 3.5rem;
    }

    @media screen and (min-width: 112.5em) {
      width: 3.75rem;
      height: 3.75rem;
    }

    @media screen and (min-width: 125em) {
      width: 4.25rem;
      height: 4.25rem;
    }

    &:hover {
      background-color: rgba(vars.$clr-primary-blue, 0.35);
    }

    svg {
      width: 1.75rem;
      height: 1.75rem;
      color: currentColor;
      stroke-width: 2px;

      @media screen and (max-width: 56.25em) {
        width: 1.85rem;
        height: 1.85rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 2rem;
        height: 2rem;
      }

      @include bp.sm {
        width: 1.85rem;
        height: 1.85rem;
      }

      @media screen and (max-width: 22.5em) {
        width: 1.7rem;
        height: 1.7rem;
      }

      @media screen and (max-width: 18.75em) {
        width: 1.6rem;
        height: 1.6rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 1.85rem;
        height: 1.85rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 2rem;
        height: 2rem;
      }

      @media screen and (min-width: 125em) {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }

  &__cover {
    &--image {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;
      color: inherit;
      position: relative;
      z-index: 1000;
      cursor: pointer;
    }
  }
}
