@use '../../../styles/responsive.scss' as bp;
@use '../../../styles/variables.scss' as vars;

.search {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;

    background-color: vars.$clr-secondary-blue;
    padding: 3rem;
    border-radius: 3px;

    @media screen and (max-width: 81.25em) {
      padding: 2rem;
    }

    @include bp.md {
      padding: 3rem;
      background-color: vars.$clr-primary-blue;
    }

    @media screen and (max-width: 22.5em) {
      padding: 2rem;
    }

    @media screen and (max-width: 18.75em) {
      padding: 1.5rem;
    }

    &--heading {
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: 1.65rem;
      color: inherit;
      line-height: 1.3;

      @media screen and (max-width: 56.25em) {
        font-size: 1.75rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 1.85rem;
      }

      @media screen and (max-width: 34.375em) {
        font-size: 1.95rem;
      }

      @include bp.sm {
        font-size: 2.05rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.85rem;
      }

      @media screen and (max-width: 18.75em) {
        font-size: 1.75rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.75rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 1.85rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.2rem;
      }
    }

    &--form {
      display: flex;
      align-items: center;
      width: 100%;

      input {
        appearance: none;
        display: inline-block;
        border: 0;
        outline: 0;
        font-family: inherit;
        font-weight: 600;
        font-size: 1.4rem;
        width: 100%;
        height: 4.5rem;
        padding: 1.6rem;
        background-color: vars.$clr-tertiary-blue;
        color: vars.$clr-white;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;

        @media screen and (max-width: 56.25em) {
          height: 4.6rem;
          font-size: 1.5rem;
        }

        @media screen and (max-width: 51.25em) {
          height: 4.7rem;
          font-size: var(--default-font-size);
        }

        @include bp.md {
          height: 5rem;
          background-color: vars.$clr-secondary-blue;
        }

        @media screen and (max-width: 34.375em) {
          font-size: 1.7rem;
        }

        @include bp.sm {
          font-size: 1.8rem;
        }

        @media screen and (max-width: 21.5em) {
          font-size: 1.65rem;
        }

        @media screen and (max-width: 18.75em) {
          font-size: 1.55rem;
        }

        @media screen and (max-width: 17.5em) {
          font-size: 1.5rem;
        }

        @media screen and (min-width: 106.25em) {
          height: 4.7rem;
          font-size: var(--default-font-size);
        }

        @media screen and (min-width: 112.5em) {
          height: 5.5rem;
          font-size: 1.8rem;
        }

        @media screen and (min-width: 125em) {
          height: 7rem;
          font-size: 2.15rem;
        }

        &:focus {
          border-radius: 3px;
        }

        &:disabled {
          pointer-events: none;
          user-select: none;
        }

        &::placeholder {
          font-weight: 600;
          font-size: 1.4rem;
          color: vars.$clr-white;

          @media screen and (max-width: 56.25em) {
            font-size: 1.5rem;
          }

          @media screen and (max-width: 51.25em) {
            font-size: var(--default-font-size);
          }

          @media screen and (max-width: 34.375em) {
            font-size: 1.7rem;
          }

          @include bp.sm {
            font-size: 1.8rem;
          }

          @media screen and (max-width: 18.75em) {
            font-size: 1.65rem;
          }

          @media screen and (min-width: 106.25em) {
            font-size: var(--default-font-size);
          }

          @media screen and (min-width: 112.5em) {
            font-size: 1.8rem;
          }

          @media screen and (min-width: 125em) {
            font-size: 2.15rem;
          }
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;

        border: 0;
        outline: 0;
        width: 5rem;
        height: 4.5rem;
        padding: 1.2rem;
        background-color: vars.$clr-pink-dark-1;
        color: vars.$clr-white;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        cursor: pointer;

        @media screen and (min-width: 106.25em) {
          width: 5.5rem;
          height: 4.7rem;
        }

        @media screen and (min-width: 112.5em) {
          width: 6.5rem;
          height: 5.5rem;
        }

        @media screen and (min-width: 125em) {
          width: 8rem;
          height: 7rem;
        }

        svg {
          width: 2rem;
          height: 2rem;
          color: currentColor;
          stroke-width: 2px;

          @media screen and (max-width: 56.25em) {
            width: 2.1rem;
            height: 2.1rem;
          }

          @media screen and (max-width: 51.25em) {
            width: 2.2rem;
            height: 2.2rem;
          }

          @media screen and (max-width: 17.5em) {
            width: 2.15rem;
            height: 2.15rem;
          }

          @media screen and (min-width: 106.25em) {
            width: 2.2rem;
            height: 2.2rem;
          }

          @media screen and (min-width: 112.5em) {
            width: 2.5rem;
            height: 2.5rem;
          }

          @media screen and (min-width: 125em) {
            width: 3.25rem;
            height: 3.25rem;
          }
        }
      }
    }
  }
}
