@import '../../styles/variables.scss';

.login {
  display: flex;
  justify-content: center;

  &__container {
    width: 144rem;
    min-height: 80vh;
    padding: 10rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrapper {
    width: 40rem;
    padding: 3rem;
    border: 2px solid $clr-secondary-blue;
    border-radius: 0.5rem;
  }

  &__heading {
    text-rendering: optimizeLegibility;
    font-weight: 500;
    font-size: 3rem;
    line-height: 2.5em;
  }

  &__text {
    font-size: 1.35rem;
  }

  .form {
    margin-top: 3rem;

    &__group {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }

    &__label {
      display: inline-block;
      width: 10rem;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 700;
      font-size: 1.4rem;
    }

    &__input {
      display: inline-block;
      outline: 0;
      font-size: 1.45rem;
      width: 100%;
      height: 5rem;
      padding: 1.6rem;
      background-color: transparent;
      color: $clr-white;
      border: 2px solid $clr-secondary-blue;
      border-radius: 0.5rem;
      transition: all 300ms;

      &:focus {
        background-color: $clr-secondary-blue;
      }

      &::placeholder {
        font-size: 1.35rem;
        color: $clr-white;
      }
    }

    &__forgot {
      display: inline-block;

      a {
        &:link,
        &:visited {
          font-weight: 700;
          font-size: 1.2rem;
          color: inherit;
        }
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  .auth {
    margin-top: 3rem;

    &__text {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      font-size: 1.2rem;
      color: $clr-gray-light;

      &--link {
        &:link,
        &:visited {
          font-weight: 700;
          color: $clr-white;
        }
      }
    }
  }
}
