@import '../../styles/variables.scss';

.login {
  display: flex;
  justify-content: center;

  &__container {
    width: 144rem;
    min-height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrapper {
    padding: 3rem;
    border: 1px solid $clr-secondary-blue;
  }

  &__heading {
    text-rendering: optimizeLegibility;
    font-weight: 500;
    font-size: 3rem;
    line-height: 2.5em;
  }

  &__text {
    font-size: 1.35rem;
  }

  .form {
    &__group {
    }

    &__label {
    }

    &__input {
    }

    &__forgot {
    }

    &__buttons {
    }
  }

  .auth {
    &__text {
      &--link {
      }
    }
  }
}
