@import '../../styles/variables.scss';

.login {
  display: flex;
  justify-content: center;

  &__container {
    width: 144rem;
    min-height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
