@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.contact-hero {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 30vw;
  background-color: rgba(vars.$clr-black, 0.2);
  background-image: linear-gradient(
      to right bottom,
      rgba(vars.$clr-black, 0.85),
      rgba(vars.$clr-gray-dark-1, 0.15)
    ),
    url('/img/hero-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include bp.xxl {
    height: 33vw;
  }

  @media screen and (max-width: 76.25em) {
    height: 35vw;
  }

  @media screen and (max-width: 68.75em) {
    height: 37vw;
  }

  @include bp.lg {
    height: 40vw;
  }

  @media screen and (max-width: 59.375em) {
    height: 43vw;
  }

  @media screen and (max-width: 56.25em) {
    height: 47vw;
  }

  @media screen and (max-width: 51.25em) {
    height: 50vw;
  }

  @include bp.md {
    height: 53vw;
  }

  @media screen and (max-width: 43.75em) {
    height: 55vw;
  }

  @media screen and (max-width: 40.625em) {
    height: 57vw;
  }

  @media screen and (max-width: 37.5em) {
    height: 60vw;
  }

  @media screen and (max-width: 34.375em) {
    height: 63vw;
  }

  @media screen and (max-width: 31.25em) {
    height: 65vw;
  }

  @include bp.sm {
    height: 70vw;
  }

  @media screen and (max-width: 26.875em) {
    height: 73vw;
  }

  @media screen and (max-width: 25em) {
    height: 75vw;
  }

  @media screen and (max-width: 24.375em) {
    height: 77vw;
  }

  @media screen and (max-width: 23.75em) {
    height: 80vw;
  }

  @media screen and (max-width: 23.4375em) {
    height: 83vw;
  }

  @media screen and (max-width: 22.5em) {
    height: 85vw;
  }

  @media screen and (max-width: 21.5em) {
    height: 87vw;
  }

  @media screen and (max-width: 18.75em) {
    height: 90vw;
  }

  @media screen and (max-width: 17.5em) {
    height: 93vw;
  }

  @media screen and (min-width: 106.25em) {
    height: 32vw;
  }

  @media screen and (min-width: 112.5em) {
    height: 35vw;
  }

  @media screen and (min-width: 125em) {
    height: 37vw;
  }

  &__wrapper {
    // width: 144rem;
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__icon {
    display: flex;
    align-items: center;

    position: absolute;

    &.left {
      top: 0;
      left: 0;
      left: 6rem;

      @media screen and (max-width: 93.75em) {
        left: 7rem;
      }

      @include bp.xxl {
        left: 6.5rem;
      }

      @media screen and (max-width: 81.25em) {
        left: 4.5rem;
      }

      @media screen and (max-width: 80em) {
        left: 3.75rem;
      }

      @media screen and (max-width: 76.25em) {
        left: 6.25rem;
      }

      @media screen and (max-width: 68.75em) {
        left: 4.75rem;
      }

      @include bp.lg {
        left: 5.5rem;
        left: 4.5rem;
      }

      @media screen and (max-width: 62.5em) {
        left: 4.25rem;
      }

      @media screen and (max-width: 59.375em) {
        left: 4rem;
      }

      @media screen and (max-width: 57.5em) {
        left: 3.35rem;
      }

      @media screen and (max-width: 57em) {
        left: 3rem;
        left: 2.75rem;
      }

      @media screen and (max-width: 56.25em) {
        left: 5.75rem;
      }

      @media screen and (max-width: 53.75em) {
        left: 5rem;
      }

      @media screen and (max-width: 53.3125em) {
        left: 4.5rem;
        left: 3.25rem;
      }

      @media screen and (max-width: 51.25em) {
        left: 4.75rem;
        left: 3.5rem;
      }

      @include bp.md {
        left: 3rem;
      }

      @media screen and (max-width: 43.75em) {
        left: 2.25rem;
      }

      @media screen and (max-width: 41.875em) {
        left: 2.75rem;
      }

      @media screen and (max-width: 38.75em) {
        left: 1.25rem;
      }

      @media screen and (max-width: 37.5em) {
        left: 2.5rem;
      }

      @media screen and (max-width: 34.375em) {
        left: 1.75rem;
      }

      @media screen and (max-width: 33.75em) {
        left: 1.25rem;
      }

      @include bp.sm {
        left: 2rem;
      }

      @media screen and (max-width: 31.5em) {
        left: 2.25rem;
      }

      @media screen and (max-width: 28.125em) {
        left: 1.75rem;
      }

      @media screen and (max-width: 26.875em) {
        left: 1.85rem;
      }

      @media screen and (max-width: 26.25em) {
        left: 2rem;
      }

      @media screen and (max-width: 26em) {
        left: 1.85rem;
      }

      @media screen and (max-width: 25em) {
        left: 1.75rem;
      }

      @media screen and (max-width: 24.375em) {
        left: 2rem;
      }

      @media screen and (max-width: 23.75em) {
        left: 2.25rem;
      }

      @media screen and (max-width: 22.5em) {
        left: 2rem;
      }

      @media screen and (max-width: 21.5em) {
        left: 1.85rem;
      }

      @media screen and (max-width: 20em) {
        left: 1.5rem;
      }

      @media screen and (max-width: 18.75em) {
        left: 1.25rem;
      }

      @media screen and (max-width: 17.5em) {
        left: 1rem;
      }

      @media screen and (min-width: 106.25em) {
        left: 11rem;
      }

      @media screen and (min-width: 112.5em) {
        left: 7rem;
      }

      @media screen and (min-width: 125em) {
        left: 6rem;
      }

      svg {
        color: vars.$clr-pink-dark-1;
      }
    }

    &.right {
      bottom: 0;
      right: 0;
      right: 6rem;
      transform: rotate(180deg);

      @media screen and (max-width: 93.75em) {
        right: 7rem;
      }

      @include bp.xxl {
        right: 6.5rem;
      }

      @media screen and (max-width: 81.25em) {
        right: 4.5rem;
      }

      @media screen and (max-width: 80em) {
        right: 3.75rem;
      }

      @media screen and (max-width: 76.25em) {
        right: 6.25rem;
      }

      @media screen and (max-width: 68.75em) {
        right: 4.75rem;
      }

      @include bp.lg {
        right: 5.5rem;
        right: 4.5rem;
      }

      @media screen and (max-width: 62.5em) {
        right: 4.25rem;
      }

      @media screen and (max-width: 59.375em) {
        right: 4rem;
      }

      @media screen and (max-width: 57.5em) {
        right: 3.35rem;
      }

      @media screen and (max-width: 57em) {
        right: 3rem;
        right: 2.75rem;
      }

      @media screen and (max-width: 56.25em) {
        right: 5.75rem;
      }

      @media screen and (max-width: 53.75em) {
        right: 5rem;
      }

      @media screen and (max-width: 53.3125em) {
        right: 4.5rem;
        right: 3.25rem;
      }

      @media screen and (max-width: 51.25em) {
        right: 4.75rem;
        right: 3.5rem;
      }

      @include bp.md {
        right: 3rem;
      }

      @media screen and (max-width: 43.75em) {
        right: 2.25rem;
      }

      @media screen and (max-width: 41.875em) {
        right: 2.75rem;
      }

      @media screen and (max-width: 38.75em) {
        right: 1.25rem;
      }

      @media screen and (max-width: 37.5em) {
        right: 2.5rem;
      }

      @media screen and (max-width: 34.375em) {
        right: 1.75rem;
      }

      @media screen and (max-width: 33.75em) {
        right: 1.25rem;
      }

      @media screen and (max-width: 31.5em) {
        right: 2.25rem;
      }

      @include bp.sm {
        right: 2rem;
      }

      @media screen and (max-width: 28.125em) {
        right: 1.75rem;
      }

      @media screen and (max-width: 26.875em) {
        right: 1.85rem;
      }

      @media screen and (max-width: 26.25em) {
        right: 2rem;
      }

      @media screen and (max-width: 26em) {
        right: 1.85rem;
      }

      @media screen and (max-width: 25em) {
        right: 1.75rem;
      }

      @media screen and (max-width: 24.375em) {
        right: 2rem;
      }

      @media screen and (max-width: 23.75em) {
        right: 2.25rem;
      }

      @media screen and (max-width: 22.5em) {
        right: 2rem;
      }

      @media screen and (max-width: 21.5em) {
        right: 1.85rem;
      }

      @media screen and (max-width: 20em) {
        right: 1.5rem;
      }

      @media screen and (max-width: 18.75em) {
        right: 1.25rem;
      }

      @media screen and (max-width: 17.5em) {
        right: 1rem;
      }

      @media screen and (min-width: 106.25em) {
        right: 11rem;
      }

      @media screen and (min-width: 112.5em) {
        right: 7rem;
      }

      @media screen and (min-width: 125em) {
        right: 6rem;
      }

      svg {
        color: vars.$clr-orange-dark;
      }
    }

    svg {
      width: 5rem;
      height: 5rem;
      stroke-width: 1px;

      @media screen and (max-width: 56.25em) {
        width: 5.25rem;
        height: 5.25rem;
      }

      @media screen and (max-width: 51.25em) {
        width: 5.5rem;
        height: 5.5rem;
      }

      @media screen and (max-width: 34.375em) {
        width: 5.45rem;
        height: 5.45rem;
      }

      @media screen and (max-width: 21.5em) {
        width: 5.25rem;
        height: 5.25rem;
      }

      @media screen and (max-width: 18.75em) {
        width: 5rem;
        height: 5rem;
      }

      @media screen and (min-width: 106.25em) {
        width: 5.25rem;
        height: 5.25rem;
      }

      @media screen and (min-width: 112.5em) {
        width: 5.5rem;
        height: 5.5rem;
      }

      @media screen and (min-width: 125em) {
        width: 7rem;
        height: 7rem;
      }

      &:not(:first-child) {
        margin-left: -3.65rem;

        @media screen and (max-width: 56.25em) {
          margin-left: -4rem;
        }

        @media screen and (max-width: 51.25em) {
          margin-left: -4.25rem;
        }

        @media screen and (max-width: 34.375em) {
          margin-left: -4.35rem;
        }

        @media screen and (max-width: 21.5em) {
          margin-left: -4.25rem;
        }

        @media screen and (max-width: 18.75em) {
          margin-left: -4.15rem;
        }

        @media screen and (min-width: 106.25em) {
          margin-left: -3.85rem;
        }

        @media screen and (min-width: 112.5em) {
          margin-left: -4.25rem;
        }

        @media screen and (min-width: 125em) {
          margin-left: -5.65rem;
        }
      }
    }
  }

  &__box {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    &--heading {
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      text-decoration: underline wavy;
      text-underline-offset: 1rem;
      text-decoration-thickness: 0.25rem;
      text-decoration-color: vars.$clr-pink-dark-1;
      font-weight: 700;
      font-size: 4rem;
      color: inherit;

      @media screen and (max-width: 56.25em) {
        font-size: 4.1rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 4.2rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 4.05rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 4.1rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 4.2rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 4.5rem;
      }
    }

    &--paragraph {
      width: 75%;
      text-align: center;
      font-size: 1.8rem;
      color: inherit;
      line-height: 1.4;

      @media screen and (max-width: 56.25em) {
        font-size: 1.9rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 2rem;
      }

      @media screen and (max-width: 37.5em) {
        width: 80%;
      }

      @media screen and (max-width: 34.375em) {
        width: 85%;
      }

      @include bp.sm {
        width: 90%;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.85rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.9rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 2rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.3rem;
      }
    }
  }
}
