@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.contact-hero {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 30vw;
  background-color: rgba(vars.$clr-black, 0.2);
  background-image: linear-gradient(
      to right bottom,
      rgba(vars.$clr-black, 0.85),
      rgba(vars.$clr-gray-dark-1, 0.15)
    ),
    url('/hero-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__wrapper {
    width: 144rem;
    height: 100%;
    position: relative;
  }

  &__icon {
    display: flex;
    align-items: center;

    position: absolute;

    &.left {
      top: 0;
      left: 0;

      svg {
        color: vars.$clr-pink-dark-1;
      }
    }

    &.right {
      bottom: 0;
      right: 0;
      transform: rotate(180deg);

      svg {
        color: vars.$clr-orange-dark;
      }
    }

    svg {
      width: 5rem;
      height: 5rem;
      stroke-width: 1px;

      &:not(:first-child) {
        margin-left: -3.65rem;
      }
    }
  }

  &__box {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    &--heading {
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      text-decoration: underline wavy;
      text-underline-offset: 1rem;
      text-decoration-thickness: 0.25rem;
      text-decoration-color: vars.$clr-pink-dark-1;
      font-weight: 700;
      font-size: 4rem;
      color: inherit;

      @media screen and (max-width: 56.25em) {
        font-size: 4.1rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 4.2rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 4.05rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 4.1rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 4.2rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 4.3rem;
      }
    }

    &--paragraph {
      width: 75%;
      text-align: center;
      font-size: 1.8rem;
      color: inherit;
      line-height: 1.4;

      @media screen and (max-width: 56.25em) {
        font-size: 1.9rem;
      }

      @media screen and (max-width: 51.25em) {
        font-size: 2rem;
      }

      @media screen and (max-width: 22.5em) {
        font-size: 1.85rem;
      }

      @media screen and (min-width: 106.25em) {
        font-size: 1.9rem;
      }

      @media screen and (min-width: 112.5em) {
        font-size: 2rem;
      }

      @media screen and (min-width: 125em) {
        font-size: 2.1rem;
      }
    }
  }
}
