@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.comment-skeleton {
  display: flex;
  flex-direction: column;

  padding: 2.5rem 0;

  &:not(:last-child) {
    border-bottom: 1px solid vars.$clr-tertiary-blue;
  }

  .react-loading-skeleton {
    --base-color: #021124 !important;

    @include bp.sm {
      --base-color: #152233 !important;
    }
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 3rem;

    @media screen and (max-width: 81.25em) {
      gap: 2rem;
    }

    @media screen and (max-width: 26.875em) {
      gap: 0;
    }
  }

  &__user {
    &--img {
      width: 8rem !important;
      height: 8rem !important;

      @media screen and (max-width: 56.25em) {
        width: 8.5rem !important;
        height: 8.5rem !important;
      }

      @media screen and (max-width: 51.25em) {
        width: 9rem !important;
        height: 9rem !important;
      }

      @include bp.md {
        width: 8.25rem !important;
        height: 8.25rem !important;
      }

      @include bp.sm {
        width: 8rem !important;
        height: 8rem !important;
      }

      @media screen and (max-width: 26.875em) {
        display: none;
      }

      @media screen and (min-width: 106.25em) {
        width: 8.5rem !important;
        height: 8.5rem !important;
      }

      @media screen and (min-width: 112.5em) {
        width: 9rem !important;
        height: 9rem !important;
      }

      @media screen and (min-width: 125em) {
        width: 13rem !important;
        height: 13rem !important;
      }

      &::after {
        border-radius: 50%;
      }
    }
  }

  &__details {
    &--username,
    &--desc {
      border-radius: 0.5rem;

      &::after {
        border-radius: 0.5rem;
      }
    }

    &--username {
      width: 15rem !important;

      @media screen and (max-width: 53.75em) {
        width: 13rem !important;
      }

      @media screen and (max-width: 51.25em) {
        width: 18rem !important;
      }

      @media screen and (max-width: 34.375em) {
        width: 15rem !important;
      }

      @media screen and (max-width: 21.5em) {
        width: 13rem !important;
      }

      @media screen and (max-width: 17.5em) {
        width: 11rem !important;
      }

      @media screen and (min-width: 112.5em) {
        width: 17rem !important;
        height: 2rem !important;
      }

      @media screen and (min-width: 125em) {
        width: 20rem !important;
        height: 2.2rem !important;
      }
    }

    &--desc {
      width: 62.5rem !important;
      height: 1.5rem !important;

      @include bp.xxl {
        width: 57.5rem !important;
      }

      @media screen and (max-width: 81.25em) {
        width: 60.5rem !important;
      }

      @media screen and (max-width: 76.25em) {
        width: 52.5rem !important;
      }

      @media screen and (max-width: 59.375em) {
        width: 47.5rem !important;
      }

      @media screen and (max-width: 57.5em) {
        width: 45.5rem !important;
      }

      @media screen and (max-width: 56.25em) {
        width: 49.5rem !important;
      }

      @media screen and (max-width: 53.75em) {
        width: 46.5rem !important;
      }

      @media screen and (max-width: 51.25em) {
        width: 65rem !important;
      }

      @include bp.md {
        width: 62rem !important;
      }

      @media screen and (max-width: 43.75em) {
        width: 55rem !important;
      }

      @media screen and (max-width: 41.875em) {
        width: 50rem !important;
      }

      @media screen and (max-width: 34.375em) {
        width: 47rem !important;
      }

      @media screen and (max-width: 31.25em) {
        width: 40rem !important;
      }

      @include bp.sm {
        width: 38rem !important;
      }

      @media screen and (max-width: 28.125em) {
        width: 35rem !important;
      }

      @media screen and (max-width: 26.875em) {
        width: 43rem !important;
      }

      @media screen and (max-width: 26.25em) {
        width: 42rem !important;
      }

      @media screen and (max-width: 25em) {
        width: 40rem !important;
      }

      @media screen and (max-width: 24.375em) {
        width: 39rem !important;
      }

      @media screen and (max-width: 23.75em) {
        width: 38rem !important;
      }

      @media screen and (max-width: 23.4375em) {
        width: 37.5rem !important;
      }

      @media screen and (max-width: 22.5em) {
        width: 36rem !important;
      }

      @media screen and (max-width: 21.5em) {
        width: 34rem !important;
      }

      @media screen and (max-width: 20em) {
        width: 32rem !important;
      }

      @media screen and (max-width: 18.75em) {
        width: 30rem !important;
      }

      @media screen and (max-width: 17.5em) {
        width: 28rem !important;
      }

      @media screen and (min-width: 112.5em) {
        width: 65rem !important;
        height: 2rem !important;
      }

      @media screen and (min-width: 125em) {
        width: 74rem !important;
        height: 2.2rem !important;
      }
    }
  }

  &__dateBox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1rem;

    &--time,
    &--reply {
      border-radius: 0.5rem;

      &::after {
        border-radius: 0.5rem;
      }
    }

    &--time {
      width: 12rem !important;

      @media screen and (max-width: 53.75em) {
        width: 10rem !important;
      }

      @media screen and (max-width: 51.25em) {
        width: 15rem !important;
      }

      @media screen and (max-width: 34.375em) {
        width: 13rem !important;
      }

      @media screen and (max-width: 24.375em) {
        width: 12rem !important;
      }

      @media screen and (max-width: 21.5em) {
        width: 10rem !important;
      }

      @media screen and (max-width: 17.5em) {
        width: 8rem !important;
      }

      @media screen and (min-width: 112.5em) {
        width: 14rem !important;
        height: 2rem !important;
      }

      @media screen and (min-width: 125em) {
        width: 16rem !important;
        height: 2.2rem !important;
      }
    }

    &--reply {
      width: 6rem !important;

      @media screen and (max-width: 53.75em) {
        width: 4rem !important;
      }

      @media screen and (max-width: 51.25em) {
        width: 7rem !important;
      }

      @media screen and (max-width: 34.375em) {
        width: 6rem !important;
      }

      @media screen and (max-width: 24.375em) {
        width: 5rem !important;
      }

      @media screen and (max-width: 21.5em) {
        width: 4rem !important;
      }

      @media screen and (max-width: 17.5em) {
        width: 3rem !important;
      }

      @media screen and (min-width: 112.5em) {
        width: 8rem !important;
        height: 2rem !important;
      }

      @media screen and (min-width: 125em) {
        width: 10rem !important;
        height: 2.2rem !important;
      }
    }
  }
}
